<style>
div.tip {
  display: block;
  align: center;
}

table.recordtable th {
  border: 2px solid #0077b2;
  padding: 5px;
  text-align: center;
}

table.recordtable td {
  border: 2px solid #0077b2;
  padding: 5px;
}

h1 {
  color: #00b230
}
</style>
<div class="layout--content-primary">
  <div id="breadcrumb">
    <a href="/">{{ t('general_home') }}</a>
    &rarr;
    {{ t('gamerequests_gr') }}
  </div>

  <h2>{{ t('gamerequests_gr') }}</h2>

  {{ t('gamerequests_maintip') }}
  <br />
  <br />

  <form action="/game_requests" method="post">
    <input type="submit" name="submit" value="{{ t('gamerequests_send') }}" />
    <br />
    <br />

    <table class="recordtable zebra" border="1">
      <th>{{ t('gamerequests_field') }}</th>
      <th>{{ t('gamerequests_tips') }}</th>
      <th>{{ t('gamerequests_input') }}</th>
      <th>{{ t('gamerequests_exampleinput') }}</th>
      {% for field in fields %}
        <tr>
          <td>
            <b>{{ field[0] }}</b>
            <br />
            {% if field[4] %}
              {{ prettify(t('gamerequests_required')) }}
            {% endif %}
          </td>
          <td>{{ field[1] }}</td>
          <td>
            {% if field[2] == 'game_exists' %}
              <label><input name='{{ field[2] }}' required type='radio' value='no' /> No</label>
              <br/>
              <label><input name='{{ field[2] }}' required type='radio' value='yes' /> Yes</label>,
              with game ID:
              <input type='text' name="game_id" cols="100" disabled />
            {% else %}
              <textarea name="{{ field[2] }}" cols="100" {% if field[4] %}required{% endif %} /></textarea>
            {% endif %}
          </td>
          <td>{{ prettify(field[3]) }}</td>
        </tr>
      {% endfor %}
    </table>
    <br />
    <br />

    <input type="submit" name="submit" value="{{ t('gamerequests_send') }}" />
  </form>
</div>
<script>
Array.from(document.querySelectorAll('input[name=game_exists]')).forEach((input) => {
  const game_id = document.querySelector('input[name=game_id]');

  input.addEventListener('change', (e) => {
    game_id.required = (e.target.value == "yes");
    game_id.disabled = !(e.target.value == "yes");
  });
});
</script>
