{% if scoreboard|length > 0 %}
  <div class='sidebar-section small-scoreboard small-scoreboard--solution'>
    <h2 class="sidebar-title sidebar-title--solution">
      <a href="/game_scoreboard?game_id={{ game.game_id }}&board=solution">{{ t('general_solution_hub') }}</a>
    </h2>
    <div class='sidebar-section-body'>
      <table>
        <tr>
          <th></th>
          <th><img src="{{ skin_image_url('scoreboards/solution.png') }}" alt="{{ t('general_brain_power') }}" title="{{ t('general_brain_power') }}" /></th>
          <th><img src="{{ skin_image_url('scoreboards/subs.png') }}" alt="{{ t('general_submissions') }}" title="{{ t('general_submissions') }}" /></th>
        </tr>
        {% for leader in scoreboard %}
          <tr>
            <td class="username">
              {{ user_avatar_image_tag(leader, {'link': true}) }}
              {{ country_flag_image_tag(leader) }}
              {{ link_to_user(leader) }}
            </td>
            <td class="medal">{{ leader.brain_power|number_format(0) }}</td>
            <td class="medal">{{ leader.num_subs   |number_format(0) }}</td>
          </tr>
        {% endfor %}
      </table>

      <div class='small-scoreboard-more'>
        <a href="/game_scoreboard?game_id={{ game.game_id }}&board=solution">{{ t('game_full_solutionhub') }}</a>
      </div>
    </div>
  </div>
{% endif %}
