<div class="layout--content-primary layout--content-primary-readable">
  <div id="breadcrumb">
    <a href="/">Home</a>
  </div>

  <h1>Rule editor</h1>

  <a href="/rules">Back to rule overview</a>
  <br />
  <br />

  <p>Rule #{{ rule['rule_id'] }} is used in {{ level_info['num_levels'] }} charts</p>

  <p>
  {% for game in game_info %}
    {{ game['num_levels'] }} in {{ link_to_game(game) }}
    <br />
  {% endfor %}
  </p>

  <form method="post" action="{{ url_for({'rule': rule}) }}">
    <textarea name="rule_text" cols="100" rows="5">{{ rule['rule_text'] }}</textarea>
    <br />
    <input type="submit" value="Change rule text" />
  </form>

  <br />
  <br />

  <form method="post" action="{{ delete_url_for({'rule': rule}) }}">
    <input type="submit" value="Delete rule" />
  </form>
</div>
