<div class="layout--content-primary">
  <div id="breadcrumb">
    <a href="/">Home</a>
  </div>

  <h1>Rule editor</h1>

  <a href="/rules">Back to rule overview</a>
  <br />
  <br />

  <form method="post" action="/rules">
    <input type="hidden" name="action" value="add" />
    <textarea name="rule_text" cols="100" rows="5"></textarea>
    <br />
    <input type="submit" value="Add rule" />
  </form>
</div>
