<div class="layout--content-primary">
  <h1>
    {{ link_to_game(game) }} &rarr;
    Improve your scores
  </h1>

  <form method="get">
    Show scores between positions
    <input style="width: 25px" type="number" id="min" name="min" value="{{ filters['min'] }}" />
    and
    <input style="width: 25px" type="number" id="max" name="max" value="{{ filters['max'] }}" />
    (Hide tied 1st places: <input type="checkbox" id="untied-only" name="untied-only" {% if filters['ties'] == 'on' %}checked='checked'{% endif %}>)
    <br>
    <br>

    <select name="group_ids[]" size="7" multiple="multiple">
      {% for group in groups %}
        <option
          value="{{ group['group_id'] }}"
          {{ option_selected(group['group_id'], selected_group_ids) }}
        >
          {{ group['name'] }}
        </option>
      {% endfor %}
    </select>
    <br><br>
    <input type="submit" value="{{ t('groupstats_select_groups') }}" />
    <br><br>
  </form>

  {% if possible_improvements|length == 0 %}
    No charts matched your selection
  {% else %}
    <table class="zebra">
      <tr>
        <td>Group / chart</td>
        <td>First place score</td>
        <td>My score</td>
        <td>Position</td>
      </tr>
      {% for improvement in possible_improvements %}
        <tr>
          <td>
            {{ link_to_game_group(improvement['score']) }} &rarr;
            <span class="chartname_{{ improvement['class'] }}">
              {% if improvement['score']['players'] > 1 %}[{{ improvement['score']['players'] }}P]{% endif %}
              {{ link_to_chart(improvement['score'], {'class': improvement['class']}) }}
            </span>
          </td>
          <td>
            <b>{{ format_submission(improvement['first'][0]) }}</b>
            ({{ improvement['first']|length }}/{{ improvement['score']['num_subs'] }} players)
          </td>
          <td>
            <b>{{ format_submission(improvement['score']) }}</b>
          </td>
          <td>
            {% if improvement['score']['chart_pos'] == 1 %}
              Tied for first
            {% else %}
              {{ nth(improvement['score']['chart_pos']) }} place
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </table>
  {% endif %}
</div>
