<p>Hello {{ username|e }},</p>

<p>According to your Cyberscore profile, it's your birthday today!</p>

<p>So on behalf of everyone here at Cyberscore, have a good one. Happy birthday!</p>

{{ signature|nl2br }}

<hr />
{{ automated_warning|nl2br }}
