Hi $username,

You have requested a password reset, so we are e-mailing you this code as an
identity check. Please enter it in the space provided on the password reset
form.

This verifies you are the owner of this e-mail address and therefore the
account.

PASSWORD RESET VERIFICATION CODE: {{ vcode }}

{{ signature }}

---------------

{{ automated_warning }}

