<script type="text/javascript">
function showSpoiler(obj) {
  var inner = obj.parentNode.getElementsByTagName("div")[0];
  if (inner.style.display == "none") {
    inner.style.display = "";
  } else {
    inner.style.display = "none";
  }
}
</script>

<div class="layout--content-primary">
  <div id="breadcrumb" class="clearfix">
    <a href="/">Home</a> &rarr;
    <a href="/admin">{{ t('general_site_tools') }}</a> &rarr;
    Banned users
  </div>

  <h1>Banned users</h1>

  <table class="zebra" border="1" cellpadding="4">
    <tr>
      <th>Username</th>
      <th>Moderator Notes</th>
      <th>Edit Moderator Notes</th>
    </tr>
    {% for user in users %}
      <tr>
        <td width=30%>{{ link_to_user(user) }}</td>
        <td width=45%>
          {{ prettify(user.mod_notes) }}

          {% if user.mod_notes_date %}
            <br />
            <br />
            <strong>
              This mod note was last updated
              by {{ user.moderator_username }}
              on {{ format_datetime(user.mod_notes_date) }}
            </strong>
          {% endif %}
        </td>

        <td width=25%>
          <div class="spoiler">
            <input type="button" onclick="showSpoiler(this);" value="Edit moderator notes" />
            <br />
            <div class="inner" style="display:none;">
              <form action="/admin/banned_users/{{ user.user_id }}" method="post">
                <textarea name="mod_notes" rows="5" cols="50">{{ user.mod_notes }}</textarea>
                <br />
                <input type="submit" value="Edit mod notes" />
              </form>
            </div>
          </div>
        </td>
      </tr>
    {% endfor %}
  </table>
</div>
