<div class="layout--content-primary">
  <div id="breadcrumb">
    <a href="/">Home</a> &rarr; {{ pmodel }}
  </div>

  <h1>{{ pmodel }}</h1>

  <table>
    <tr>
      <th>ID</th>
      <th>Actions</th>
    </tr>
    {{ '{%' }} for {{ svar }} in {{ pvar }} {{ '%}' }}
      <tr>
        <td>{{ '{{' }} {{ svar }}.{{ svar }}_id {{ '}}' }}</td>
        <td>
          <a href="/{{ path }}/{{ '{{' }} {{ svar }}.{{ svar }}_id {{ '}}' }}/edit">Edit</a>
          {{ '{%' }} if platform.platform_check == 0 {{ '%}' }}
            /
            <form
                class='delete'
                action="/{{ path }}/{{ '{{' }} {{ svar }}.{{ svar }}_id {{ '}}' }}/delete"
                method="post">
              <input type="submit" value="Delete" />
            </form>
          {{ '{%' }} endif {{ '%}' }}
        </td>
      </tr>
    {{ '{%' }} endfor {{ '%}' }}
  </table>

  <form action="/{{ path }}" method="post">
    <table>
      <tr>
        <td></td>
        <td><input type="submit" value="Create" /></td>
      </tr>
    </table>
  </form>
</div>
