{{ skin_stylesheet("chart48.css") }}
<div class="layout--content-primary">
  <div class="charts-show-title-header">
    <div id="breadcrumb" class="clearfix">
      Test page
    </div>
  </div>

  {% for chart in charts %}
    <div class='charts-index48-viewport'>
      {{ render_component_with('charts/scoreboard', {'chart': chart}) }}
    </div>
  {% endfor %}
</div>

<div class="layout--sidebar-primary">
  <details class="sidebar-section" data-id="filters" open>
    <summary class="sidebar-title">Display Options</summary><br>
    <div>
      <select class="charts-show-filter-approved-only">
        <option value="all" selected="selected">All records</option>
        <option value="approved">Approved records only</option>
      </select>
    </div>

    <div>
      <select class="charts-show-filter-friends-only">
        <option value="all" selected="selected">{{ t('chart_top_all', {'subs': 0}) }}</option>
        <option value="top10">{{ t('chart_top_10', {'subs': 0}) }}</option>
        <option value="friends">{{ t('chart_top_friends') }}</option>
      </select>
    </div>
  </details>
</div>

<script type="text/javascript">
function toggleComment(e) {
  document.getElementById(e.dataset.row).classList.toggle('show-comment');
}

document.querySelector(".charts-show-filter-approved-only").addEventListener('change', (e) => {
  if (e.target.value == "approved") {
    document.querySelector(".charts-show-scoreboard").classList.add("filter-approved");
  } else {
    document.querySelector(".charts-show-scoreboard").classList.remove("filter-approved");
  }
});

document.querySelector(".charts-show-filter-friends-only").addEventListener('change', (e) => {
  document.querySelector(".charts-show-scoreboard").classList.remove("filter-friends");
  document.querySelector(".charts-show-scoreboard").classList.remove("filter-top10");

  if (e.target.value == "friends") {
    document.querySelector(".charts-show-scoreboard").classList.add("filter-friends");
  } else if (e.target.value == "top10") {
    document.querySelector(".charts-show-scoreboard").classList.add("filter-top10");
  }
});
</script>
