<h3 class='middle'>{{ t('documentation_mechanics_experience_title') }}</h3>

{{ t('documentation_mechanics_experience')|raw }}

<table style="width: 20%; border: 2px solid black; border-collapse: collapse;" >

    <!-- Headers. -->
    <th style="text-align: center; border: 2px solid black;">{{ t('general_level') }}</th>
    <th style="text-align: center; border: 2px solid black;">{{ t('general_cxp') }}</th>

    <!-- Level 1 has custom handling -->
    <tr>
        <td style="text-align: center;"><b>1</b></td>
        <td style="text-align: center;">0</td>
    </tr>

    <!-- Level 2+ according to a formula. Level 20 is an arbitrary cap but each level gets increasingly unlikely to be reached -->
{% for i in 2..20 %}
    <tr>
        <td style="text-align: center;"><b>{{ i }}</b></td>
        <td style="text-align: center;">{{ (25 * (2.5 ** (i - 2)))|number_format(0) }}</td>
    </tr>
{% endfor %}

</table>

