<div class="layout--content-primary layout--content-primary-readable">
  <div id="breadcrumb">
    <a href="/">Home</a> &rarr; EmailBans
  </div>

  <h1>Email domain bans</h1>

  <table>
    <tr>
      <th>ID</th>
      <th>Domain</th>
      <th>Actions</th>
    </tr>
    {% for email_ban in email_bans %}
      <tr>
        <td>{{ email_ban.email_ban_id }}</td>
        <td>{{ email_ban.domain }}</td>
        <td>
          <a href="/admin/email-bans/{{ email_ban.email_ban_id }}/edit">Edit</a>
          {% if platform.platform_check == 0 %}
            /
            <form
                class='delete'
                action="/admin/email-bans/{{ email_ban.email_ban_id }}/delete"
                method="post"
                style='display: inline'
                >
              <input type="submit" value="Delete" />
            </form>
          {% endif %}
        </td>
      </tr>
    {% endfor %}
  </table>

  <form action="/admin/email-bans" method="post">
    <table>
      <tr>
        <td><input type='text' name='domain' /></td>
        <td><input type="submit" value="Create" /></td>
      </tr>
    </table>
  </form>
</div>
