<div class="layout--content-primary">
  <div id="breadcrumb">
    <a href="/">Home</a> &rarr;
    <a href="info.php">Translation Home</a> &rarr;
    Translation FAQ
  </div>

  <h1>Translation FAQ</h1>

  <h3>{{ t('faq_translation_header_1') }}</h3>
  <p>{{ t('faq_translation_1') }}</p>

  <h3>{{ t('faq_translation_header_2') }}</h3>
  <p>{{ t('faq_translation_2') }}</p>

  <h3>{{ t('faq_translation_header_3') }}</h3>
  <p>{{ t('faq_translation_3') }}</p>
</div>

<div class="layout--sidebar-primary">
  {{ render_component_with("translations/menu", []) }}
</div>
