<div class="layout--content-primary">
  <div id="breadcrumb" class="clearfix">
    <a href="/">Home</a> &rarr; Translation Home
  </div>

  <h1>Translation</h1>

  <h2>If you are here for the first time, please read <a href="/translations/faq">the translation FAQ</a> first.</h2>

  <table class="zebra">
    <tr>
      <td><b>Language name</b></td>
      <td><a href="/translations/countries"><b>Country names</b></a></td>
      <td><a href="/translations/news"><b>News Headline</b></a></td>
      <td><a href="/translations/news"><b>News Text</b></a></td>
      <td><a href="/translations/rules"><b>Rules</b></a></td>
      <td><a href="/translations/proof-rules"><b>Proof Guidelines</b></a></td>
      <td><a href="/translations/games"><b>Games</b></a></td>
      <td><a href="/translations/page-strings"><b>Page translation</b></a></td>
    </tr>
    {% for language in languages %}
      <tr>
        <td>{{ language['language_name'] }}</td>
        <td>{{ language['country_count'] }}</td>
        <td>{{ language['news_headline_count'] }}</td>
        <td>{{ language['news_text_count'] }}</td>
        <td>{{ language['proof_rule_count'] }}</td>
        <td>{{ language['rule_count'] }}</td>
        <td>{{ language['game_progress_count'] }}</td>
        <td>{{ language['translation_page_count'] }}</td>
      </tr>
    {% endfor %}
  </table>
</div>

<div class="layout--sidebar-primary">
  {{ render_component_with("translations/menu", []) }}
</div>
