<div class="layout--content-primary">
  <div id="breadcrumb" class="clearfix">
    <a href="/">{{ t('general_home') }}</a> &rarr;
    <a href="info.php">Translation Home</a> &rarr;
    Add a translator
  </div>

  <h1>Translators</h1>

  <table class='zebra' style="max-width: 300px;">
    {% for user in users %}
      <tr>
        <td>{{ link_to_user(user) }}</td>
        <td>{{ user['language_codes'] }}</td>
        <td>
          <form
            action="/translations/translators/{{ user['user_id'] }}/delete"
            method="post"
            style="display:inline"
            onclick="return confirm('Are you sure you want to remove this user from the Translators list?')"
          />
            <input type="image" src="/images/delete.png" alt="Remove as translator" title="Remove as translator" />
          </form>
        </td>
      </tr>
    {% endfor %}
  </table>

  <h2 class="caption">Add translator info:</h2>
  <form action="/translations/translators/languages" method="post">
    <select name="user_id">
      {% for user in users %}
        <option value="{{ user['user_id'] }}">{{ user['username'] }}</option>
      {% endfor %}
    </select>
    <select name="language_code">
      {% for language in languages %}
        <option value="{{ language['language_code'] }}">{{ language['language_name'] }}</option>
      {% endfor %}
    </select>
    <input type="submit" value="Submit" />
  </form>
  <br />

  <h2 class="caption">Add new user:</h2>
  <form action="/translations/translators" method="post">
    Username: <input type="text" name="username" value="" />
    <input type="submit" value="Submit" />
  </form>
</div>

<div class="layout--sidebar-primary">
  {{ render_component_with("translations/menu", []) }}
</div>
