<div class="layout--content-primary">
  <div id="breadcrumb">
    <a href="/">Home</a> &rarr;
    Pending proofs
  </div>

  <h1>Pending proofs</h1>

  <h2>This page contains all records which have proof awaiting action.</h2>

  <p>
    Use the action dropdown on each record to specify what you wish to do
    &ndash; you can set the approval status, refuse or delete a proof. You may
    also lock the proof if you wish to research it further. Only once you click
   'Save Changes' will the change be actioned.
  </p>

  <p>
    <strong>
      NOTE: Refused proofs do not get saved on-site. We recommend saving a copy
      of all proofs that you plan on refusing for future reference. If you think
      a record needs deleting, DO NOT refuse the proof. Proofs are saved when
      records are deleted.
    </strong>
  </p>

  <p>
    <strong>{{ total_proofs_t }}</strong>
    proofs waiting for review
    {% if total_proofs != total_proofs_t %}
      (<strong>{{ total_proofs }}</strong>
      for the current selection)
    {% endif %}
    <br/><small>
   {{ num_approvals|number_format(0) }} total approved records on Cyberscore
  ({{ approvals_month|number_format(0) }} approvals in the last 30 days).
</small>
  </p>

  <a class='btn-game' href="/proofs/rankings">Show proof rankings</a>
  <hr class="header-divider">

  <form style="display:inline" action="/proofs/pending" method="get">
   <b>Filters:</b><br />
    <select class="btn-game btn-game--standard" name="game" onchange="this.form.submit()">
      <option value="0">All games</option>

      {% for game in games %}
        <option value="{{ game.game_id }}" {{ option_selected(selected_game_id, game.game_id) }}>
          {{ game.name }} ({{ game.pending_proofs }})
        </option>
      {% endfor %}
    </select>

    <select class="btn-game btn-game--standard" name="user_id" onchange="this.form.submit()">
      <option value="user_default" {{ option_selected(selected_user_id, "user_default") }}>All users</option>

      {% for user in users %}
        <option value="{{ user.user_id }}" {{ option_selected(selected_user_id, user.user_id) }}>
          {{ user.username }} ({{ user.pending_records }})
        </option>
      {% endfor %}
    </select>

    <select class="btn-game btn-game--standard"  name="limit" onchange="this.form.submit();">
      <option value="10" {{ option_selected(limit, "10") }}>10</option>
      <option value="25" {{ option_selected(limit, "25") }}>25 (default)</option>
      <option value="50" {{ option_selected(limit, "50") }}>50</option>
      <option value="100" {{ option_selected(limit, "100") }}>100</option>
      <option value="250" {{ option_selected(limit, "250") }}>250</option>
      <option value="500" {{ option_selected(limit, "500") }}>500</option>
      <option value="1000" {{ option_selected(limit, "1000") }}>1000</option>
    </select>

    <br />
    <br />
    <b>Hide/show:</b><br />

    <select class="btn-game btn-game--standard"  name="own_proofs" onchange="this.form.submit();">
      <option value="show" {{ option_selected(own_proofs, "show") }}>Show my proofs</option>
      <option value="hide" {{ option_selected(own_proofs, "hide") }}>Hide my proofs</option>
    </select>

    <select class="btn-game btn-game--standard"  name="locked" onchange="this.form.submit();">
      <option value="all"    {{ option_selected(locked, "all") }}>All</option>
      <option value="unlock" {{ option_selected(locked, "unlock") }}>Unlocked only</option>
      <option value="lock"   {{ option_selected(locked, "lock") }}>Locked only</option>
    </select>

    <select class="btn-game btn-game--standard"  name="proof_type" onchange="this.form.submit();">
      <option value="all"      {{ option_selected(proof_type, "all") }}>All</option>
      <option value="uploaded" {{ option_selected(proof_type, "uploaded") }}>Uploaded only</option>
      <option value="linked"   {{ option_selected(proof_type, "linked") }}>Linked only</option>
    </select>

    <br />
    <br />
    <b>Sort by:</b><br />
    <select class="btn-game btn-game--standard"  name="date_sort" onchange="this.form.submit();">
      <option value="default"  {{ option_selected(date_sort, "default") }}>No date sorting</option>
      <option value="dateASC"  {{ option_selected(date_sort, "dateASC") }}>Oldest proof first</option>
      <option value="dateDESC" {{ option_selected(date_sort, "dateDESC") }}>Newest proof first</option>
    </select>

    <select class="btn-game btn-game--standard"  name="ucsp_sort" onchange="this.form.submit();">
      <option value="default"  {{ option_selected(ucsp_sort, "default") }}>No UCSP sorting</option>
      <option value="ucspDESC"  {{ option_selected(ucsp_sort, "ucspDESC") }}>{{ t('viewrecords_ucsp_best') }}</option>
      <option value="ucspASC" {{ option_selected(ucsp_sort, "ucspASC") }}>{{ t('viewrecords_ucsp_worst') }}</option>
    </select>

    <select class="btn-game btn-game--standard" name="start" onchange="this.form.submit();">
      {% for page in range(0, pages - 1) %}
        <option value="{{ page * limit }}" {% if start == page * limit %}selected{% endif %}>
          {{ t('general_userlist_page') }} {{ page + 1 }}
        </option>
      {% endfor %}
    </select>
  </form>

  <br />
  <br />

  {% if total_proofs %}
    <form action="/record-moderation-actions" method="post">
      <input type="submit" name="submit" value="Save Changes" />
      <br />
      <br />
      <table class="zebra pending-proofs">
        {% for record in pending_records %}
          {% if proof_type == 'all' or (proof_type == 'uploaded' and record.proof.type == 'picture') or (proof_type == 'linked' and record.proof.type != 'picture') %}
            <tr class="record--status-{{ record.rec_status }}">
              <td>{{ record_proof(record) }}</td>
              <td>
                User: {{ link_to_user(record) }}
                <br />

                Game: {{ link_to_game(record) }}
                <br />

                Chart: {% if record.group_id %}
                  {{ link_to_game_group(record) }}
                  &rarr;
                {% endif %}
                {{ link_to_chart(record) }}
                <br />

                <b>Record: {{ link_to_record(record) }}</b>
                <br />

                {% if record.entity_names %}
                  {{ t('chart_using_entity_platform', {'entity': record.entity_names, 'platform': record.platform_name}) }}
                {% else %}
                  {{ t('chart_using_platform', {'platform': record.platform_name}) }}
                {% endif %}

                {% if record.game_patch %}
                  , {{ t('chart_playing_on') }} {{ record.game_patch }}
                {% endif %}

                {% if record.comment %}
                  Comment: {{ record.comment }}
                {% endif %}
                <br />
                <br />
                <br />

                <b>Award information</b><br />

                Position:
                {% if record.awards.medals %}
                  {% if record.chart_pos == 1 and record.platinum == 1 %}
                    <img src="/images/icon-platinumstar.png" title="Platinum" />
                  {% elseif record.chart_pos == 1 %}
                    <img src="/images/icon-goldstar-v2.png" title="Gold" />
                  {% elseif record.chart_pos == 2 %}
                    <img src="/images/icon-silverstar-v2.png" title="Silver" />
                  {% elseif record.chart_pos == 3 %}
                    <img src="/images/icon-bronzestar-v2.png" title="Bronze" />
                  {% endif %}
                {% endif %}

                {{ nth(record.chart_pos) }} / {{ record.chart_subs }}

                {% if record.awards.csp %}
                  <div class="points--csp-csr">
                    <a href="/record/{{ record.record_id }}">
                      {{ record.csp|round(2) }} {{ t('general_csp') }} [<b>{{ csp2csr(record.csp) }} {{ t('general_csr') }}</b>]
                    </a>
                    <br />
                  </div>
                {% endif %}

                {% if record.awards.arcade_points %}
                  <span class="chartname_arcade">
                    <a href="/record/{{ record.record_id }}">
                      {{ record.arcade_points|number_format(0) }}
                      {{ t('general_ap_acronym') }}
                    </a>
                    <br />
                  </span>
                {% endif %}

                {% if record.awards.brain_power %}
                  <span class="chartname_solution">
                    <a href="/record/{{ record.record_id }}">
                      {{ t('general_brain_power') }}:
                      {{ record.brain_power|number_format(0) }}
                    </a>
                    <br />
                  </span>
                {% endif %}

                {% if record.awards.style_points %}
                  <span class="chartname_challenge">
                    <a href="/record/{{ record.record_id }}">
                      {{ record.style_points|number_format(1) }}
                      {{ t(record.style_points == 1 ? 'general_challenge_points_singular' : 'general_challenge_points_plural') }}
                    </a>
                    <br />
                  </span>
                {% endif %}

                {% if record.awards.cyberstars %}
                  <span class="chartname_collectible">
                    <a href="/record/{{ record.record_id }}">
                      {{ record.cyberstars|number_format(0) }}
                      {{ t('general_cyberstars') }}
                    </a>
                    <br />
                  </span>
                {% endif %}

                {% if record.awards.speedrun_points %}
                  <span class="chartname_speedrun">
                    <a href="/record/{{ record.record_id }}">
                      {{ record.medal_points|number_format(0) }}
                      {{ t('general_speedrun_points') }}
                    </a>
                    <br />
                  </span>
                {% endif %}

                {% if record.awards.cxp %}
                  <span class="chartname_incremental">
                    <a href="/record/{{ record.record_id }}">
                      {{ record.cxp|number_format(1) }} {{ t('general_cxp') }} [<b>{{ record.vs_cxp|number_format(0) }} {{ t('general_vxp') }}</b>]
                    </a>
                    <br />
                  </span>
                {% endif %}

                <br />

                <p>
                  <em>Proof submitted at {{ format_datetime(record.latest_date) }}</em>
                  {% if record.latest_approval %}
                    <br />
                    <small><b>(last approved at {{ format_datetime(record.latest_approval) }})</b></small>
                  {% endif %}
                </p>

                <p><a href="{{ record.proof.url }}" target="_blank">Backup link to proof</a></p>

                {% if record.proof_rules %}
                  <div class="additional-rules">
                    <p style="color: #199600;"><strong>{{ t('chart_additional_proof_rules') }}</strong></p>
                    <ul>
                      {% for proof_rule_text in record.proof_rules %}
                        <li style="color: #199600;"><strong>{{ prettify(proof_rule_text) }}</strong></li>
                      {% endfor %}
                    </ul>
                  </div>
                {% endif %}

                {% if record.rules %}
                  <div class="additional-rules">
                    <p><strong>{{ t('chart_additional_rules') }}</strong></p>
                    <ul>
                      {% for rule_text in record.rules %}
                        <li><strong>{{ prettify(rule_text) }}</strong></li>
                      {% endfor %}
                    </ul>
                  </div>
                {% endif %}

                {% if record.modname %}
                  <p style="color:#4499cc;"><strong>Locked by {{ record.modname }}</strong></p>
                {% endif %}

                {% if record.record_note %}
                  <p>
                    <strong>Record note:</strong>
                    <br />
                    <em>{{ prettify(record.record_note) }}</em>

                    {% if record.record_note_date %}
                      <br />
                      <br />
                      <strong>This record note was last updated by {{ record.mod_username }} on {{ format_datetime(record.record_note_date) }}.</strong>
                      {% if record.updated_after_note %}
                        <strong> IMPORTANT: This user has updated their record after this note was made.</strong>
                      {% endif %}
                    {% endif %}
                  </p>
                {% endif %}

                {% if record.rec_status == 6 and not has_access('GlobalMod') %}
                  <p style="color:#4499cc;">
                    <strong>Proofs for records under investigation can only be handled by Global Moderators/Admins.</strong>
                  </p>
                {% elseif not record.modname or current_user.username == record.modname or has_access('GlobalMod') %}
                  <select class="record-action" name="actions[{{ record.record_id }}]">
                    <option value="null">Do nothing yet</option>

                    <optgroup label="Approve">
                      {% if '2400' not in record.level_rules and '3' not in record.proof_rules %}
                        <option value="ap">Approve (picture proof)</option>
                      {% endif %}
                      {% if record.proof.type != 'picture' and not record.awards.cxp and not record.awards.brain_power %}
                        <option value="av">Approve (video proof)</option>
                        <option value="as">Approve (live stream)</option>
                        <option value="ar">Approve (replay file)</option>
                      {% endif %}
                    </optgroup>
                    <optgroup label="Other">
                      <option value="rp">Refuse proof</option>
                      <option value="de">Delete proof</option>
                    </optgroup>
                    <optgroup label="More">
                    {% if not record.modname %}
                      <option value="ls">Lock proof</option>
                    {% else %}
                      <option value="le">Unlock proof</option>
                    {% endif %}
                    </optgroup>
                  </select>
                  <br />

                  <a href="javascript:ToggleDivVisible('csmail_{{ record.record_id }}');">Write CSMail</a>
                  <div id="csmail_{{ record.record_id }}" style="display:none;">
                    <p>Subject: Refused proof(s)</p>
                    <p><em>Write additional details concerning refused proofs, only 1 per user needed</em></p>
                    <textarea name="mail_note[{{ record.record_id }}]" rows="5" cols="50"></textarea>
                  </div>
                {% endif %}
              </td>
            </tr>
          {% endif %}
        {% endfor %}
      </table>
      <br />
      <small>Set all proofs on the page to:</small>
      <select name="all-eid" onchange="change_all_boxes(this.value);">
        <option value="null">Do nothing yet</option>
        <optgroup label="Approve">
        <option value="ap">Approve (picture proof)</option>
        <option value="av">Approve (video proof)</option>
        <option value="as">Approve (live stream)</option>
        <option value="ar">Approve (replay file)</option>
        <optgroup label="Other">
        <option value="rp">Refuse proof</option>
      </select><br />
      <input type="submit" name="submit" value="Save Changes" />
    </form>
  {% else %}
    <p>No pending proof results for the selected filters have been found.</p>
  {% endif %}
</div>

<script type="text/javascript">
function change_all_boxes(new_value) {
  Array.from(document.querySelectorAll(".record-action")).forEach((e) => {
    e.value = new_value;
  });
}
</script>
