<h2>Ranking of bestest most awesome people! Approvals tracked since 18th Jan 2014, refusals tracked since 5th September 2017.</h2>
<a href="/proof_stats.php">Comprehensive proof stats!</a>
<br />
<br />

<table class="scoreboard zebra" style="max-width:950px;">
  <tr>
    <th style="text-align: center;">Rank</th>
    <th style="padding-left: 15px;">Staff member</th>
    <th style="text-align: center;"><a href="?sort=normal">Records approved</a></th>
    <th style="text-align: center;"><a href="?sort=vids">Video proofs</a></th>
    <th style="text-align: center;"><a href="?sort=month">Approvals (last 30 days)</a></th>
    <th style="text-align: center;"><a href="?sort=day">Most approvals in one day</a></th>
    <th style="text-align: center;"><a href="?sort=refused">Proofs refused</a></th>
  </tr>
  {% for mod in mods %}
    <tr class="{{ classnames({'gold': loop.index == 1, 'silver': loop.index == 2, 'bronze': loop.index == 3}) }}">
      {% if loop.index == 1 %}
        <td class="pos" width="40" style="text-align: center; margin-top: 5px;">
          <p><img src="/images/icon-platinumstar.png" style="margin-top:2px; margin-bottom:-1px;" width="16" height="16" alt="platinum" /></p>
        </td>
      {% elseif loop.index == 2 %}
        <td class="pos" width="40" style="text-align: center; vertical-align: middle;">
          <p><img src="/images/icon-silverstar-v2.png" style="margin-top:2px; margin-bottom:-1px;" width="16" height="16" alt="silver" /></p>
        </td>
      {% elseif loop.index == 3 %}
        <td class="pos" width="40" style="text-align: center; vertical-align: middle;">
          <p><img src="/images/icon-bronzestar-v2.png" style="margin-top:2px; margin-bottom:-1px;" width="16" height="16" alt="bronze" /></p>
        </td>
      {% else %}
        <td class="pos" width="40" style="text-align: center; vertical-align: middle;">
          <p>{{ loop.index }}.</p>
        </td>
      {% endif %}

      <td width="200" style="padding-left: 15px;">
        {{ link_to_user(mod) }} {{ user_star_image_tags(mod) }}
      </td>
      <td width="175" style="text-align: center;">
        {% if mod.num_approved %}
          {{ mod.num_approved }}
        {% else %}
          {{ mod_total[mod.user_id] }}*
        {% endif %}
      </td>
      <td width="150" style="text-align: center;">{{ mod_video[mod.user_id] }}</td>
      <td width="275" style="text-align: center;">{{ mod_recent[mod.user_id] }}</td>
      <td width="275" style="text-align: center;">
        <b>{{ best_day[mod.user_id]['date'] }}</b>: {{ best_day[mod.user_id]['num_approved'] }}
      </td>
      <td width="175" style="text-align: center;">{{ refused_proofs[mod.user_id] }}</td>
    </tr>
  {% endfor %}
</table>
