.dashrecords {
	border-collapse: collapse;
	width: 100%;
}

	.dashrecords .dashgame {
		width: 25%;
	}
	
	.dashrecords .dashlevel {
		width: auto;
	}
	
	.dashrecords .submission {
		width: 80px;
	}
	
	.dashrecords .chartpos {
		width: 70px;
	}
	
	.dashrecords .cspoints {
		width: 30px;
		text-align: right;
	}
	
#dashmailsummary {
	border-collapse: collapse;
	width: 100%;
}

	#dashmailsummary th {
		text-align: left;
	}
	
	#dashmailsummary .foldername {
		width: auto;
	}
	
	#dashmailsummary .latestmsg {
		width: 220px;
	}
	
	#dashmailsummary .unread {
		width: 60px;
		text-align: right;
	}
	
	#dashmailsummary .total {
		width: 60px;
		text-align: right;
	}
	
#dashinbox {
	border-collapse: collapse;
	width: 100%;
}

	#dashinbox tr.unread td {
		font-weight: bold;
	}

	#dashinbox th {
		text-align: left;
	}
	
	#dashinbox .subject {
		width: auto;
	}
	
	#dashinbox .userfrom {
		width: 85px;
	}
	
	#dashinbox .msgdate {
		width: 220px;
	}
	
	#dashinbox .msgdatesmall {
		width: 70px;
	}
	
	#dashinbox .msgstatus {
		width: 48px;
	}
	
#dashscoreboard {
	border-collapse: collapse;
	width: 100%;
}

	#dashscoreboard tr.dashsbyou td {
		font-weight: bold;
		font-size: 1.1em;
	}
	
	#dashscoreboard .dashsbpos {
		width: 60px;
	}
	
	#dashscoreboard .dashflag {
		width: 24px;
	}
	
	#dashscoreboard .dashsbname {
		width: auto;
	}
	
	#dashscoreboard .dashnumsubs {
		width: 90px;
	}
	
	#dashscoreboard .dashcspoints {
		width: 40px;
		text-align: right;
	}
	
.dashnews {
	border-collapse: collapse;
	width: 100%;
}

	.dashnews .dashdate {
		width: 150px;	
	}
	
	.dashnews .dashdatesm {
		width: 70px;	
	}
	
	.dashnews .dashheadline {
		width: auto;
	}
	
	.dashnews .dashauthor {
		width: 85px;
	}
	
.dashpopular {
	border-collapse: collapse;
	width: 100%;
}

	.dashpopular .dashgame {
		width: auto;
	}
	
	.dashpopular .numsubmissions {
		width: 95px;
		text-align: right;
	}
	
#forumboards {
	border-collapse: collapse;
	width: 100%;
}

	#forumboards th {
		text-align: left;
	}
	
	#forumboards .boardname {
		width: auto;
	}
	
	#forumboards .topics, #forumboards .posts {
		width: 60px;
		text-align: right;
	}
	
#forumposts {
	border-collapse: collapse;
	width: 100%;
}

	#forumposts .date {
		width: 70px;
	}
	
	#forumposts .posttitle {
		width: auto;
	}
	
	#forumposts .postauthor {
		width: 100px;
		text-align: right;
	}