h1.gamename a {
	color: #23538a;
	line-height: 130%;
}

h1.gamename2 a {
	color: #FF0000;
}

h2.caption, h3.caption {
	margin-bottom: 3px;
}

.zebra tr:nth-child(even) {
	background-color: #eeeeee;
}

/***************
 * TABLES
 * *************/

#formtable td {
	padding-bottom: 5px;
}

#formtable label {
	display: block;
	float: left;
	width: 35%;
	margin-right: 10px;
	margin-bottom: 5px;
	text-align: right;
}

#formtable input, select {
	margin-bottom: 5px;
}

#formtable br {
	clear: left;
}


/***************
 * LISTS
 ***************/

	ul.shopping, ul.arrows, ul.discord, ul.pencil {
		padding: 0;
		margin: 0 0 10px 0;
		list-style: none;
	} 

	ul.shopping li {
		line-height: 20px;
		padding: 0 0 0 35px;
		background: url(images/basket.png) no-repeat 10px top;
	}

	ul.arrows li {
		line-height: 20px;
		padding: 0 0 0 35px;
		background: url(images/arrow_right.png) no-repeat 15px 2px;
	}

	ul.discord li {
		line-height: 20px;
		padding: 0 0 0 35px;
		background: url(images/discord.png) no-repeat 15px 2px;
	}

	ul.pencil li {
		line-height: 20px;
		padding: 0 0 0 35px;
		background: url(images/subs.png) no-repeat 15px 2px;
	}


/***************
 * Hide HTML5 stepper/spinner/up & down arrows for number inputs
 ***************/
input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button
{
    -webkit-appearance: none;
    margin: 0;
}
 
input[type="number"]
{
    -moz-appearance: textfield;
}

/**************
 * SLIDERS
 **************/
/* The switch - the box around the slider */
.slider_switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
}

/* Hide default HTML checkbox */
.slider_switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 17px;
  width: 17px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #23538a;
}

input:focus + .slider {
  box-shadow: 0 0 1px #23538a;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 25px;
}

.slider.round:before {
  border-radius: 50%;
}


/***************
 * 4.7 HOMEPAGE
 ***************/
#hometop4-7 {
  height: 189px;
  background-color: #23538a; /* Used to be #5085BB */
}

#homeintrocontainer4-7 {
  float: left;
  margin: 0px;
  padding: 0px; 
  height: 100%;
}

#homeintro4-7 {
  margin: 0px;
  min-height: 189px;
  margin-top: -16px;
  line-height: 1.8em;
  background-color: #23538a; /* Used to be #5085BB */
}

#index-module-container {
  min-width: 600px;
  max-width: 600px;
  width: 600px;
  display: inline;
  background: #ffea00;
  position: relative;
  top: 100px;
}

#standardlogo4-7, #speedrunlogo4-7, #arcadelogo4-7, #solutionlogo4-7, #challengelogo4-7, #cslogo4-7 {
  margin: 0px;
  padding: 0 6px 0 6px;
  min-height: 189px;
  min-width: 88px;
  max-width: 88px;
  position: relative;
  display: inline;
  float: right;
  text-align: center;
  vertical-align:central;
}

        #standardminiboard4-7, #speedrunminiboard4-7, #arcademiniboard4-7, #solutionminiboard4-7, #challengeminiboard4-7, #csminiboard4-7 {
			min-height: 189px;
            width: 410px;
			position: relative;
            display: inline;
            float: right;
            text-align: center;
            vertical-align:central;
		}

                        #cslogo4-7, #cslogo4-7 a {
            background-color: #23538a;
		}

        #csminiboard4-7 {background-color: #91bee9; }
        #csminiboard4-7 a { color: #163960;}

                #standardlogo4-7 {
            background-color: #5085BB;
		}

                #standardminiboard4-7 {
            background-color: #c2dbf3;
		}

                #speedrunlogo4-7 {
            background-color: #199600;
		}

                #speedrunminiboard4-7 {
            background-color: #aefab4;
		}

                 #arcadelogo4-7 {
            background-color: #ff8100;
		}

                #arcademiniboard4-7 {
            background-color: #f8d7b8;
           
		}

                #solutionlogo4-7 {
            background-color: #b20000;

		}

                #solutionminiboard4-7 {
            background-color: #f8c4c4;
		}

            #challengelogo4-7 {
            background-color: #9700db;

		}

            #challengeminiboard4-7 {
            background-color: #dab2ed;
		}

                



                img.logo4-7 {
            padding-top: 30px;
		}

			#homeintro4-7 h1 {
				font-size: 2em;
				padding: 20px 0 10px 20px;
				color: #ffffff;
			}

			#homeintro4-7 p {
				padding: 0 20px;
				margin: 10px 0;
				color: #ffffff;
			}

			#homeintro4-7 a:link, #homeintro4-7 a:visited {
				color: #ffffff;
			}

	#homepic4-7 {
		float: left;
    	margin-right: 10px;
		width: 125px;
		height: 188px;
		background-position : -1px -1px;
		border-top: 1px solid #000000;
		border-left: 1px solid #000000;
		border-right: 1px solid #000000;
	}

#homebottom4-7 {
	clear: both;
    background: #ffffff;
    min-height: 188px;
    margin: 0px;
}

	#hbmiddlecontainer4-7 {
		float: left;
		width: 100%;
	}

		#hblower4-7 {
		margin: 0px 320px 0 230px;
		}

		#standardminiboard4-7 tr.standard {
			padding: 3px 5px;
			background: #5085bb;
			color: #ffffff;
			margin: 0 0 10px 0;
                font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif;
		}

        #standardminiboard4-7 h2.standard {
            height: 23px;
			background: #5085bb;
			color: #ffffff;
            width: 100%;
			margin: 0 0 10px 0;
            font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif;
		}
                #csminiboard4-7 h2.standard {
            height: 23px;
			background: #23538a;
			color: #ffffff;
            width: 100%;
			margin: 0 0 10px 0;
            font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif;
		}

        #arcademiniboard4-7 h2.arcade {
            height: 23px;
			background: #ff8100;
			color: #ffffff;
            width: 100%;
			margin: 0 0 10px 0;
                font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif;
		}


        #speedrunminiboard4-7 tr.speedrun, h2.speedrun {
			height: 23px;
            padding: 3px 5px;
			background: #199600;
			color: #ffffff;
			margin: 0 0 10px 0;
                font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif;
		}

         #challengeminiboard4-7 h2.challenge {
			height: 17px;
            padding: 3px 5px;
			background: #9700db;
			color: #ffffff;
			margin: 0 0 10px 0;
                font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif;
		}

          #solutionminiboard4-7 h2.solution {
            height: 23px;
			background: #b20000;
            width: 100%;
			color: #ffffff;
			margin: 0 0 10px 0;
                font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif;
		}
        

			#hbmiddle4-7 h2 a:link, .hbmiddle4-7 h2 a:link, #hbmiddle4-7 h2 a:visited, .hbmiddle4-7 h2 a:visited, #hblower4-7 h2 a:link, #hblower4-7 h2 a:visited {
				color: #ffffff;
			}

		#hblower4-7 div {
			float: left;
			width: 49%;
		}

		#hblower4-7 table {
			border-collapse: collapse;
			width: 100%;
			font-size: 1em;
		}


		#hbmiddle4-7, .hbmiddle4-7{
		margin: 0px 10px 0 220px;
		}

		#hbmiddle4-7 div, .hbmiddle4-7 div {
			width: 100%;
		}

		#hbmiddle4-7 table, .hbmiddle4-7 table {
			border-collapse: collapse;
			width: 100%;
			font-size: 1em;
		}

			#hbmiddle4-7 table td, .hbmiddle4-7 table td {
				vertical-align: top;
			}

			#hbmiddle4-7 table td.date, .hbmiddle4-7 table td.date {
				width: 100px;
				white-space: nowrap;
			}

			#hbmiddle4-7 table td.icon, .hbmiddle4-7 table td.icon {
				width: 16px;
			}

			#hbmiddle4-7 table td.headline, .hbmiddle4-7 table td.headline {
				width: auto;
			}

			#hbmiddle4-7 table td.postdate, .hbmiddle4-7 table td.postdate {
				white-space: nowrap;
			}

			#hbmiddle4-7 table td.position, .hbmiddle4-7 table td.position {
				white-space: nowrap;
			}

	#hbleftcontainer4-7 {
		margin: 0 0 0 -100%;
		float: left;
	}

	#hbleft4-7 {
		width: 260px;
		height: 198px;
		background-position : -1px -1px;
		border : 1px solid #000000;
		margin: 0px 0 0px 0
	}

/***************
 * HOMEPAGE
 ***************/
#hometop {
	height: 189px;
	background-color: #23538a; /* Used to be #5085BB */
	box-shadow: 0 1px 10px 0 black;
}
@media only screen and (max-width: 640px) {
    #hometop {
        display: none;
    }
}

	#homeintrocontainer {
		float: left;
		width: 100%;
	}

		#homeintro {
			margin: 0 140px 0 10px;
			min-height: 175px;
			position: relative;
            font-family: Ubuntu;
		}

			#homeintro h1 {
				font-size: 2em;
				padding: 20px 0 10px 20px;
				color: #ffffff;
                text-shadow: 1px 1px 2px rgba(0,0,0,0.75);
			}

			#homeintro p {
				padding: 0 20px;
				margin: 10px 0;
				color: #ffffff;
			}

			#homeintro a:link, #homeintro a:visited {
				color: #ffffff;
			}

	#homepic {
		float: right;
		margin-left: -128px;
		width: 125px;
		height: 188px;
		background-position : -1px -1px;
		border-top: 1px solid #000000;
		border-left: 1px solid #000000;
		border-right: 1px solid #000000;
	}

#homebottom {
	clear: both;
	margin-left: 10px;
}

	#hbmiddlecontainer {
		float: left;
		width: 100%;
	}

		#hblower {
		margin: 10px 320px 0 230px;
		}

		#hblower h2.standard, #hbmiddle h2.standard, .hbmiddle h2.standard, .hbmiddle tr.standard, #hbmiddle tr.standard {
			padding: 3px 5px;
			background: #5085bb url(images/bg-dashboxh2.gif) repeat-x bottom left;
			color: #ffffff;
			margin: 0 0 10px 0;
			font-size: 1.1em;
                font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif;
                text-shadow: 1px 1px 2px rgba(0,0,0,0.75);
		}



        #hblower h2.arcade, #hbmiddle h2.arcade, .hbmiddle h2.arcade, .hbmiddle tr.arcade, #hbmiddle tr.arcade {
			padding: 3px 5px;
			background: #de7406;
			color: #ffffff;
			margin: 0 0 10px 0;
			font-size: 1.1em;
                font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif;
                text-shadow: 1px 1px 2px rgba(0,0,0,0.75);
		}

        #hblower h2.solution, #hbmiddle h2.solution, .hbmiddle h2.solution, .hbmiddle tr.solution, #hbmiddle tr.solution {
			padding: 3px 5px;
			background: #b20000;
			color: #ffffff;
			margin: 0 0 10px 0;
			font-size: 1.1em;
                font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif;
                text-shadow: 1px 1px 2px rgba(0,0,0,0.75);
		}

        #hblower h2.speedrun, #hbmiddle h2.speedrun, .hbmiddle h2.speedrun, .hbmiddle tr.speedrun, #hbmiddle tr.speedrun {
			padding: 3px 5px;
			background: #199600;
			color: #ffffff;
			margin: 0 0 10px 0;
			font-size: 1.1em;
                font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif;
                text-shadow: 1px 1px 2px rgba(0,0,0,0.75);
		}

                #hblower h2.challenge, #hbmiddle h2.challenge, .hbmiddle h2.challenge, .hbmiddle tr.challenge, #hbmiddle tr.challenge {
			padding: 3px 5px;
			background: #9700db;
			color: #ffffff;
			margin: 0 0 10px 0;
			font-size: 1.1em;
                font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif;
                text-shadow: 1px 1px 2px rgba(0,0,0,0.75);
		}
        

			#hbmiddle h2 a:link, .hbmiddle h2 a:link, #hbmiddle h2 a:visited, .hbmiddle h2 a:visited, #hblower h2 a:link, #hblower h2 a:visited {
				color: #ffffff;
			}

		#hblower div {
			float: left;
			width: 49%;
		}

		#hblower table {
			border-collapse: collapse;
			width: 100%;
			font-size: 1em;
		}


		#hbmiddle, .hbmiddle{
		margin: 10px 10px 0 10px;
		}

		#hbmiddle div, .hbmiddle div {
			width: 100%;
		}

		#hbmiddle table, .hbmiddle table {
			border-collapse: collapse;
			width: 100%;
			font-size: 1em;
		}

			#hbmiddle table td, .hbmiddle table td {
				vertical-align: top;
			}

			#hbmiddle table td.date, .hbmiddle table td.date {
				width: 100px;
				white-space: nowrap;
			}

			#hbmiddle table td.icon, .hbmiddle table td.icon {
				width: 16px;
			}

			#hbmiddle table td.headline, .hbmiddle table td.headline {
				width: auto;
			}

			#hbmiddle table td.postdate, .hbmiddle table td.postdate {
				white-space: nowrap;
			}

			#hbmiddle table td.position, .hbmiddle table td.position {
				white-space: nowrap;
			}

	#hbleftcontainer {
		margin: 0 0 0 -100%;
		float: left;
	}

	#hbleft {
		width: 250px;
		height: 198px;
		background-position : -1px -1px;
		border : 1px solid #000000;
		margin: 10px 0 10px 0
	}

/***************
 * DIVS
 ***************/
#sponsoredlinks {
	background: #edf77d url(images/bg-toplinks.gif) repeat-x left top;
	margin-bottom: 10px;
	font-size: 0.9em;
	text-align: center;
	padding: 3px;
	border-bottom: 1px solid #000000;
}

	#sponsoredlinks a:link, #sponsoredlinks a:visited, #sponsoredlinks a:hover {
		color: #000000;
	}

#game_jump {
	margin-left: 40%;
}

#pageleft {
	margin: 10px 320px 10px 0;
	padding: 0 10px;
	border-right: 1px solid #666666;
}

#notification_error, .notification_error {
  padding: 10px;
  margin-bottom: 2px;
  border: 2px solid #cc0000;
  background: #ffcccc;
}

#notification_error strong, .notification_error strong {
  color: #cc0000;
}

#notification_success {
  padding: 10px;
  margin-bottom: 2px;
  border: 2px solid #103509;
  background: #e4ffc9;
}

#notification_success strong {
  color: #103509;
}

	#extras {
		float: left;
		width: 190px;
		margin-right: 10px;
	}

	#skyscraper {
		float: right;
		width: 162px;
		margin: 0 9px 10px 9px;
		text-align: center;
	}

.bbcodecode {
        color: #0073f4;
        border-width: 2px;
        border-style: solid;
        border-color: #b5d8ff;
        border-radius: 7px;
        max-width: 600px;
        margin: 15px;
        padding: 15px;
}

.inset_heading_code {
    width:60px;
    border-width: 2px;
    border-style: solid;
    border-color: #b5d8ff;
    border-radius: 7px;
    margin-top:-29px;
    padding-left:15px;
    margin-left: 15px;
    padding-top: 3px;
    padding-bottom: 3px;
    background: repeating-linear-gradient(-45deg, #e6e6ff, #e6e6ff 5px, white 8px, white 15px); 
}

.inset_heading_quote {
    margin-top:-29px;
    border-width: 2px;
    border-style: solid;
    border-color: #b5d8ff;
    border-radius: 7px;
    background: repeating-linear-gradient(-45deg, #e6e6ff, #e6e6ff 5px, white 8px, white 15px); 
    padding-left:15px;
    margin-left: 15px;
    margin-right: 15px;
    padding-top: 3px;
    padding-bottom: 3px;
}

#link-square, #link-trapezoid-clockwise, #link-trapezoid-anticlockwise {
    font-family: Ubuntu;
    font-size: 2em;
    color: rgba(255,255,255,0.9);
    text-align: right;
    vertical-align: text-bottom;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.9);
    height: 60px;
    width: 40%;
    display: inline-block;
    margin-right: 3px;
    padding-top: 15px;
    padding-right: 5px;
    margin-bottom: 3px;
    cursor:pointer;
    line-height: 1.2;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    transition: box-shadow 0.3s ease-in-out;
}

#link-square:hover, #link-trapezoid-clockwise:hover, #link-trapezoid-anticlockwise:hover {
    box-shadow: 2px 5px 5px rgba(0,0,0,0.7);
}

#link-trapezoid-clockwise {
	-webkit-transform: skew(-15deg);
	-moz-transform: skew(-15deg);
	-o-transform: skew(-15deg);
	width: 12%;
	height: 105px;
}

#link-trapezoid-anticlockwise {
	-webkit-transform: skew(15deg);
	-moz-transform: skew(15deg);
	-o-transform: skew(15deg);
	width: 12%;
	height: 105px;
}


/***************
 * STATS PAGE
 ***************/
#stats_title {
  margin: 15px 0 20px 3px;
}

#stats_title img.userpic{
  vertical-align: middle;
  margin: 0 5px;
}

#stats_title img.flag {
  vertical-align: -5px;
}

#stats_title img.gender {
  vertical-align: -1px;
}

#stats_title img.icon, #stats_title .icon {
  vertical-align: -2px;
}

.rankbutton {
  max-width: 88px;
  max-height: 31px;
  position: relative;
}

.rankbutton h5 {
  top: -1px;
  position: absolute;
  font-size: 0.7em;
  color: #000000;
}

.rankbutton span {
  top: 16px;
  left: 3px;
  position: absolute;
  font-size: 0.7em;
  color: #FFFFFF;
}

.rankbutton a {
  text-decoration: none;
}

.submissions-table {
  display: grid;
  gap: 5px;
}
.submissions-table--columns-0 { grid-template-columns: 90px repeat(4, auto); }
.submissions-table--columns-1 { grid-template-columns: 90px repeat(5, auto); }
.submissions-table--columns-2 { grid-template-columns: 90px repeat(6, auto); }
.submissions-table--columns-3 { grid-template-columns: 90px repeat(7, auto); }
.submissions-table--columns-4 { grid-template-columns: 90px repeat(8, auto); }
.submissions-table--columns-5 { grid-template-columns: 90px repeat(9, auto); }

.submissions-table-head {
  display: grid;
  grid-column:  1 / -1;
  grid-template-columns: subgrid;
}

.submissions-table-entry {
  display: grid;
  grid-column:  1 / -1;
  grid-template-columns: subgrid;
  grid-template-rows: 16px 16px;
}

.submissions-table-entry-body {
  display: grid;
  grid-column:  2 / -1;
  grid-row: 1 / 3;
  grid-template-columns: subgrid;
  grid-template-rows: subgrid;
  position: relative;
  z-index: 1;
  border: 1px solid black;
  align-items: center;
}

.submissions-table-entry-rankbutton {
  grid-column: 1;
  grid-row: 1 / 3;
}
.submissions-table-entry-name {
  padding: 0 10px;
  grid-column: 1 / -2;
  grid-row: 1;
  position: relative;
  z-index: 1;
}
.submissions-table-entry-name a, .submissions-table-entry-value a {
  color: black; /* TODO: var(--contrast)? */
}

.submissions-table-entry-percentage {
  grid-column: -1;
  grid-row: 1;
  position: relative;
  z-index: 1;
  text-align: right;
}
.submissions-table-entry-percentage2 {
  grid-column: -1;
  grid-row: 2;
  position: relative;
  z-index: 1;
  text-align: right;
}
.submissions-table-entry-value {
  grid-row: 2;
  text-align: center;
  position: relative;
  z-index: 1;
}

.submissions-table-row-bar {
  position: absolute;
  left: 0px;
  top: 0px;
  height: 15px;
  z-index: 0;
}

.submissions-table-row-bar--secondary {
  bottom: 0px;
  top: auto;
}

@media screen and (max-width: 1099px) {
  .stats_small {
    height: 20px;
  }
}

.stats_small {
  height: 40px;
}

/***************
 * RECORD HISTORY
 * *************/
#historyfull {
  float: left;
  width: 100%;
}

 #historyleft {
	float: left;
	width: 110px;
	padding: 2px;
	padding-top: 30px;
}
 #historyright {
	float: left;
	width: 700px;
	padding: 2px;
}
 #historylower {
	float: left;
	width:100%;
	padding: 2px;
}

#rechistory {
	width: 80%;
}

.boxarts {
    text-align: center;

}

#gameinfo {
	padding-right: 165px;
}

#game_csinfo {
margin-bottom: 5px;
}

#game_csinfo th {
	color: #23538a;
	font-size: 0.8em;
	text-align: center;
}

#game_csinfo td {
	font-size: 0.8em;
	text-align: center;
}

#game_csinfo  tr {
	line-height: 15px;
}

#submitproof {
	float: left;
	line-height: 30px;
	padding-left: 4px;
	color: #ffffff;
	background: #23538a;
	border: 1px solid #000000;
	margin: 5px;
}

.chart_notice {
	line-height: 20px;
	font-weight: bold;
	color: #ffffff; /* If you want this text red again, use #e43b3b */
}

.gamelist {
	border-collapse: collapse;
	width: 100%;
}

	.gamelist tr {
		line-height: 20px;
	}

	.gamelist tr:nth-child(odd) {
	background-color: #eeeeee;
	}

	.gamelist tr.group td {
		color: #ffffff;
		padding: 2px;
	}

  .gamelist tr.group td.chart-count {
    text-align: right;
  }

	.gamelist tr.group_speedrun td {
		color: #ffffff;
		padding: 2px;
	}

/* Before being changed 2017-02-22, these were #fb6565 at the top and #fb6565, #b5262e for the gradient*/	.gamelist tr.group_unranked td {
		/* background-image:         linear-gradient(top, #4c4c4c, #000000); */
		color: #ffffff;
		padding: 2px;
	}

	.gamelist tr.group_arcade td {
		/*background-image:         linear-gradient(top, #ff8100, #6f3a03);*/
		color: #ffffff;
		padding: 2px;
	}

	.gamelist tr.group_solution td {
		color: #ffffff;
		padding: 2px;
	}

	.gamelist tr.group_challenge td {
		background-color: #9700db;
		background-image: -webkit-linear-gradient(top, #9700db, #5e0685);
		background-image:    -moz-linear-gradient(top, #9700db, #5e0685);
		background-image:     -ms-linear-gradient(top, #9700db, #5e0685);
		background-image:      -o-linear-gradient(top, #9700db, #5e0685);
		background-image:         linear-gradient(top, #9700db, #5e0685);
		color: #ffffff;
		padding: 2px;
	}


	.gamelist tr.group_stats td {
		background-color: #00FF00;
		background-image: -webkit-linear-gradient(top, #00FF00, #000);
		background-image:    -moz-linear-gradient(top, #00FF00, #000);
		background-image:     -ms-linear-gradient(top, #00FF00, #000);
		background-image:      -o-linear-gradient(top, #00FF00, #000);
		background-image:         linear-gradient(top, #00FF00, #000);
		color: #ffffff;
		padding: 2px;
	}


.referraltable {
           vertical-align: middle;
}

    .gamelist tr.unconfirmed td {
    background-color: #d06c6c;
              text-align: center;
    		padding: 2px;
}

    .referraltable tr.confirmed td {
    background-color: #4fd162;
                  text-align: center;
    		padding: 2px;
}

		.gamelist tr.group td a, .gamelist tr.group_unranked td a, .gamelist tr.group_speedrun td a, .gamelist tr.group_arcade td a,  .gamelist tr.group_solution td a, .gamelist tr.group_challenge td a, .gamelist tr.group_stats td a{
			color: #ffffff;
		}

	.gamelist td.noicon {
		width: 40px;
	}

	.gamelist td.icon {
		width: 100px;
	}

		.gamelist td.icon a {
			text-decoration: none;
		}

	.gamelist td.icon_left {
		width: 40px;
		text-align: center;
		position: relative;
	}

		.gamelist td.icon_left img {
			vertical-align: middle;
			margin-top: -1px;
		}

	.gamelist td.icon_right {
		width: 45px;
	}

		.gamelist td.icon_right img {
			vertical-align: middle;
			margin-top: -1px;
			padding-left: 5px;
		}

	.gamelist td.icon_right_header {
		width: 45px;
		text-align: center;
	}

		.gamelist td.icon_right_header img {
			vertical-align: middle;
			margin-top: -2px;
		}

	.gamelist td.chartname, .gamelist td.chartname_unranked, .gamelist td.chartname_speedrun, .gamelist td.chartname_arcade, .gamelist td.chartname_solution, .gamelist td.chartname_challenge, .gamelist td.chartname_incremental, .gamelist td.chartname_collectible {
		width: auto;
	}

	.gamelist td.chartname_solution a    { color: #b61d1d; }
	.gamelist td.chartname_unranked a    { color: #000000; }
    .gamelist td.chartname_speedrun a    { color: #199600; }
    .gamelist td.chartname_arcade a      { color: #ff8100; }
    .gamelist td.chartname_challenge a   { color: #9700db; }
	.gamelist td.chartname_incremental a { color: #ceba05; }
    .gamelist td.chartname_collectible a { color: #1fbe96; }

	#latest_records_table td.chartname_solution a    { color: #b61d1d; }
	#latest_records_table td.chartname_unranked a    { color: #000000; }
    #latest_records_table td.chartname_speedrun a    { color: #199600; }
    #latest_records_table td.chartname_arcade a      { color: #ff8100; }
    #latest_records_table td.chartname_challenge a   { color: #9700db; }
	#latest_records_table td.chartname_incremental a { color: #ceba05; }
    #latest_records_table td.chartname_collectible a { color: #1fbe96; }

  .chartname_standard    a { color: #4499cc; }
  .chartname_solution    a { color: #b61d1d; }
  .chartname_unranked    a { color: #000000; }
  .chartname_speedrun    a { color: #199600; }
  .chartname_arcade      a { color: #ff8100; }
  .chartname_challenge   a { color: #9700db; }
  .chartname_incremental a { color: #ceba05; }
  .chartname_collectible a { color: #1fbe96; }

  #chartname_solution a    { color: #b61d1d; }
  #chartname_unranked a    { color: #000000; }
  #chartname_speedrun a    { color: #199600; }
  #chartname_arcade a 	   { color: #ff8100; }
  #chartname_challenge a   { color: #9700db; }
  #chartname_incremental a { color: #ceba05; }
  #chartname_collectible a { color: #1fbe96; }

  span.text_standard b, span.text_standard 		 { color: #4499cc; }
  span.text_unranked b, span.text_unranked 		 { color: #000000; }
  span.text_speedrun b, span.text_speedrun		 { color: #199600; }
  span.text_arcade b, span.text_arcade 			 { color: #ff8100; }
  span.text_solution b, span.text_solution		 { color: #b61d1d; }
  span.text_challenge b, span.text_challenge 	 { color: #9700db; }
  span.text_incremental b, span.text_incremental { color: #ceba05; }
  span.text_collectible b, span.text_collectible { color: #1fbe96; }

    span.text_platinum b, span.text_platinum {
		color: #c4c4c4;
        text-shadow: 1px 1px 1px rgba(49, 49, 49, 0.30);
	}

   	span.text_gold b, span.text_gold {
		color: #febb00;
        text-shadow: 1px 1px 1px rgba(112, 79, 1, 0.3);
	}

    span.text_silver b, span.text_silver {
		color: #8b8888;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
	}

    span.text_bronze b, span.text_bronze {
		color: #cd7f32;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.30);
	}

	.gamelist td.lastupdate {
		width: 100px;
	}

	.gamelist td.data {
		width: 175px;
		text-align: right;
	}

img.platform_icon {
	width: 65px;
}

	#game_selection a.letter {
		margin-right: 5px;
		padding: 2px 4px;
		font-size: 1.3em;
		color: black;
		background-color: #eeeeee;
		border: 1px solid #b0c4de;
		line-height: 30px;
	}

	#game_selection a.letter:hover {
		text-decoration: none;
		background-color: lightblue;
	}

	#user_selection a.letter 
	{
		margin-right: 5px;
		padding: 2px 4px;
		font-size: 1.3em;
		color: black;
		background-color: #eeeeee;
		border: 1px solid #b0c4de;
		line-height: 30px;
	}

	#user_selection a.letter:hover 
	{
		text-decoration: none;
		background-color: lightblue;
	}

#allgames {
	border-collapse: collapse;
	width: 100%;
}

	#allgames th {
		border-bottom: 1px solid #000000;
	}

	#allgames th.gamename {
		text-align: left;
	}

	#allgames td.gamename {
		width: 40%;
		text-align: left;
	}

	#allgames th.gamename2 {
		text-align: left;
		color: black;
	}

	#allgames td.gamename2 {
		width: 40%;
		text-align: left;
		color: black;
	}

	#allgames td.gamename2 a {
		color: #FF0000;
	}

	#allgames th.icons {
		text-align: left;
	}

	#allgames td.icons {
		width: 36%;
		text-align: left;
	}

		#allgames td.icons img {
			vertical-align: middle;
			margin: 2px 0;
		}

	#allgames .levels, .subs, .rpc, .players {
		width: 6%;
		text-align: center;
	}

	#allgames tr.tfoot td {
		border-top: 1px solid #000000;
	}

.altrow td {
	background: #eeeeee;
}

.small-scoreboard th { text-align: center; }
.small-scoreboard th img { max-height: 16px; }

.small-scoreboard .user-avatar {
  width: 30px;
  height: 30px;
  vertical-align: middle;
  margin-right: 3px;
}

.small-scoreboard .sidebar-section-body {
  padding-right: 0px;
  padding-left: 0px;
}

.small-scoreboard .sidebar-title img {
  vertical-align: bottom;
  margin-top: 2px;
  margin-bottom: 2px;
  height: 16px;
  padding-right: 8px;
  filter: invert(1);
}

.small-scoreboard .country-flag {
  vertical-align: middle;
  margin-right: 3px;
}

.small-scoreboard .small-scoreboard-more {
  display: block;
  text-align: right;
  font-size: 10px;
}

.small-scoreboard .medal {
  text-align: center;
}

.small-scoreboard--leader .country-flag {
  width: 18px;
  height: 18px;
}

.small-scoreboard-leader-entry--1 .user-avatar {
  width: 50px;
  height: 50px;
  margin-right: 5px;
}

.small-scoreboard--leader h3 {
  margin-top: 0;
  margin-bottom: 2px;
}

.small-scoreboard--leader h3 img {
  float: left;
  margin-right: 10px;
}

.small-scoreboard--leader h3 a:link,
.small-scoreboard--leader h3 a:visited {
  color: #000000;
}

.small-scoreboard--leader small {
  display: block;
  text-align: right;
}
.small-scoreboard-leader-entry + .small-scoreboard-leader-entry {
  margin-top: 10px;
}

.small-scoreboard-trophy-case {
  margin-top: 2px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: start;
  gap: 3px;
}
.small-scoreboard-trophy-case img {
  width: 16px;
  height: 16px;
}

.small-scoreboard-trophy-points {
  font-weight: bold;
  font-size: 10px;
}

/* skinnable? */
.small-scoreboard .sidebar-title {
  display: flex;
  align-items: center;
  gap: 4px;
}

.small-scoreboard .sidebar-title::before {
  content: "";
  background-size: 16px 16px;
  width: 16px;
  height: 16px;
  display: block;
}

.small-scoreboard--arcade      .sidebar-title::before { filter: invert(1) drop-shadow(1px 1px 2px rgba(0,0,0,0.75)); background-image: url("/images/scoreboards/arcade.svg"); }
.small-scoreboard--challenge   .sidebar-title::before { filter: invert(1) drop-shadow(1px 1px 2px rgba(0,0,0,0.75)); background-image: url("/images/scoreboards/challenge.svg"); }
.small-scoreboard--collectible .sidebar-title::before { filter: invert(1) drop-shadow(1px 1px 2px rgba(0,0,0,0.75)); background-image: url("/images/scoreboards/collectible.svg"); }
.small-scoreboard--incremental .sidebar-title::before { filter: invert(1) drop-shadow(1px 1px 2px rgba(0,0,0,0.75)); background-image: url("/images/scoreboards/incremental.svg"); }
.small-scoreboard--solution    .sidebar-title::before { filter: invert(1) drop-shadow(1px 1px 2px rgba(0,0,0,0.75)); background-image: url("/images/scoreboards/solution.svg"); }
.small-scoreboard--speedrun    .sidebar-title::before { filter: invert(1) drop-shadow(1px 1px 2px rgba(0,0,0,0.75)); background-image: url("/images/scoreboards/speedrun.svg"); }
.small-scoreboard--standard    .sidebar-title::before { filter: invert(1) drop-shadow(1px 1px 2px rgba(0,0,0,0.75)); background-image: url("/images/scoreboards/standard.svg"); }
.small-scoreboard--leader      .sidebar-title::before { filter: invert(1) drop-shadow(1px 1px 2px rgba(0,0,0,0.75)); background-image: url("/images/scoreboards/default.svg"); }

.scoreboard-widget .scoreboard-widget-header {
  display: flex;
  align-items: center;
  gap: 4px;
  height: 22px;
}

/* Some widgets have a little icon on their header. **/

.scoreboard-widget .scoreboard-widget-header::before {
  background-size: 16px 16px;
  width: 16px;
  height: 16px;
  display: block;
  content: var(--content);
  filter: invert(var(--filter)) drop-shadow(1px 1px 2px rgba(0,0,0,0.75));
  background-image: var(--image);
}

.scoreboard-widget {
  --color-flavor: var(--color-standard);
  --content: none;
  --filter: 0;
  --image: none;
}

.scoreboard-widget-arcade                    { --color-flavor: var(--color-arcade); --content: ""; --filter: 1; --image: url("/images/scoreboards/arcade.svg"); }
.scoreboard-widget-arcade-scoreboard         { --color-flavor: var(--color-arcade); --content: ""; --filter: 1; --image: url("/images/scoreboards/arcade.svg"); }
.scoreboard-widget-arcade-best               { --color-flavor: var(--color-arcade); --content: ""; --filter: 1; --image: url("/images/scoreboards/arcade.svg"); }

.scoreboard-widget-challenge                 { --color-flavor: var(--color-challenge); --content: ""; --filter: 1; --image: url("/images/scoreboards/challenge.svg"); }
.scoreboard-widget-challenge-scoreboard      { --color-flavor: var(--color-challenge); --content: ""; --filter: 1; --image: url("/images/scoreboards/challenge.svg"); }
.scoreboard-widget-challenge-best            { --color-flavor: var(--color-challenge); --content: ""; --filter: 1; --image: url("/images/scoreboards/challenge.svg"); }

.scoreboard-widget-collectible               { --color-flavor: var(--color-collectible); --content: ""; --filter: 1; --image: url("/images/scoreboards/collectible.svg"); }
.scoreboard-widget-collectible-scoreboard    { --color-flavor: var(--color-collectible); --content: ""; --filter: 1; --image: url("/images/scoreboards/collectible.svg"); }
.scoreboard-widget-collectible-best          { --color-flavor: var(--color-collectible); --content: ""; --filter: 1; --image: url("/images/scoreboards/collectible.svg"); }

.scoreboard-widget-incremental               { --color-flavor: var(--color-incremental); --content: ""; --filter: 1; --image: url("/images/scoreboards/incremental.svg"); }
.scoreboard-widget-incremental-scoreboard    { --color-flavor: var(--color-incremental); --content: ""; --filter: 1; --image: url("/images/scoreboards/incremental.svg"); }
.scoreboard-widget-incremental-best          { --color-flavor: var(--color-incremental); --content: ""; --filter: 1; --image: url("/images/scoreboards/incremental.svg"); }

.scoreboard-widget-solution                  { --color-flavor: var(--color-solution); --content: ""; --filter: 1; --image: url("/images/scoreboards/solution.svg"); }
.scoreboard-widget-solution-scoreboard       { --color-flavor: var(--color-solution); --content: ""; --filter: 1; --image: url("/images/scoreboards/solution.svg"); }
.scoreboard-widget-solution-best             { --color-flavor: var(--color-solution); --content: ""; --filter: 1; --image: url("/images/scoreboards/solution.svg"); }

.scoreboard-widget-standard                  { --color-flavor: var(--color-standard); --content: ""; --filter: 1; --image: url("/images/scoreboards/standard.svg"); }
.scoreboard-widget-standard-scoreboard       { --color-flavor: var(--color-standard); --content: ""; --filter: 1; --image: url("/images/scoreboards/standard.svg"); }
.scoreboard-widget-standard-best             { --color-flavor: var(--color-standard); --content: ""; --filter: 1; --image: url("/images/scoreboards/standard.svg"); }

.scoreboard-widget-speedrun                  { --color-flavor: var(--color-speedrun); --content: ""; --filter: 1; --image: url("/images/scoreboards/speedrun.svg"); }
.scoreboard-widget-speedrun-scoreboard       { --color-flavor: var(--color-speedrun); --content: ""; --filter: 1; --image: url("/images/scoreboards/speedrun.svg"); }
.scoreboard-widget-speedrun-best             { --color-flavor: var(--color-speedrun); --content: ""; --filter: 1; --image: url("/images/scoreboards/speedrun.svg"); }

.scoreboard-widget-ucsp                      { --color-flavor: var(--color-standard); --content: ""; --filter: 1; --image: url("/images/scoreboards/default.svg"); }
.scoreboard-widget-ucsp-best                 { --color-flavor: var(--color-standard); --content: ""; --filter: 1; --image: url("/images/scoreboards/default.svg"); }
.scoreboard-widget-ucsp-worst                { --color-flavor: var(--color-standard); --content: ""; --filter: 1; --image: url("/images/scoreboards/default.svg"); }

.scoreboard-widget-main-scoreboard           { --color-flavor: var(--color-standard); --content: ""; --filter: 1; --image: url("/images/scoreboards/standard.svg"); }
.scoreboard-widget-favourite-games           { --color-flavor: var(--color-standard); --content: ""; --filter: 1; --image: url("/images/scoreboards/heart.svg"); }
.scoreboard-widget-rainbow                   { --color-flavor: var(--color-standard); --content: ""; --filter: 0; --image: url("/images/scoreboards/rainbow.svg"); }
.scoreboard-widget-trophy                    { --color-flavor: var(--color-standard); --content: ""; --filter: 1; --image: url("/images/scoreboards/trophy.svg"); }

/***************
 * GAME PROOFS
 ***************/

.proof_box {
	width: 236px;
	height: 72px;
	position: relative;
}
	.proof_box img.userpic {
		position: absolute;
		top: 11px;
		left: 11px;
		border: 1px solid #000000;
	}

	.proof_box span.username {
		position: absolute;
		top: 15px;
		left: 70px;
		font-size: 1.2em;
		color: #ffffff;
	}

	.proof_box span.num_proofs {
		position: absolute;
		top: 41px;
		right: 41px;
		font-size: 1.2em;
		color: #ffffff;
		text-align: right;
	}

/***************
 * GAME BOARD
 ***************/
#game_board_topics th {
	text-align: left;
	font-size: 14px;
	padding-bottom: 5px;
}

#game_board_topics td.gamename {
	width: 250px;
}

#game_board_topics td.num_messages { width: 90px; }
#game_board_topics td.last_message_date { width: 130px; }

#game_board_messages td.userinfo {
	height: 125px;
	width: 155px;
	text-align: center;
}

#game_board_messages td.userinfo_small {
	height: 85px;
	width: 120px;
	text-align: center;
}


#game_board_messages td.userinfo_smaller {
	height: 55px;
	width: 120px;
    font-size: 10px;
	text-align: center;
    vertical-align: middle;
}


#game_board_messages td.userinfo_smallest {
	height: 40px;
	width: 120px;
    font-size: 10px;
	text-align: center;
}

#game_board_messages div.FunctionBoxOuter {
    width: 100%;
    height: 100%;
    text-align: center;
}

#game_board_messages div.CommentsFunctionBox {
	height: 15%;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    background-color: #23538a;
    font-size: 1vmin;
    min-width: 150px;
	width: 10%;
    color: white;
    position: relative;
    left: 10%;
    top: -35px;
	text-align: center;
}

#game_board_messages div.CommentReplyBox {
	height: 15%;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    background-color: #23538a;
    min-width: 150px;
    font-size: 1vmin;
	width: 10%;
    color: white;
    position: relative;
    left: 35%;
    top: -19px;
	text-align: center;

}

#game_board_messages div.ReplyOther {
	height: 15%;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    background-color: #23538a;
    min-width: 150px;
    font-size: 1vmin;
	width: 10%;
    color: white;
    position: relative;
    left: 35%;
    top: -27px;
	text-align: center;
}


@media screen and (min-width: 1200px) {
#game_board_messages div.CommentReplyBox {
    left: 28%
}
#game_board_messages div.ReplyOther {
    left: 28%
}
}

@media screen and (min-width: 1900px) {
#game_board_messages div.CommentReplyBox {
    left: 21%
}
#game_board_messages div.ReplyOther {
    left: 21%
}
}


#game_board_messages td.message {
	padding: 10px 10px 20px 10px;
    vertical-align: middle;
}

/***************
 * CHART AND GAME
 ***************/

.submit_button {
	display: inline;
	max-width: 150px;
	max-height: 25px;
	position: relative;
}

	.submit_button  span {
		position: absolute;
		top: -9px;
		right: 10px;
		text-align: right;
		color: #FFFFFF;
	}

/***************
 * SCOREBOARD
 ***************/
.scoreboard {
	border-collapse: collapse;
	width: 100%;
	border-bottom: 1px solid #333333;
}

	.scoreboard a:link, .scoreboard a:visited {
		color: #000000;
	}

	.scoreboard tr:nth-child(even) {
		background-color: #eef7f7;
	}

	.scoreboard td {
		padding: 2px;
		vertical-align: middle;
		border-top: 1px solid #333333;
	}

	#scoreboard_classic td {
		height: 60px;
	}

	#scoreboard_compact td {
		height: 45px;
	}

	#view_records td {
		height: 35px;
	}

	.bigger{
		font-size: 16px;
	}

	.scoreboard th.medals {
		width: 60px;
		text-align: center;
	}

	.scoreboard th.right {
		text-align: right;
	}

	.scoreboard tr.gold {
		background-color: #F1DA35;
		background-image: -webkit-linear-gradient(bottom, #F1DA35, #FFF);
		background-image:    -moz-linear-gradient(bottom, #F1DA35, #FFF);
		background-image:     -ms-linear-gradient(bottom, #F1DA35, #FFF);
		background-image:      -o-linear-gradient(bottom, #F1DA35, #FFF);
		background-image:         linear-gradient(bottom, #F1DA35, #FFF);
	}

	.scoreboard tr.silver {
		background-color: #CCC;
		background-image: -webkit-linear-gradient(bottom, #CCC, #FFF);
		background-image:    -moz-linear-gradient(bottom, #CCC, #FFF);
		background-image:     -ms-linear-gradient(bottom, #CCC, #FFF);
		background-image:      -o-linear-gradient(bottom, #CCC, #FFF);
		background-image:         linear-gradient(bottom, #CCC, #FFF);
	}

	.scoreboard tr.bronze {
		background-color: #EF8D32;
		background-image: -webkit-linear-gradient(bottom, #EF8D32, #FFF);
		background-image:    -moz-linear-gradient(bottom, #EF8D32, #FFF);
		background-image:     -ms-linear-gradient(bottom, #EF8D32, #FFF);
		background-image:      -o-linear-gradient(bottom, #EF8D32, #FFF);
		background-image:         linear-gradient(bottom, #EF8D32, #FFF);
	}

	.scoreboard td small {
		font-weight: normal;
	}

	.scoreboard td img {
		vertical-align: -1px;
	 }

	.scoreboard tr.you td {
		background: #ccccff;
	}

	.scoreboard tr.friend td {
		font-weight: bold;
		background: #ffe5cc;
	}

	.scoreboard td.pos {
		width: 66px;
		padding: 5px 0px 0px;
		text-align: center;
		font-size: 11px;
	}

	.scoreboard td.medals {
		width: 60px;
		text-align: center;
	}

	.scoreboard td.flag {
		width: 24px;
	}

	.scoreboard td.userpic {
		width: 58px;
		text-align: center;
	}

	.scoreboard td.userpic img {
		position: relative;
		top: 1px;
	}

	#scoreboard_classic td.userpic img {
		width: 50px;
		height: 50px;
	}

    	#scoreboard_classic td.charticon img, #scoreboard_compact td.charticon img, #scoreboard_extended td.charticon img {
		width: 50px;
	}

	#scoreboard_compact td.userpic img {
		width: 40px;
		height: 40px;

	}

	#scoreboard_extended td.userpic img {
		width: 100px;
		height: 100px;
	}

	.scoreboard td.name {
		width: auto;
		font-weight: bold;
	}

	.scoreboard td.data {
		width: 220px;
		text-align: right;
	}

	.scoreboard td.data2 {
		width: auto;
		padding-right: 10px;
		text-align: right;
	}

	.scoreboard td.extras {
		text-align: right;
	}

	.scoreboard td.entity {
		width: 1px;
		text-align: center;
	}

	.scoreboard td.entity img {
		max-height: 42px;
		position: relative;
		padding: 0 5px 0 10px;
		top: 1px;
	}

#viewform {
	clear: both;
	margin: 10px 0;
}

/************
 CSMAIL TABLE
 ************/
table.csmailtable td.folderlist {
	width: 135px;
	vertical-align: top;
}

table.csmailtable td.folderlist ul {
	margin: 0 0 20px 0;
	padding: 0;
	width: 125px;
	list-style: none;
}

table.csmailtable td.folderlist ul li {
	height: 30px;
}

table.csmailtable td.folderlist ul li a:link, table.csmailtable td.folderlist ul li a:visited {
	display: block;
	width: 85px;
	line-height: 32px;
	padding-left: 40px;
	background: transparent url(/images/icon-folder.gif) no-repeat;
	color: #006699;
}

table.csmailtable td.folderlist ul li a.active, table.csmailtable td.folderlist ul li a.active:hover, table.csmailtable td.folderlist ul li a:hover {
	background: transparent url(/images/icon-folderopen.gif) no-repeat;
	font-weight: bold;
}

table.csmailtable td.folderlist ul li a:hover {
	font-weight: normal;
}

table.csmailtable td.folderlist ul li a.addfolder, table.csmailtable td.folderlist ul li a.addfolder:hover {
	background: transparent url(/images/icon-folderadd.gif) no-repeat;
	font-weight: normal;
}

table.csmailtable td.messagelist {
	width: auto;
	vertical-align: top;
}

table.messages td.tickbox {
	width: 25px;
}

table.messages td.status {
	width: 25px;
}

table.messages td.username {
	width: 125px;
}

table.messages td.datestamp {
	white-space: nowrap;
}

table.messages td.subject {
	width: auto;
}

table.csmailfolders td.icon {
	width: 45px;
}

table.csmailfolders td.foldername {
	width: auto;
}

table.csmailfolders td.numbers {
	width: 90px;
}

table.csmailfolders td.options {
	width: 90px;
}

div.warning {
	padding: 5px;
	border: 1px solid #ff0000;
	background: #ffffcc;
	margin-bottom: 10px;
}

div.csmailquote {
	padding: 5px;
	background: #eeeeff;
	border: 1px solid #000000;
}

div.csmailinfo {
	padding: 5px;
	background: #eeeeee;
}

div.csmailopts {
	float: right;
	width: 80px;
	text-align: center;
}

/********************************************
* NEW TOOLTIPS CSS (ADDED ON OCTOBER 15 2018)
********************************************/

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* For dots under the hoverable text, to imply hovertext is available */
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #23538a;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
 
    /* Position the tooltip text above the source */
    position: absolute;
	z-index: 1;
    bottom: 100%;
    left: 50%; 
    margin-left: -60px;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}

.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 100%; /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #23538a transparent transparent transparent;
}

/* Bonus CSR Tooltip container */
.tooltip_bonuscsr {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted green; /* For dots under the hoverable text, to imply hovertext is available */
}

/* Bonus CSR Tooltip text */
.tooltip_bonuscsr .tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: green;
    color: #fff;
    text-align: center;
    padding: 5px 5px;
    border-radius: 6px;
 
    /* Position the Bonus CSR tooltip to the right of the source */
    position: absolute;
	z-index: 1;
    bottom: 50%;
    left: 100%; 
    margin-bottom: -85px;
}

.tooltip_bonuscsr .tooltiptext a {
	color: #fff;
	border-bottom: 1px solid white; /* For dots under the hoverable text, to imply hovertext is available */
}

/* Show the Bonus CSR tooltip text when you mouse over the tooltip container */
.tooltip_bonuscsr:hover .tooltiptext {
    visibility: visible;
}

.tooltip_bonuscsr .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 50%; /* At the left of the tooltip */
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent green transparent transparent;
}

/*****************
* OLD TOOLTIPS CSS
*****************/

#tooltip {
	position: absolute;
	z-index: 3000;
	border: 1px solid #000000;
	background-color: #edf77d;
	padding: 5px;
	/*opacity: 0.95; Opacity does not exist in CSS 2.1*/
	width: 200px;
}

#tooltip h3, #tooltip div {
	margin: 0;
}

#tooltip h3 {
	font-size: 1.0em;
}

#tooltip .body {
	font-size: 0.9em;
}

/***************
 * DIALOG
 ***************/
#dialog {
}

ul.staricon {
		margin: 5px 0 5px 0;
		padding: 0;
		list-style: none;
}

ul.staricon li {
	padding-left: 20px;
	background: url(/skins4/default/images/listicon.gif) no-repeat top left;
	margin-bottom: 3px;
}
