<div class="layout--content-primary">
  <div id="breadcrumb" class="clearfix">
    <a href="/">Home</a> &rarr; Series Management
  </div>

  <h3>Edit Series</h3>
  <table>
  {% for s in series %}
    <tr><td><a href="/game-series/{{ s.series_id }}">{{ s.series_name }}</a></td></tr>
  {% endfor %}
  </table>

  <h3>Create New Series</h3>
  <form action="/game-series" method="post">
    Series Name: <input type="text" name="series_name">
    <input type="submit" value="Create series">
  </form>
</div>
