<div class="layout--content-primary">
  <div id="breadcrumb" class="clearfix">
    <a href="/">Home</a> &rarr; Series Management
  </div>

  <div style="background-color: #d3d3d3; padding: 5px; margin: 5px;">
    <h2>Editing Series <small>({{ series.series_name }})</small></h2>
    <form action="/game-series/{{ series.series_id }}" method="post">
      Series Name:
      <input type="text" name="series_name" value="{{ series.series_name }}"><br /><br /><b>Series Games:</b><br />

      {{ render_component_with('two-panel-multiselect', {
        'entries': games,
        'name': 'game_ids',
        'value': 'game_id',
        'label': 'game_name',
        'selected': 'selected',
      }) }}
      <br />
      <input type="submit" value="Edit">
    </form>

    <form action="/game-series/{{ series.series_id }}/delete" method='post' onclick="return confirm('Are you sure you want to delete this series?')">
      <input type='Submit' value='Delete series' />
    </form>
  </div>
</div>
<script language="javascript">
  const tpmses = document.querySelectorAll('.two-panel-multiselect');
  for (const tpms of tpmses) {
    setupTwoPanelMultiselect(tpms);
  }
</script>
