<h3>Best days</h3>
<table class="smalltable zebra">
  {% for day in best_days %}
    <tr>
      <td>{{ loop.index }}</td>
      <td>{{ day.date }}</td>
      <td>{{ day.num_approved }}</td>
    </tr>
  {% endfor %}
</table>
