<h3>Recent stats (last 30 days)</h3>
<table class="smalltable zebra">
  {% for recent in recent_users %}
    <tr>
      <td>{{ loop.index }}</td>
      <td>{{ recent.username }}</td>
      <td>{{ recent.num_approved }}</td>
    </tr>
  {% endfor %}
</table>
