<div class='widget-edit-game-id'>
  <input
      form='dashboard-editor-save'
      name='widgets[{{ widget.uuid }}][params][game_ids][]'
      type='hidden'
      value="{{ game.game_id }}"
      />

  <div style='display: grid; grid-template-columns: 1fr auto; margin: 5px; align-items: center;'>
    {{ link_to_game(game) }}

  <button onclick='this.closest(".widget-edit-game-id").remove(); return false;'>Remove</button>
  </div>
</div>
