<div class="layout--content-primary layout--content-primary-readable">
  <div id="breadcrumb" class="clearfix">
    <a href="/">Home</a>
  </div>

  <p>This will add a RB DLC level to all of the proper games/groups.</p>

  <p>Only Groudon should use this really</p>

  <form action="/rockband-charts" method="post">
    <input type="text" name="chart_name" value="" size="50" required />
    <br /><br />
    <input type="checkbox" name="alpha" checked="checked"/>Sort alphabetically<br /><br />

    <input type="checkbox" name="game_ids[]" checked="checked" value="968" />Guitar<br />
    <input type="checkbox" name="game_ids[]" checked="checked" value="969" />Bass<br />
    <input type="checkbox" name="game_ids[]" checked="checked" value="974" />Vocals<br />
    <input type="checkbox" name="game_ids[]" checked="checked" value="970" />Drums<br />
    <input type="checkbox" name="game_ids[]" checked="checked" value="971" />Pro Drums<br />

    <input type="checkbox" name="game_ids[]" checked="checked" value="1625" />Brutal Guitar<br />
    <input type="checkbox" name="game_ids[]" checked="checked" value="1626" />Brutal Bass<br />
    <input type="checkbox" name="game_ids[]" checked="checked" value="1629" />Brutal Vocals<br />
    <input type="checkbox" name="game_ids[]" checked="checked" value="1627" />Brutal Drums<br />
    <input type="checkbox" name="game_ids[]" checked="checked" value="1628" />Brutal Pro Drums<br />

    <br /><br /><br />
    <br />
    <hr>
    <h1>Chart Details</h1><br /><br />
    Rule ID: <input type="text" name="rule" value="0"><br /><br />
    Chart Type: Score, Highest<br />
    Score Prefix: none<br />
    Score Suffix: none<br />
    Label: none<br />
    Decimals: 0<br /><br />
    Chart Type 2: Score, Highest<br />
    Score Prefix: none<br />
    Score Suffix: none<br />
    Label: none<br />
    Decimals: 0<br /><br />

    Secondary boxes:<br />
    1: <input type="text" name="name1" value="Stars"><br />
    2: <input type="text" name="name2" value="Percentage"><br />
    3: <input type="text" name="name3" value="Longest Streak"><br /><br />

    <input type="submit" value="Insert Chart" />
  </form>
</div>
