<div class="layout--content-primary">
  <div id="breadcrumb" class="clearfix">
    <a href="/">{{ t('general_home') }}</a> &rarr;
    {{ link_to_game(game) }} &rarr;
    <a href="/mod_scripts/edit_game_groups.php?game_id={{ game.game_id }}">Edit game charts and groups</a> &rarr;
    <a href="https://cyberscore.me.uk/game-groups/{{ pseudo_group_id }}/edit?language_id={{ language_id }}">Edit group - {{ group.name }}</a>
  </div>

  <h2 class="caption">Edit chart names for this language:</h2>

  <form action="/game-groups/{{ pseudo_group_id }}/edit" method="get">
    <select name="lang_id" onchange="this.form.submit();">
      {% for language in languages %}
        <option {{ option_selected(language.language_id, language_id) }} value="{{ language.language_id }}">
          {{ language.language_name }}
        </option>
      {% endfor %}
    </select>
  </form>
  <br />

  <form action="/game-groups/{{ pseudo_group_id }}" method="post">
    <input type="hidden" name="lang_id" value="{{ language_id }}" />
    <table class="gamelist">
      <tr>
        <th style="text-align: center;">DLC Chart</th>
        <th style="text-align: center;">Player count</th>
        <th style="text-align: center;">Chart position</th>
        <th>Chart name</th>
        <th>Link</th>
        <th>Last sub date</th>
        <th style="text-align: right;">Sub count</th>
      </tr>
      {% for chart in group_charts %}
        <tr>
          <td style="text-align: center;">
            <input type="hidden" name="charts[{{ chart.level_id }}][chart_id]" value="{{ chart.level_id }}" />
            <input type="hidden" name="charts[{{ chart.level_id }}][dlc]" value="0" />
            <input type="checkbox" name="charts[{{ chart.level_id }}][dlc]" value="1" {% if chart.dlc == 1 %}checked{% endif %} />
          </td>

          <td style="text-align: center;">
            <input type="text" name="charts[{{ chart.level_id }}][players]" value="{{ chart.players }}" size="1" />
          </td>
          <td style="text-align: center;">
            <input type="text" name="charts[{{ chart.level_id }}][level_pos]" value="{{ chart.level_pos }}" size="2" />
          </td>
          <td>
            <input type="text" name="charts[{{ chart.level_id }}][name]" value="{{ chart.name }}" size="50" />
            ×{{ chart_count_by_name[chart.level_name] }}
          </td>
          <td class="name">
            {% if chart.players > 1 %}
              [{{ chart.players }}P]
            {% endif %}
            {% if chart.dlc == 1 %}
              [DLC]
            {% endif %}
            <a href="/chart/{{ chart.level_id }}">{{ chart.level_name }}</a>
          </td>
          <td class="lastupdate">
            {% if chart.last_update %}
              {{ format_date(chart.last_update) }}
            {% else %}
              -
            {% endif %}
          </td>
          <td class="data">{{ chart.num_records }} sub(s)</td>
        </tr>
      {% endfor %}
    </table>
    <br />
    <input type="radio" name="advanced" value="normal" id="advanced_normal" checked="checked" />
    <label for="advanced_normal">Limit translation to this group</label>
    <br />
    <input type="radio" name="advanced" value="game" id="advanced_game" />
    <label for="advanced_game">Translate all charts with identical names in this game</label>
    <br />
    <br />
    <input type="submit" value="Save changes" />
  </form>

  {% if language_id != 2 %}
    <h3>Advanced translation:</h3>

    <button data-clipboard="{{ english_names_clipboard }}">
      Copy english names to clipboard
    </button>

    <br/>
    <br/>

    <form action="/game-group-chart-translations" method="post">
      <input type="hidden" name="group_id" value="{{ pseudo_group_id }}" />
      <input type="hidden" name="language_id" value="{{ language_id }}" />
      <textarea name="translation" rows="20" cols="90"></textarea>
      <br />
      <input type="radio" name="mode" value="group" id="limit_to_group_y" checked="checked" />
      <label for="limit_to_group_y">Limit translation to this group</label>
      <br />
      <input type="radio" name="mode" value="game" id="limit_to_group_n" />
      <label for="limit_to_group_n">Translate all charts with identical names in this game</label>
      <br />
      <br />
      <input type="submit" value="Add chart translations" />
    </form>
  {% endif %}
</div>

<div class="layout--sidebar-primary">
  <details class="sidebar-section" data-expand="game-groups-strip">
    <summary class="sidebar-title">Remove text from all chart names</summary>

    <p>
      This will be applied to the <strong>English chart names</strong> only,
      no matter which language you have selected.
    </p>

    <form action="/game-groups/{{ pseudo_group_id }}" method="post">
      <label for="name_string_filter">Group name / String:&nbsp;</label>
      <input type="text" name="name_string_filter" id="name_string_filter" size="20" />
      <br />
      <input type="submit" value="Remove string" />
    </form>
  </details>

  <details class="sidebar-section" data-expand="game-groups-chart-sorting">
    <summary class="sidebar-title">Chart sorting</summary>
    {% if other_groups %}
      <p>
        Copy sorting from another group,
        matching charts according to their english names.
      </p>
      <form action="/game-groups/{{ pseudo_group_id }}" method="post">
        <select name="sort_source_group_id">
          {% for g in other_groups %}
            <option value="{{ g.group_id }}">{{ g.name }}</option>
          {% endfor %}
        </select>
        <input type="submit" value="Copy sorting" />
      </form>
    {% endif %}

    <p>
      Rearrange all charts in this group alphabetically
      according to their <strong>english names</strong>.
    </p>

    <form action="/game-groups/{{ pseudo_group_id }}" method="post">
      <input type="hidden" name="sort_alphabetically" value="1" />
      <input type="submit" value="Sort alphabetically" />
    </form>
  </details>

  <details class="sidebar-section" data-expand="game-groups-move-into-here">
    <summary class="sidebar-title">Move charts into this group</summary>
    <p>
      The new charts will be added to the end of this group.
      Deselected charts will not be removed.
    </p>

    <form action="/game-groups/{{ pseudo_group_id }}" method="post">
      <select multiple="multiple" size="30" name="import_chart_ids[]" style="width: 100%; box-sizing: border-box;">
        {% for g in other_groups %}
          <option disabled="disabled">{{ g.name }}</option>
          {% for chart in charts %}
            {% if chart.group_id == g.group_id %}
              <option {{ option_selected(group.group_id, chart.group_id) }} value="{{ chart.level_id }}">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                {{ chart.name }}
              </option>
            {% endif %}
          {% endfor %}
        {% endfor %}
      </select>
      <br />
      <input type="submit" value="Save changes" />
    </form>
  </details>

  <details class="sidebar-section" data-expand="game-groups-multi-edit">
    <summary class="sidebar-title">Multi-edit charts in this group</summary>

    <p>
      To edit rules for this chart group, go to the
      <a href="/games/{{ game.game_id }}/rules">dedicated game rules page</a>.
    </p>

    <p>
      To edit modifiers for this chart group, go to the
      <a href="/game-modifiers/{{ game.game_id }}">dedicated game modifiers page</a>.
    </p>

    <form action="/game-groups/{{ pseudo_group_id }}" method="post">
      <label for="dlc">Set all charts to:&nbsp;</label>
      <select name="dlc">
        <option value="0">Non-DLC</option>
        <option value="1">DLC</option>
      </select>
      <br />
      <input type="submit" value="Save Changes"/>
    </form>
  </details>

  <details class="sidebar-section" data-expand='game-groups-delete'>
    <summary class="sidebar-title">Delete group</summary>

    {% if not group.group_id %}
      <p>
        You can't delete the "Separate charts" group.
        Technically, it doesn't exist.
      </p>
    {% elseif group_charts %}
      <p>
        You can only delete groups without any charts.
        Move them to another group (or delete them) first.
      </p>
    {% else %}
      <p>This will delete the group completely and cannot be undone.</p>

      <form action="/game-groups/{{ group.group_id }}/delete"
            onsubmit="return confirm('Are you sure you want to delete this group?');"
            method="post">
        <input type="submit" value="Delete group" />
      </form>
    {% endif %}
  </details>
</div>
