<div class="layout--content-primary">
  <div id="breadcrumb">
    <a href="/">Home</a>
  </div>

  <h1>Proof Guideline editor</h1>

  <a href="/proof-rules">Back to proof guidelines overview</a>
  <br />
  <br />

  <form method="post" action="/proof-rules">
    <textarea name="rule_text" cols="100" rows="5"></textarea>
    <br />
    <input type="submit" value="Add proof rule" />
  </form>
</div>
