<div class="layout--content-primary">
  <div id="breadcrumb">
    <a href="/">Home</a> &rarr;
    {{ t('tools_rebuild_centre') }}
  </div>

  <h1>{{ t('tools_rebuild_centre') }}</h1>

  <section>
    <h2>Manually rebuild global scoreboards</h2>
    <p>Global scoreboards rebuild every five minutes.</p>

    {% for rebuilder in scoreboard_rebuilders %}
      <form action="/admin/rebuild_cache" method="post" style="margin-bottom: 10px;">
        <input type="hidden" name="scoreboard" value="{{ rebuilder.scoreboard }}">
        <input type="submit" value="Rebuild {{ rebuilder.name }}">
      </form>
    {% endfor %}
  <section>

  <hr>

  <section>
    <h2>Queue a rebuild of a game's scoreboards</h2>
    <p>Automatic rebuild in {{ time_to_next_rebuild.game }} minutes</p>

    <form action="/admin/rebuild_cache" method="post">
      <b>Game ID:</b><br />
      <input type="number" name="game_id">
      <input type="submit" name="submit" value="Rebuild game">
    </form>
    <br />

    {% if has_access('Admin') %}
      <b>Rebuild games between Game IDs:</b>
      <form action="/admin/rebuild_cache" method="post">
        <input type="number" name="from_game_id">
        <b>&rarr;</b>
        <input type="number" name="to_game_id">
        <input type="submit" name="submit" value="Rebuild these games">
      </form>
      <br />

      <b>Rebuild all games <small>(Not recommended for use unless necessary)</small>: </b>
      <form action="/admin/rebuild_cache" method="post">
        <input type="hidden" name="every_game" value="all">
        <input type="submit" name="submit" value="Rebuild all games">
      </form>
    {% endif %}

    {% if games %}
      <h3>Currently queued for rebuild</h3>
      <table class="zebra">
        <tr>
          <th>Game ID:</th>
          <th>Game Name:</th>
          <th>Manually rebuild</th>
        </tr>
        {% for game in games %}
          <tr>
            <td>{{ game.game_id }}</td>
            <td>{{ link_to_game(game) }}</td>
            <td>
              <form action="/admin/rebuild_cache" method="post">
                <input type="hidden" name="game_id" value="{{ game.game_id }}">
                <input type="submit" value="Rebuild game manually">
              </form>
            </td>
          </tr>
        {% endfor %}
      </table>
    {% endif %}
  </section>

  <hr>

  <section>
    <h2>Queue a rebuild of a chart</h2>
    <p>Automatic rebuild in {{ time_to_next_rebuild.chart }} minutes</p>
    <form action="/admin/rebuild_cache" method="post">
      <b>Chart ID:</b><br />
      <input type="number" name="chart_id">
      <input type="submit" name="submit" value="Rebuild chart">
    </form>
    <br />

    {% if has_access('Admin') %}
      <b>Rebuild charts between chart IDs:</b>
      <form action="/admin/rebuild_cache" method="post">
        <input type="number" name="from_chart_id">
        <b>&rarr;</b>
        <input type="number" name="to_chart_id">
        <input type="submit" name="submit" value="Rebuild these charts">
      </form>
      <br />

      <b>Rebuild all charts <small>(Not recommended for use unless necessary)</small>: </b>
      <form action="/admin/rebuild_cache" method="post">
        <input type="hidden" name="every_chart" value="all">
        <input type="submit" name="submit" value="Rebuild all charts">
      </form>
      <br />
    {% endif %}
  </section>
</div>
