<div class="layout--content-primary">
  <div id="breadcrumb">
    <a href="/">{{ t('general_home') }}</a> &rarr;
    <a href='/community'>{{ t('general_community') }}</a> &rarr;
    {{ t('support_title') }}
  </div>

  <h1>{{ t('support_title') }}</h1>

  {{ text|raw }}
</div>
