<div class="layout--content-primary layout--content-primary-readable">
  <div id="breadcrumb">
    <a href="/">Home</a> &rarr;
    <a href="/users">Users</a> &rarr;
    Staff password changer
  </div>

  <p>
    You can change the password for {{ user.username }}, although <strong>you shouldn't</strong>.
    They should recover it themselves via the "Forgot my password?" flow.
    Use this only as a last resort if there's something wrong with password recovery.
  </p>

  <p>The password must be at least 12 characters long.</p>

  <form class='labelled-form' action="/passwords/{{ user.user_id }}" method="post">
    <div class='labelled-form-label'><label for="password">New password:</label></div>
    <div class='labelled-form-value'><input type="password" id="password" name="password" value="" minlength=12 /></div>
    <div class='labelled-form-label'><label for="password_confirmation">Confirm password:</label></div>
    <div class='labelled-form-value'><input type="password" id="password_confirmation" name="password_confirmation" value="" minlength=12 /></div>
    <div class='labelled-form-separator'><input type="submit" name="submit" value="Confirm Change" /></div>
  </form>
</div>
