<div class="layout--content-primary">
  <div id="breadcrumb">
    <a href="/">{{ t('general_home') }}</a> &rarr;
    {{ link_to_game(game.game_id) }} &rarr;
    <a href="/mod_scripts/edit_game_groups.php?game_id={{ game.game_id }}">Edit game charts and groups</a> &rarr;
    <a href="/game-group-charts/new?group_id={{ group.group_id }}&game_id={{ game.game_id }}">Add Charts - {{ group.name }}</a>
  </div>

  <p>
    All the charts you add here will go in the same group and have the same
    settings. If you wish to change them individually, you can do so
    afterwards.
  </p>

  <style>
.quick-select { padding: 50px; }

.quick-selections {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(9, auto);
  justify-content: start;
}

.quick-selection-header {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 1 / -1;
}

.quick-selection {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 1 / -1;
  border: 1px solid #333;
  padding: 5px;
  gap: 20px;
  align-items: center;
}

.quick-selection-flags {
  display: flex;
  gap: 1px;
}
.quick-selection-flags > div {
  width: 18px;
  height: 18px;
  background-size: 100%;
  background-position: 0;
  opacity: 0.10;
  filter: grayscale(1);
  border: 1px solid white;
}
.quick-selection-flags .enabled { opacity: 1; filter: none; border: 1px solid black; }
.quick-selection-flags .standard { background-image: url(/images/scoreboards/standard.svg); background-color: var(--color-standard-light); }
.quick-selection-flags .speedrun { background-image: url(/images/scoreboards/speedrun.svg); background-color: var(--color-speedrun-light); }
.quick-selection-flags .solution { background-image: url(/images/scoreboards/solution.svg); background-color: var(--color-solution-light); }
.quick-selection-flags .arcade { background-image: url(/images/scoreboards/arcade.svg); background-color: var(--color-arcade-light); }
.quick-selection-flags .unranked { background-image: url(/images/scoreboards/unranked.svg); background-color: var(--color-unranked-light); }
.quick-selection-flags .challenge { background-image: url(/images/scoreboards/challenge.svg); background-color: var(--color-challenge-light); }
.quick-selection-flags .incremental { background-image: url(/images/scoreboards/incremental.svg); background-color: var(--color-incremental-light); }
.quick-selection-flags .collectible { background-image: url(/images/scoreboards/collectible.svg); background-color: var(--color-collectible-light); }
.quick-selection-flags .unranked { background-image: url(/images/scoreboards/unranked.svg); background-color: var(--color-unranked-light); }

.quick-selection-modifiers {
  display: flex;
}
.quick-selection-modifiers > div {
  width: 18px;
  height: 24px;
  background-size: 150%;
  background-position: -2px 0px;
  opacity: 0.10;
  filter: grayscale(1);
}
.quick-selection-modifiers .enabled { opacity: 1; filter: none; }
.quick-selection-modifiers .gameplay_differences_device { background-image: url(/skins4/default/images/modifiers/gameplay_differences_device.png); }
.quick-selection-modifiers .gameplay_differences_game_version { background-image: url(/skins4/default/images/modifiers/gameplay_differences_game_version.png); }

.quick-selection-modifiers .premium_upgrades_and_consumables_earnable { background-image: url(/skins4/default/images/modifiers/premium_upgrades_and_consumables_earnable.png); }
.quick-selection-modifiers .premium_upgrades_and_consumables_premium_only { background-image: url(/skins4/default/images/modifiers/premium_upgrades_and_consumables_premium_only.png); }
.quick-selection-modifiers .premium_upgrades_and_consumables_inaccessible { background-image: url(/skins4/default/images/modifiers/premium_upgrades_and_consumables_inaccessible.png); }
.quick-selection-modifiers .premium_upgrades_and_consumables_conditionally_accessible { background-image: url(/skins4/default/images/modifiers/premium_upgrades_and_consumables_conditionally_accessible.png); }

.quick-selection-modifiers .accessibility_issues_inaccessible { background-image: url(/skins4/default/images/modifiers/accessibility_issues_inaccessible.png); }
.quick-selection-modifiers .accessibility_issues_conditionally_accessible { background-image: url(/skins4/default/images/modifiers/accessibility_issues_conditionally_accessible.png); }
.quick-selection-modifiers .accessibility_issues_geographical { background-image: url(/skins4/default/images/modifiers/accessibility_issues_geographical.png); }

.quick-selection-modifiers .full_game { background-image: url(/skins4/default/images/modifiers/full_game.png); }
.quick-selection-modifiers .part_game { background-image: url(/skins4/default/images/modifiers/part_game.png); }
.quick-selection-modifiers .body_of_work { background-image: url(/skins4/default/images/modifiers/body_of_work.png); }

.quick-selection-submission-label {
  display: inline-block;
  background-color: #eee;
  border: 1px solid #ccc;
  padding: 2px 4px;
}

.quick-selection-rules span {
  display: inline-block;
  background-color: #eee;
  border: 1px solid #ccc;
  padding: 2px 4px;
}

.game-group-charts-form {
  gap: 2rem;
}

/* layout */
@media (min-width: 1500px) {
  .game-group-charts-form {
    display: grid;
    grid-template-areas: "names quickselect" "names properties" "submit submit";
    grid-template-columns: 1fr 3fr;
  }
}

.game-group-charts-name { grid-area: names; }
.game-group-charts-quick-select { grid-area: quickselect; }
.game-group-charts-properties { grid-area: properties; }
.game-group-charts-submit { grid-area: submit; }


.game-group-charts-name { display: grid; align-content: start; grid-template-rows: auto 1fr; }
.game-group-charts-name textarea { width: 100%; min-height: 300px; height: 100%; box-sizing: border-box; }

.chart-properties.htmx-added {}
.chart-properties {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1rem 1rem;
}

.chart-properties .chart-flags {
  display: flex;
}

.chart-properties .chart-flag {
  display: grid;
  width: 80px;
  align-content: end;
  justify-content: center;
  text-align: center;
  justify-items: center;
}

.chart-properties .chart-flag span {
  font-family: Ubuntu;
  font-weight: bold;
}

.chart-flag-banner {
  width: 60px;
  height: 60px;
  mask-image: url(/images/scoreboards/banner.svg);
  mask-size: 100%;
  background-color: var(--color-flag-regular);
}

.chart-flag-banner::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-image: var(--chart-icon-url);
  background-size: 35%;
  background-repeat: no-repeat;
  background-position: 50% 40%;
  filter: invert(1);
}

.chart-properties p:first-child {
  margin-top: 0;
}
.chart-properties p {
  max-inline-size: 80ch;
}

.chart-properties .chart-flag:not(:has([readonly])):hover {
  background-color: #eee;
}

.csp-modifiers {
  display: flex;
}

.modifier-category {
  background-color: var(--color-modifier-light);
  display: grid;
  grid-template-rows: auto 1fr;
}

.modifier:hover {
  background-color: var(--color-modifier-regular);
}

.modifier-category .sidebar-title {
  background-color: var(--color-modifier-regular);
  text-align: center;
  color: black;
  text-shadow: 0 0 2px white;
}

.modifiers {
  display: grid;
  grid-auto-flow: column;
}

.modifier {
  width: 80px;
  cursor: pointer;
  display: grid;
  justify-items: center;
  align-content: end;
  text-align: center;
}
  </style>

  <form class='game-group-charts-form' action="/game-group-charts" method="post">
    <input type="hidden" name="game_id" value="{{ game.game_id }}" />
    <input type="hidden" name="group_id" value="{{ group.group_id }}" />

    <div class='game-group-charts-name'>
      <h2>Put your chart names here, one per line:</h2>
      <textarea name="level_names"></textarea>
    </div>
    <div class='game-group-charts-quick-select'>
      <h3>Quick select configuration presets:</h3>
      {% if empty_group %}
        <p>Charts in this game use the following configuration options:</p>
      {% else %}
        <p>Charts in this group use the following configuration options:</p>
      {% endif %}

      <div class='quick-selections'>
        <div class='quick-selection-header'>
          <div></div>
          <div></div>
          <div>Players</div>
          <div>Chart Flags</div>
          <div>Modifiers</div>
          <div>Submission 1</div>
          <div>Submission 2</div>
          <div>Rules</div>
          <div>Extra fields</div>
        </div>

        {% for qs in chart_quick_selections %}
          <div class='quick-selection'>
            <div hx-target='next .chart-properties' class='quick-selection-apply' hx-swap='outerHTML'>
              <button hx-get='/game-group-charts/form?id={{ qs.level_id }}'>Apply</button>
            </div>
            <div class='quick-selection-charts'>({{ qs.count }} charts)</div>
            <div class='quick-selection-players'>[{{ qs.players }}P]</div>
            <div class='quick-selection-flags'>
              {% for flag in chart_flags %}
                <div class='{% if qs[flag[0]] %}enabled {% endif %}{{ flag[0] }}' title='{{ t('general_' ~ flag[0]) }}'></div>
              {% endfor %}
            </div>
            <div class='quick-selection-modifiers'>
              {% for modifier in csp_modifiers %}
                <div class='{% if qs[modifier[0]] %}enabled{% endif %} {{ modifier[0] }}' title='{{ t('modifier_' ~ modifier[0]) }}'></div>
              {% endfor %}
            </div>
            <div class='quick-selection-primary-submission'>
              {%- if qs.chart_type == 0 -%}       [none]
              {%- elseif qs.chart_type == 1 -%} [faster]
              {%- elseif qs.chart_type == 2 -%} [longer]
              {%- elseif qs.chart_type == 3 -%} [lower]
              {%- elseif qs.chart_type == 4 -%} [higher]
              {%- elseif qs.chart_type == 5 -%} [rank]
              {% endif %}
              [{{ qs.num_decimals }}]
              <span class='quick-selection-submission-label'>"{{ qs.score_prefix }}[{{ qs.name_pri }}]{{ qs.score_suffix }}"</span>
            </div>
            <div class='quick-selection-secondary-submission'>
              {% if qs.chart_type2 %}
                {%- if qs.chart_type2 == 0 -%}       [none]
                {%- elseif qs.chart_type2 == 1 -%} [faster]
                {%- elseif qs.chart_type2 == 2 -%} [longer]
                {%- elseif qs.chart_type2 == 3 -%} [lower]
                {%- elseif qs.chart_type2 == 4 -%} [higher]
                {%- elseif qs.chart_type2 == 5 -%} [rank]
                {% endif %}
                [{{ qs.num_decimals2 }}]
                <span class='quick-selection-submission-label'>"{{ qs.score_prefix2 }}[{{ qs.name_sec }}]{{ qs.score_suffix2 }}"</span>
                (x {{ qs.conversion_factor }})
              {% endif %}
            </div>
            <div class='quick-selection-rules'>
              {% for rule in qs.level_rules %}
                <span title="{{ rule.rule_text|e('html_attr') }}">{{ rule.rule_id }}</span>
              {% endfor %}
            </div>
            <div class='quick-selection-extra'>
              <span>{{ qs.name1 }}</span>
              <span>{{ qs.name2 }}</span>
              <span>{{ qs.name3 }}</span>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>

    <div class='game-group-charts-properties'>
      <h3 class="caption">Chart properties</h3>
      {{ render_component_with('game-group-charts/form', { 'selection': null }) }}
    </div>

    <div class='game-group-charts-submit'>
      <input type="submit" value="Add charts" />
    </div>
  </form>
</div>

<script>
  // TODO: this is too similar to what's on src/templates/games/modifiers.php
  // It would be great if we could somehow remove the duplication.
  function chartModifierSelected(ev) {
    const target = ev.target;
    const id = target.dataset.id;

    if (target.dataset.arcadeModifier != "1") return;

    if (target.checked) {
      document.querySelector(`[data-type=flag][data-modifier=arcade]`).checked = true;
      document.querySelector(`[data-type=flag][data-modifier=standard]`).checked = false;
    } else {
      if (!document.querySelector(`[data-type=modifier][data-arcade-modifier="1"]:checked`)) {
        document.querySelector(`[data-type=flag][data-modifier=arcade]`).checked = false;
        const isStandard = document.querySelector(`[data-type=flag]:checked:not([data-modifier=standard])`) == null;
        document.querySelector(`[data-type=flag][data-modifier=standard]`).checked = isStandard;
      }
    }
  }

  function chartFlagSelected(ev) {
    const target = ev.target;
    const id = target.dataset.id;

    if (target.dataset.modifier == 'arcade' || target.dataset.modifier == 'standard') {
      ev.preventDefault();
      return false;
    }

    const isStandard = document.querySelector(`[data-type=flag]:checked:not([data-modifier=standard])`) == null;
    document.querySelector(`[data-type=flag][data-modifier=standard]`).checked = isStandard;
  }
</script>
