<div class='sidebar-section'>
  <h4 class='sidebar-title'>Information</h4>
  <div class='sidebar-section-body'>
    <ul>
      <li><a href="/translations">Translation overview</a></li>
      <li><a href="/translations/faq">Translation FAQ</a></li>
    </ul>
  </div>
</div>

<div class='sidebar-section'>
  <h4 class='sidebar-title'>Translate</h4>
  <div class='sidebar-section-body'>
    <ul>
        <li><a href="/translations/games">Translate games</a></li>
        <li><a href="/translations/page-strings">Translate page strings</a></li>
        <li><a href="/translations/countries">Translate country names</a></li>
        <li><a href="/translations/news">Translate news</a></li>
        <li><a href="/translations/rules">Translate rules</a></li>
        <li><a href="/translations/proof-rules">Translate proof guidelines</a></li>
    </ul>

    <form action="/translations/current-language" method="post" style="margin-top: 10px;">
      Translation language:
      <select id="translate_lang" name="translate_lang" onchange="this.form.submit();">
        {% for language in languages %}
          <option {{ option_selected(language['language_id'], translate_lang_id) }} value="{{ language['language_id'] }}">
          {{ language['language_code']|upper }} &ndash; {{ language['language_name'] }}
          </option>
        {% endfor %}
      </select>
    </form>
  </div>
</div>

{% if has_access('GlobalMod') %}
  <div class='sidebar-section'>
    <h4 class='sidebar-title'>Mod tools</h4>
    <div class='sidebar-section-body'>
      <ul>
        <li><a href="/translations/country-suggestions">Pending country suggestions ({{ pending_country_names_count }})</a></li>
        <li><a href="/translations/rule-suggestions">Pending rules suggestions ({{ pending_rule_count }})</a></li>
        <li><a href="/translations/proof-rule-suggestions">Pending proof guidelines suggestions ({{ pending_proof_rule_count }})</a></li>
        <li><a href="/translations/page-strings/new">Add new page string</a></li>
        <li><a href="/translations/translators">Edit translators</a></li>
      </ul>
    </div>
  </div>
{% endif %}

