<script type="text/javascript" src="/js/popup.js"></script>
<style>
.popup {
  position: absolute;
  z-index: 9002;
  padding: 40px;

  width: 800px;
  left: calc(50vw - 400px - 40px);
  height: 400px;
  top: calc(50vh - 200px - 40px);

  border-radius: 22px 22px 22px 22px;
  border: 5px solid #23538a;
  box-shadow: 10px 10px 29px 0px rgba(0,0,0,0.69);

  background: #ffffff;
  overflow-y: scroll;
}
.popup-close {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 3;
}
.popup--closed {
  display: none;
}
</style>
<div id="entity-upload-popup" class='popup popup--closed'>
  <a class='popup-close' href="#" onclick="closeEntityUploadPopup()" ><img src="/images/x.png" height="12" width="12" alt="{{ t('tools_close') }}"></a>

  <div class="entity-upload-popup-error notification_error" style="display: none">
  </div>

  <h1>Entity Icon Uploader</h1>
  <form action="/game-entity-icons" method="post" enctype="multipart/form-data" target="_blank">
    Entity ID: <input type="number" name="entity_id" readonly id='entity-icon-upload-entity-id' min="0"><br /><br />
    Entity Icon file: <input type="file" name="icon_file" size="40" />
    <input type="hidden" name="game_id" value="{{ game.game_id }}"><br /><br />
    <input type="submit" value="Upload Entity Icon">
  </form>
  <script type="text/javascript">
    document.querySelector('#entity-upload-popup form').addEventListener('submit', async function(ev) {
      ev.preventDefault();

      const form = new FormData(ev.target);

      const response = await fetch("/game-entity-icons", {
        method: 'post',
        body: form
      });

      if (response.status == 200) {
        const image = document.querySelector(`img[data-entity="${form.get("entity_id")}"]`);
        image.src = image.src + `?x`;

        closeEntityUploadPopup();
      } else {
        const error = await response.json();

        document.querySelector('.entity-upload-popup-error').innerHTML = error.error;
        document.querySelector('.entity-upload-popup-error').style.display = "block";
      }
    });

    function closeEntityUploadPopup() {
      document.querySelector('.entity-upload-popup-error').innerHTML = "";
      document.querySelector('.entity-upload-popup-error').style.display = "none";
      closePopup('entity-upload-popup');
    }
  </script>
</div>
