<footer id="footer">
  <div id="footerleft">
    {{ t('general_footer_version', {'current year': year }) }}
    <br />
    {{ t('general_footer_copyright') }}
    <br />
    <div>
      <a href="https://twitter.com/Cyberscore" class="twitter-follow-button">{{ t('general_follow') }}</a>
    </div>
  </div>

  <div id="footerlinks">
    <a href="/site_rules">{{ t('general_footer_rules') }}</a><br />
    <a href="https://gitlab.com/cyberscore/cyberscore">{{ t('documentation_open_source') }}</a><br />
    <a href="https://discord.gg/0ltq5mHzEqHnRc6N">{{ t('general_discord_server') }}</a><br />
    <a href="/team">{{ t('general_footer_team') }}</a><br />
    <a href="https://www.paypal.me/thebrain10">{{ t('general_donate') }}</a><br />
    <a href="/faq">{{ t('general_faq') }}</a><br />
  </div>

  <div id="footerright">
    <form action="/language" method="post">
      <label for="site_lang">{{ t('general_site_language') }}</label>
      <select id="site_lang" name="site_lang" onchange="this.form.submit();">
        {% for language in languages %}
          <option value="{{ language['language_id'] }}" {{ option_selected(language['language_id'], site_lang_id) }}>
            {{ language['language_name'] }}
          </option>
        {% endfor %}
      </select>
    </form>

    {% if has_access('Dev') %}
      <br />
      {{ t('general_footer_execution', {'seconds': execution_time}) }}
      <br />
      <button onclick="mt = document.querySelector('.database-queries'); mt.classList.toggle('visible'); mt.scrollIntoView()">{{ t('general_footer_queries', {'queries': database_queries|length }) }}</button>
      <br />
      {% if missing_translations|length > 0 %}
      <button onclick="mt = document.querySelector('.missing-translations'); mt.classList.toggle('visible'); mt.scrollIntoView()">{{ missing_translations|length }} missing translations</button>
      <br />
      {% endif %}
    {% endif %}

    {% if num_online == 1 %}
      {{ t('general_footer_users_singular') }}
    {% else %}
      {{ t('general_footer_users_plural', {'users': num_online}) }}
    {% endif %}
  </div>
</footer>
{%- if has_access('Dev') %}
<style>
.missing-translations {
  display: none;
  background-color: white;
  padding: 10px;
  font-family: monospace;
}
.missing-translations.visible { display: block; }

.database-queries {
  display: none;
  background-color: white;
  padding: 10px;
  font-family: monospace;
}
.database-queries.visible { display: block; }
</style>
<div class='database-queries'>
  <h3>Database queries:</h3>
  <ul>
    {% for query in database_queries %}
      <li>{{ query[0] }} {{ query[1] }} {{ query[2] }}</li>
    {% endfor %}
  </ul>
</div>
<div class='missing-translations'>
  <h3>Missing translations:</h3>
  <ul>
    {% for t in missing_translations %}
      <li><a href="/translations/page-strings/new?key={{ t }}" target='_blank'>{{ t }}</a></li>
    {% endfor %}
  </ul>
</div>
{%- endif %}
