{% if errors|length > 0 %}
  <div id="notification_error">
    {% for error in errors %}
      <strong>{{ error['title'] }}</strong><br />{{ error['body']|raw }}
    {% endfor %}
  </div>
{% endif %}

{% if successes|length > 0 %}
  <div id="notification_success">
    {% for success in successes %}
      <strong>{{ success['title'] }}</strong><br />{{ success['body']|raw }}
    {% endfor %}
  </div>
{% endif %}

{% if unverified %}
<div id="notification_error">
  <strong>You haven't verified your email address.</strong> Until then, your actions on this website are restricted.

  <strong><a href="/settings/contact">Verify your email address now</a></strong>
</div>
{% endif %}
