{% for section, items in sidebar %}
  <h3>{{ section }}</h3>
  {% for item, title in items %}
    <div class="menu">
      <a class="menu" href="/{{ base_path }}/{{ item }}">{{ title }}</a>
    </div>
  {% endfor %}
{% endfor %}
