<div class="scoreboard-widget scoreboard-widget-incremental">
  <div class="scoreboard-widget-header">
    <a href="/scoreboards/incremental">
      {{ t('general_experience_table') }}
    </a>
  </div>
  <table>
    <thead>
      <tr>
        <th class="position">#</th>
        <th>{{ t('general_user') }}</th>
        <th style='text-align: right;'>
          <img src="/images/scoreboards/incremental.svg" style="max-height: 16px; width: auto;" alt="{{ t('general_vxp')|e('html_attr') }}" title="{{ t('general_vxp')|e('html_attr') }}">
        </th>
      </tr>
    </thead>
    <tbody>
      {% for entry in entries %}
        <tr class="{{ classnames({'highlight': widget_user and entry.user_id == widget_user.user_id}) }}">
          <td class="position">{{ entry.scoreboard_pos }}</td>
          <td class="username">
            [<b>L{{ entry.base_level|number_format(0) }}</b>]
            {{ link_to_user(entry) }}</td>

          <td class="medal" style="text-align: center;">
            <span class="text_incremental">{{ entry.vs_cxp|number_format(0) }}</span>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
