<div class="scoreboard-widget scoreboard-widget-latest-games">
  <div class="scoreboard-widget-header">
    <a href="/games.php?sort=recent&sort_direction=DESC">
      {{ t('index_latest_games') }}
    </a>
  </div>
  <table>
    <thead>
      <tr>
        <th>{{ t('general_date') }}</th>
        <th>{{ t('general_game') }}</th>
      </tr>
    </thead>
    <tbody>
      {% for entry in entries %}
        <tr>
          <td class="date">{{ format_date(entry.date_published) }}</td>
          <td class="headline">{{ link_to_game(entry) }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
