<div class="scoreboard-widget scoreboard-widget-recentactivity-forum">
  <div class="scoreboard-widget-header">
    <a href="{{ forum_base_url }}/index.php?action=recent">
      {{ t('index_latest_posts') }}
    </a>
  </div>
  <table>
    <thead>
      <tr>
        <th>{{ t('general_date') }}</th>
        <th>{{ t('general_topic') }}</th>
        <th>{{ t('general_last_reply') }}</th>
      </tr>
    </thead>
    <tbody>
      {% for entry in entries %}
        <tr>
          <td class="date">{{ format_date(entry.timestamp) }}</td>
          <td class="headline">{{ entry.link|raw }}</td>
          <td class="author">{{ entry.poster.link|raw }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

