<div class="scoreboard-widget scoreboard-widget-rainbow">
  <div class="scoreboard-widget-header">
    <a href="/scoreboards/rainbow">
      {{ t('scoreboards_ultimate') }}
    </a>
  </div>
  <table>
    <thead>
      <tr>
        <th class="position">#</th>
        <th>{{ t('general_user') }}</th>
        <th style='text-align: right;'>
          <img src="/images/scoreboards/rainbow.svg" style="height: 16px; width: 16px;" alt="{{ t('scoreboards_rp')|e('html_attr') }}" title='{{ t('scoreboards_rp')|e('html_attr') }}'>
        </th>
      </tr>
    </thead>
    <tbody>
      {% for entry in entries %}
        <tr class="{{ classnames({'highlight': widget_user and entry.user_id == widget_user.user_id}) }}">
          <td class="position">{{ entry.scoreboard_pos }}</td>
          <td class="username">{{ link_to_user(entry) }}</td>
          <td class="medal" style="text-align: center;">
            {{ entry.rainbow_power|number_format(0) }}
          </td>
        </tr>
      {% endfor %}
      </tbody>
  </table>
</div>

