<div class="scoreboard-widget scoreboard-widget-standard">
  <div class="scoreboard-widget-header">
    <a href="/scoreboards/medal">
      {{ t('general_medal_table') }}
    </a>
  </div>
  <table>
    <thead>
      <tr>
        <th class="position">#</th>
        <th>{{ t('general_user') }}</th>
        <th style='text-align: center;'>
          <img
            src="/images/icon-platinumstar.png"
            alt="Platinum medals"
            title="Platinum medals"  />
        </th>
        <th style='text-align: center;'>
          <img
            src="/images/icon-goldstar-v2.png"
            alt="Gold medals"
            title="Gold medals"  />
        </th>
        <th style='text-align: center;'>
          <img
            src="/images/icon-silverstar-v2.png"
            alt="Silver medals"
            title="Silver medals"  />
        </th>
        <th style='text-align: center;'>
          <img
            src="/images/icon-bronzestar-v2.png"
            alt="Bronze medals"
            title="Bronze medals" />
        </th>
      </tr>
    </thead>
    <tbody>
      {% for entry in entries %}
        <tr class="{{ classnames({'highlight': widget_user and entry.user_id == widget_user.user_id}) }}">
        <td class="position">{{ entry.scoreboard_pos }}</td>
        <td class="username">{{ link_to_user(entry) }}</td>
        <td class="medal" style="text-align:center;">
          <span class="text_platinum">{{ entry.platinum|number_format }}</span>
        </td>
        <td class="medal" style="text-align:center;">
          <span class="text_gold">{{ entry.gold|number_format }}</span>
        </td>
        <td class="medal" style="text-align:center;">
          <span class="text_silver">{{ entry.silver|number_format }}</span>
        </td>
        <td class="medal" style="text-align:center;">
          <span class="text_bronze">{{ entry.bronze|number_format }}</span>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

