<div class="scoreboard-widget scoreboard-widget-trophy">
  <div class="scoreboard-widget-header">
    <a href="/scoreboards/trophy">
      {{ t('general_trophy_table') }}
    </a>
  </div>
  <table>
    <thead>
      <tr>
        <th class="position">#</th>
        <th>{{ t('general_user') }}</th>
        <th style='text-align: center;'>
          <img
            src="{{ skin_image_url('trophy_points_trophy.png') }}"
            alt="{{ t('general_trophy_points') }}"
            title="{{ t('general_trophy_points') }}" />
        </th>
        <th style='text-align: center;'>
          <img
            src="{{ skin_image_url('trophy_1.png') }}"
            alt="Platinum trophies"
            title="Platinum trophies" />
        </th>
        <th style='text-align: center;'>
          <img
            src="{{ skin_image_url('trophy_2.png') }}"
            alt="Gold trophies"
            title="Gold trophies"  />
        </th>
        <th style='text-align: center;'>
          <img
            src="{{ skin_image_url('trophy_3.png') }}"
            alt="Silver trophies"
            title="Silver trophies"  />
        </th>
        <th style='text-align: center;'>
          <img
            src="{{ skin_image_url('trophy_4.png') }}"
            alt="Bronze trophies"
            title="Bronze trophies" />
        </th>
      </tr>
    </thead>
    <tbody>
      {% for entry in entries %}
        <tr class="{{ classnames({
          'chartname_trophy': true,
          'highlight': widget_user and entry.user_id == widget_user.user_id
        }) }}">
          <td class="position">{{ entry.scoreboard_pos }}</td>
          <td class="username">{{ link_to_user(entry) }}</td>
          <td class="medal" style="text-align:center;">
            {{ entry.trophy_points|number_format }}
          </td>
          <td class="medal" style="text-align:center;">
            <span class="text_platinum">{{ entry.platinum|number_format }}</span>
          </td>
          <td class="medal" style="text-align:center;">
            <span class="text_gold">{{ entry.gold|number_format }}</span>
          </td>
          <td class="medal" style="text-align:center;">
            <span class="text_silver">{{ entry.silver|number_format }}</span>
          </td>
          <td class="medal" style="text-align:center;">
            <span class="text_bronze">{{ entry.bronze|number_format }}</span>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
