<div class="layout--content-primary">
  <div id="breadcrumb" class="clearfix">
    <a href="/">{{ t('general_home') }}</a> &rarr;
    <a href="/games.php">{{ t('general_games') }}</a>
  </div>

  <h1>{{ t('general_games') }}</h1>

  <div id="game_selection">
    <div id="buttons">
      <a href="/games?site_id=all">
        <div id="link-trapezoid-clockwise" style="margin-left: 30px; background: url(./images/button_1.jpg); background-size:cover;">
          {{ t('games_full_list') }}
        </div>
      </a>
      <a href="/games.php?site_id=mine">
        <div id="link-trapezoid-clockwise" style="background: url(./images/button_2.jpg); background-size:cover;">
          {{ t('games_my_list') }}
        </div>
      </a>
      <a href="/games.php?sort=recent&sort_direction=DESC">
        <div id="link-trapezoid-clockwise" style="background: url(./images/button_5.jpg); background-size:cover;">
          {{ t('games_new_list') }}
        </div>
      </a>
      <a href="/game_requests.php">
        <div id="link-trapezoid-clockwise" style="background: url(./images/button_4.jpg); background-size:cover;">
          <small>
            {{ t('games_request_game', {'link_forum': '','link_site_game_requests':'', '/link':''}) }}
          </small>
        </div>
      </a>
      {% if has_access('GameMod') %}
        <a href="javascript:ToggleDivVisible('workshop');">
          <div id="link-trapezoid-clockwise" style="background: url(./images/button_3.jpg); background-size:cover;">
            {{ t('games_workshop') }}
          </div>
        </a>
      {% endif %}
    </div>

    {% if has_access('GameMod') %}
      <!-- Display the Workshop game hub -->
      <div id="workshop" class="zebra" style="display:none;">
        <br />
        <hr>
        <table>
          <tr>
            <td><strong>{{ t('games_game_name') }}</strong></td>
            <td><strong>Charts</strong></td>
          </tr>
          {% for g in workshop_games %}
            <tr>
              <td>
                {{ link_to_game(g) }}
                <a title="Edit Game" href="/mod_scripts/edit_game.php?id={{ g['game_id'] }}">
                  <img src="{{ skin_image_url("edit.png") }}" width="11" height="11" alt="Edit" />
                </a>
              </td>
              <td>{{ g['all_charts']|number_format }}</td>
            </tr>
          {% endfor %}
        </table>
        <br />

        <form action="/games" method="post">
          <input type="text" name="game_name" size="40">
          <input type="submit" value="Add new game">
        </form>
      </div>
    {% endif %}

    <form id="customdropdown" action="" method="GET">
      <input type="hidden" name="site_id" value="{{ filters.site_id }}">

      <h2>Search games</h2>

      <div class='games-filter'>
        <div>
          <label>Platforms</label>
          <select name="platform_id" id="platforms" style="width: 130px;">
            <option value="0">All platforms</option>
            {% for platform in platforms %}
              <option value="{{ platform['platform_id'] }}" {{ option_selected(platform['platform_id'], filters.platform_id) }} data-image="/uploads/platforms/{{ platform['platform_id'] }}.gif"></option>
            {% endfor %}
          </select>
        </div>
        <div>
          <label>First letter:</label>
          <select name="letter" id="letters" style="width: 110px;">
            <option value="">All letters</option>
            <option value="0" {{ option_selected('0', filters.letter) }}>0-9</option>

            {% for letter in range('A', 'Z') %}
              <option value="{{ letter }}" {{ option_selected(letter, filters.letter) }}>{{ letter }}</option>
            {% endfor %}
          </select>
        </div>
        <div>
          <label>Chart flag filter:</label>
          <select name="charttype" id="charttype" style="width: 180px;">
            <option value="ALL" {{ option_selected("ALL", filters['chart_type']) }} data-image="{{ skin_image_url("Dropdown_icons/CSStar24x25White.png") }}">All charts</option>
            <option value="1" {{ option_selected(1, filters.chart_type) }} data-image="{{ skin_image_url("Dropdown_icons/icon_ranked20x25White.png") }}">Standard only</option>
            <option value="2" {{ option_selected(2, filters.chart_type) }} data-image="{{ skin_image_url("Dropdown_icons/icon_arcadeWhite17x25.png") }}">Arcade</option>
            <option value="3" {{ option_selected(3, filters.chart_type) }} data-image="{{ skin_image_url("Dropdown_icons/icon_speedrun20x25White.png") }}">Speedrun</option>
            <option value="6" {{ option_selected(6, filters.chart_type) }} data-image="{{ skin_image_url("Dropdown_icons/SolutionWhite25x17.png") }}">Solution</option>
            <option value="7" {{ option_selected(7, filters.chart_type) }} data-image="{{ skin_image_url("Dropdown_icons/icon_challenge25x25White.png") }}">User Challenge</option>
            <option value="8" {{ option_selected(8, filters.chart_type) }} data-image="{{ skin_image_url("Dropdown_icons/icon_collectible_white.png") }}">Collectible</option>
            <option value="9" {{ option_selected(9, filters.chart_type) }} data-image="{{ skin_image_url("Dropdown_icons/icon_incremental_white.png") }}">Incremental</option>
          </select>
        </div>
        <div>
          <label>Sort by:</label>
          <select name="sort" id="sort" style="width: 190px;">
            <option value="game_name">Game name</option>
            <option value="recent"              {{ option_selected("recent",              filters.sort) }} >Date added</option>
            <option value="all_records"         {{ option_selected("all_records",         filters.sort) }} >Total records</option>
            <option value="all_charts"          {{ option_selected("all_charts",          filters.sort) }} >Total charts</option>
            <option value="all_rpc"             {{ option_selected("all_rpc",             filters.sort) }} >Total RPC</option>
            <option value="all_players"         {{ option_selected("all_players",         filters.sort) }} >Total players</option>
            <option value="csp_charts"          {{ option_selected("csp_charts",          filters.sort) }} data-image="{{ skin_image_url("Dropdown_icons/icon_ranked20x25White.png")    }}">CSP-awarding Charts</option>
            <option value="csp_records"         {{ option_selected("csp_records",         filters.sort) }} data-image="{{ skin_image_url("Dropdown_icons/icon_ranked20x25White.png")    }}">CSP-awarding Records</option>
            <option value="csp_rpc"             {{ option_selected("csp_rpc",             filters.sort) }} data-image="{{ skin_image_url("Dropdown_icons/icon_ranked20x25White.png")    }}">CSP-awarding RPC</option>
            <option value="csp_players"         {{ option_selected("csp_players",         filters.sort) }} data-image="{{ skin_image_url("Dropdown_icons/icon_ranked20x25White.png")    }}">CSP-awarding Players</option>
            <option value="standard_charts"     {{ option_selected("standard_charts",     filters.sort) }} data-image="{{ skin_image_url("Dropdown_icons/icon_ranked20x25White.png")    }}">Standard Charts</option>
            <option value="standard_records"    {{ option_selected("standard_records",    filters.sort) }} data-image="{{ skin_image_url("Dropdown_icons/icon_ranked20x25White.png")    }}">Standard Records</option>
            <option value="standard_rpc"        {{ option_selected("standard_rpc",        filters.sort) }} data-image="{{ skin_image_url("Dropdown_icons/icon_ranked20x25White.png")    }}">Standard RPC</option>
            <option value="standard_players"    {{ option_selected("standard_players",    filters.sort) }} data-image="{{ skin_image_url("Dropdown_icons/icon_ranked20x25White.png")    }}">Standard Players</option>
            <option value="arcade_charts"       {{ option_selected("arcade_charts",       filters.sort) }} data-image="{{ skin_image_url("Dropdown_icons/icon_arcadeWhite17x25.png")    }}">Arcade Charts</option>
            <option value="arcade_records"      {{ option_selected("arcade_records",      filters.sort) }} data-image="{{ skin_image_url("Dropdown_icons/icon_arcadeWhite17x25.png")    }}">Arcade Records</option>
            <option value="arcade_rpc"          {{ option_selected("arcade_rpc",          filters.sort) }} data-image="{{ skin_image_url("Dropdown_icons/icon_arcadeWhite17x25.png")    }}">Arcade RPC</option>
            <option value="arcade_players"      {{ option_selected("arcade_players",      filters.sort) }} data-image="{{ skin_image_url("Dropdown_icons/icon_arcadeWhite17x25.png")    }}">Arcade Players</option>
            <option value="speedrun_charts"     {{ option_selected("speedrun_charts",     filters.sort) }} data-image="{{ skin_image_url("Dropdown_icons/icon_speedrun20x25White.png")  }}">Speedrun Charts</option>
            <option value="speedrun_records"    {{ option_selected("speedrun_records",    filters.sort) }} data-image="{{ skin_image_url("Dropdown_icons/icon_speedrun20x25White.png")  }}">Speedrun Records</option>
            <option value="speedrun_rpc"        {{ option_selected("speedrun_rpc",        filters.sort) }} data-image="{{ skin_image_url("Dropdown_icons/icon_speedrun20x25White.png")  }}">Speedrun RPC</option>
            <option value="speedrun_players"    {{ option_selected("speedrun_players",    filters.sort) }} data-image="{{ skin_image_url("Dropdown_icons/icon_speedrun20x25White.png")  }}">Speedrun Players</option>
            <option value="solution_charts"     {{ option_selected("solution_charts",     filters.sort) }} data-image="{{ skin_image_url("Dropdown_icons/SolutionWhite25x17.png")       }}">Solution Charts</option>
            <option value="solution_records"    {{ option_selected("solution_records",    filters.sort) }} data-image="{{ skin_image_url("Dropdown_icons/SolutionWhite25x17.png")       }}">Solution Records</option>
            <option value="solution_rpc"        {{ option_selected("solution_rpc",        filters.sort) }} data-image="{{ skin_image_url("Dropdown_icons/SolutionWhite25x17.png")       }}">Solution RPC</option>
            <option value="solution_players"    {{ option_selected("solution_players",    filters.sort) }} data-image="{{ skin_image_url("Dropdown_icons/SolutionWhite25x17.png")       }}">Solution Players</option>
            <option value="challenge_charts"    {{ option_selected("challenge_charts",    filters.sort) }} data-image="{{ skin_image_url("Dropdown_icons/icon_challenge25x25White.png") }}">User Challenge Charts</option>
            <option value="challenge_records"   {{ option_selected("challenge_records",   filters.sort) }} data-image="{{ skin_image_url("Dropdown_icons/icon_challenge25x25White.png") }}">User Challenge Records</option>
            <option value="challenge_rpc"       {{ option_selected("challenge_rpc",       filters.sort) }} data-image="{{ skin_image_url("Dropdown_icons/icon_challenge25x25White.png") }}">User Challenge RPC</option>
            <option value="challenge_players"   {{ option_selected("challenge_players",   filters.sort) }} data-image="{{ skin_image_url("Dropdown_icons/icon_challenge25x25White.png") }}">User Challenge Players</option>
            <option value="collectible_charts"  {{ option_selected("collectible_charts",  filters.sort) }} data-image="{{ skin_image_url("Dropdown_icons/icon_collectible_white.png")   }}">Collectible Charts</option>
            <option value="collectible_records" {{ option_selected("collectible_records", filters.sort) }} data-image="{{ skin_image_url("Dropdown_icons/icon_collectible_white.png")   }}">Collectible Records</option>
            <option value="collectible_rpc"     {{ option_selected("collectible_rpc",     filters.sort) }} data-image="{{ skin_image_url("Dropdown_icons/icon_collectible_white.png")   }}">Collectible RPC</option>
            <option value="collectible_players" {{ option_selected("collectible_players", filters.sort) }} data-image="{{ skin_image_url("Dropdown_icons/icon_collectible_white.png")   }}">Collectible Players</option>
            <option value="incremental_charts"  {{ option_selected("incremental_charts",  filters.sort) }} data-image="{{ skin_image_url("Dropdown_icons/icon_incremental_white.png")   }}">Incremental Charts</option>
            <option value="incremental_records" {{ option_selected("incremental_records", filters.sort) }} data-image="{{ skin_image_url("Dropdown_icons/icon_incremental_white.png")   }}">Incremental Records</option>
            <option value="incremental_rpc"     {{ option_selected("incremental_rpc",     filters.sort) }} data-image="{{ skin_image_url("Dropdown_icons/icon_incremental_white.png")   }}">Incremental RPC</option>
            <option value="incremental_players" {{ option_selected("incremental_players", filters.sort) }} data-image="{{ skin_image_url("Dropdown_icons/icon_incremental_white.png")   }}">Incremental Players</option>
            <option value="unranked_charts"     {{ option_selected("unranked_charts",     filters.sort) }} data-image="{{ skin_image_url("Dropdown_icons/icon_unranked17x25White.png")  }}">Zero-CSP Charts</option>
            <option value="unranked_records"    {{ option_selected("unranked_records",    filters.sort) }} data-image="{{ skin_image_url("Dropdown_icons/icon_unranked17x25White.png")  }}">Zero-CSP Records</option>
            <option value="unranked_rpc"        {{ option_selected("unranked_rpc",        filters.sort) }} data-image="{{ skin_image_url("Dropdown_icons/icon_unranked17x25White.png")  }}">Zero-CSP RPC</option>
            <option value="unranked_players"    {{ option_selected("unranked_players",    filters.sort) }} data-image="{{ skin_image_url("Dropdown_icons/icon_unranked17x25White.png")  }}">Zero-CSP Players</option>
          </select>
          &nbsp;
          <select name="sort_direction" id="sort_direction" style="width: 120px;">
            <option value="ASC"  {{ option_selected("ASC",  filters.sort_direction) }}>Ascending</option>
            <option value="DESC" {{ option_selected("DESC", filters.sort_direction) }}>Descending</option>
          </select>
        </div>
      </div>
      <div><input type="submit" value="Search Games"></div>
    </form>
  </div>

  <br />

  {% if games|length > 0 %}
    <h2>{{ header }}</h2>
    <style>
      #allgames .medals {
        background-size: auto 50px;
        background-position: top center;
        background-repeat: no-repeat;
        text-align: center;
        height: 80px;
        vertical-align: bottom;
      }
      #allgames .medals.all         { color: var(--color-standard); background-image: url(/images/icon_submissions.png); }
      #allgames .medals.csp         { color: var(--color-standard); background-image: url(/images/CSStar.png); }
      #allgames .medals.standard    { color: var(--color-standard); background-image: url(/images/icon_ranked.png); }
      #allgames .medals.speedrun    { color: var(--color-speedrun); background-image: url(/images/icon_speedrun.png); }
      #allgames .medals.arcade      { color: var(--color-arcade); background-image: url(/images/icon_arcade.png); }
      #allgames .medals.solution    { color: var(--color-solution); background-image: url(/images/Solution.png); }
      #allgames .medals.challenge   { color: var(--color-challenge); background-image: url(/images/icon_challenge.png); }
      #allgames .medals.collectible { color: var(--color-collectible); background-image: url(/images/icon_collectible.png); }
      #allgames .medals.incremental { color: var(--color-incremental); background-image: url(/images/icon_incremental.png); }
      #allgames .medals.unranked    { color: var(--color-unranked); background-image: url(/images/icon_unranked.png); }
    </style>
    <table id="allgames" class="zebra">
      <tr>
        <th style="width: 15%; vertical-align: bottom;">
          {{ t('games_game_name') }}
        </th>
        <th style="width: 345px; vertical-align: bottom; max-width:245px;">{{ t('general_platforms') }}</th>
        <th style="max-width: 100px; width:100px;" class="mobile-hidden"></th>
        {% for column in columns %}
          {% if column.visible %}
            <th class="medals mobile-hidden {{ column.name }}">
              {{ column.title }}
            </th>
          {% endif %}
        {% endfor %}
      </tr>

      {% for g in games %}
        <tr>
          <td>
            {{ link_to_game(g) }}
            {% if has_access('GameMod') %}
              <a title="Edit Game" href="/mod_scripts/edit_game.php?id={{ g['game_id'] }}">
                <img src="{{ skin_image_url('edit.png') }}" width="11" height="11" alt="Edit" />
              </a>
            {% endif %}
          </td>
          <td style="width: 345px; vertical-align: bottom; max-width:245px;">
            {% for platform in g['platforms'] %}
              <img class="platform_icon" src="/uploads/platforms/{{ platform['platform_id'] }}.gif" alt="{{ platform['platform_name'] }}" title="{{ platform['platform_name'] }}" />
            {% endfor %}
          </td>
          <td style="max-width: 100px; width:100px;" class="mobile-hidden">
            <small>
              Charts:<br/>
              Records (RPC):<br/>
              Players:
            </small>
          </td>
          {% for column in columns %}
            {% if column.visible %}
              <td style="text-align: center;" class="mobile-hidden">
                <small>
                  <strong>{{ g[column.name ~ '_charts']|number_format }}</strong>
                  <br />
                  {{ g[column.name ~ '_subs']|number_format }}
                  ({{ g[column.name ~ '_rpc']|number_format(2) }})
                  <br />
                  {{ g[column.name ~ '_players']|number_format }}
                </small>
              </td>
            {% endif %}
          {% endfor %}
        </tr>
      {% endfor %}
    </table>
    <br />
    {% if num_games == 1 %}
      {{ t('general_game_singular') }},
    {% else %}
      {{ t('general_game_plural', {'games': num_games}) }},
    {% endif %}
    {% if selected_game_platforms|length == 1 %}
      {{ t('general_platform_singular') }},
    {% else %}
      {{ t('general_platform_plural', {'platforms': selected_game_platforms|length}) }},
    {% endif %}
    {{ num_levels|number_format }} charts,
    {{ num_records|number_format }} records,
    {{ (num_records / num_levels)|number_format(2) }} RPC
  {% endif %}
</div>

<!-- This script enables our fancy new dropdown menu code -->
<script language="javascript">
  $(document).ready(function(e) {
    try { $("#customdropdown select").msDropDown();}
    catch(e) {console.log(e);}
  });
</script>
