<script type="text/javascript" src="/js/ui/effects.core.packed.js"></script>
<script type="text/javascript" src="/js/ui/effects.highlight.packed.js"></script>

<div class="layout--sidebar-primary">
  {{ render_component_with('games/sidebar-staff-tools', {'game': game}) }}
  {{ render_component_with('games/rhs-game-info', {'game': game}) }}
</div>

<div class="layout--sidebar-secondary">
  {{ render_component_with('games/rhs-small-scoreboard', {'game': game}) }}
  {{ render_component_with('games/rhs-split-info', {'game': game}) }}
  {{ render_component_with('games/sidebar-related-games', {'game': game}) }}
</div>

<div class="layout--content-primary">
  <div class="games-show-title-header">
    <div id="breadcrumb" class="clearfix">
      <a href="/">{{ t('general_home') }}</a> &rarr;
      <a href="/games.php">{{ t('general_games') }}</a> &rarr;
      <a href="/game/{{ game.game_id }}">{{ game_name }}</a>

      {{ render_component_with("games/language-selection", {'game_id': game['game_id']}) }}
    </div>

    <div id="gameinfo">
      <p>{{ game.notes|nl2br }}</p>
    </div>
  </div>

  {% if current_user %}
    <a class='btn-game btn-game--standard' href="/records/multiple/new?game_id={{ game.game_id }}">
      {{ t('games_submit_records') }}
    </a>

    {% if submitted_any_records %}
      &nbsp;
      <a class='btn-game btn-game--speedrun' href="/proofs/new?game_id={{ game.game_id }}">
        {{ t('games_submit_proofs') }}
      </a>
    {% endif %}

    {% if game.auto_proofer_module %}
      &nbsp;
      <a class='btn-game btn-game--speedrun' href="/record-auto-proofs/new?game_id={{ game.game_id }}">
        Submit auto-proof (beta)
      </a>
    {% endif %}

    {% if game.savefile_module %}
      &nbsp;
      <a class='btn-game btn-game--standard' href="/record-savefiles/new?game_id={{ game.game_id }}">
        Submit save file scores
      </a>
    {% endif %}

    {% if submitted_any_records %}
      &nbsp;
      <a class='btn-game btn-game--standard' href="/record-improvements/{{ game.game_id }}">
        Improve your scores
      </a>
    {% endif %}
  {% endif %}
  <br />
  <br />

  <button class="btn-game" data-action="expand" data-rank="all">Expand all</button>
  <button class="btn-game" data-action="collapse" data-rank="all">Collapse all</button>

  {% if game['standard_charts'] > 0 %}
    <button class="btn-game btn-game--standard" data-action="expand" data-rank="standard">Expand Standard</button>
    <button class="btn-game btn-game--standard" data-action="collapse" data-rank="standard">Collapse Standard</button>
  {% endif %}

  {% if game['speedrun_charts'] > 0 %}
    <button class="btn-game btn-game--speedrun" data-action="expand" data-rank="speedrun">Expand Speedrun</button>
    <button class="btn-game btn-game--speedrun" data-action="collapse" data-rank="speedrun">Collapse Speedrun</button>
  {% endif %}

  {% if game['arcade_charts'] > 0 %}
    <button class="btn-game btn-game--arcade" data-action="expand" data-rank="arcade">Expand Arcade</button>
    <button class="btn-game btn-game--arcade" data-action="collapse" data-rank="arcade">Collapse Arcade</button>
  {% endif %}

  {% if game['solution_charts'] > 0 %}
    <button class="btn-game btn-game--solution" data-action="expand" data-rank="solution">Expand Solution</button>
    <button class="btn-game btn-game--solution" data-action="collapse" data-rank="solution">Collapse Solution</button>
  {% endif %}

  {% if game['challenge_charts'] > 0 %}
    <button class="btn-game btn-game--challenge" data-action="expand" data-rank="challenge">Expand User Challenge</button>
    <button class="btn-game btn-game--challenge" data-action="collapse" data-rank="challenge">Collapse User Challenge</button>
  {% endif %}

  {% if game['incremental_charts'] > 0 %}
    <button class="btn-game btn-game--incremental" data-action="expand" data-rank="incremental">Expand Incremental</button>
    <button class="btn-game btn-game--incremental" data-action="collapse" data-rank="incremental">Collapse Incremental</button>
  {% endif %}

  {% if game['collectible_charts'] > 0 %}
    <button class="btn-game btn-game--collectible" data-action="expand" data-rank="collectible">Expand Collectible</button>
    <button class="btn-game btn-game--collectible" data-action="collapse" data-rank="collectible">Collapse Collectible</button>
  {% endif %}

  <table class="gamelist">
    {%- for group in game_groups %}
      <tbody class="collapsed {{ group['colour'] }} all" data-groupid='{{ group['group_id'] }}'>
        <tr class="group {{ group['colour'] }}">
          <td class="noicon"></td>
          <td class="name">
            <a href="#" onclick="return toggleGroup(this)">{{ group.name }}</a>
          </td>
          <td class="score"></td>
          <td class="lastupdate"></td>
          <td class="data">
            {%- if group.num_levels == 1 %}
              {{ t('general_chart_singular') }}
            {% else %}
              {{ t('general_chart_plural', {'charts': group.num_levels}) }}
            {% endif -%}
             ({{ (group.total_subs / group.num_levels)|number_format(1) }} {{ t('general_rpc') }})
          </td>
          <td class="icon_right_header">
            <a title="{{ t('groupstats_title') }}" href="/group/{{ game.game_id }}/{{ group.group_id }}">
              <img src="/images/group-stats.png" width="16" height="16" alt="{{ t('groupstats_title') }}" />
            </a>
          </td>
        </tr>

        {%- for this_level in group_levels[group.group_id] %}
          <tr class='chart'>
            <td class="icon_left">
              {%- if this_level.chart_pos and this_level.awards.medals %}
                {%- if this_level.chart_pos == 1 and this_level.platinum %}
                  <img src="/images/icon-platinumstar.png" width="16" height="16" title="Platinum" />
                {% elseif this_level.chart_pos == 1 %}
                  <img src="/images/icon-goldstar-v2.png" width="16" height="16" title="Gold" />
                {% elseif this_level.chart_pos == 2 %}
                  <img src="/images/icon-silverstar-v2.png" width="16" height="16" title="Silver" />
                {% elseif this_level.chart_pos == 3 %}
                  <img src="/images/icon-bronzestar-v2.png" width="16" height="16" title="Bronze" />
                {%- else -%}
                  {{ nth(this_level.chart_pos) }}
                {%- endif -%}
              {%- elseif this_level.chart_pos and this_level.awards.medals == false -%}
                {{ nth(this_level.chart_pos) }}
              {%- endif -%}
            </td>
            <td class="chartname {{ this_level.colour }}">
              {%- if this_level['players'] > 1 %}
                [{{ this_level['players'] }}P]
              {% endif -%}
              {%- if this_level['dlc'] == 1 %}
                [DLC]
              {% endif -%}
              <a href="/chart/{{ this_level['chart_id'] }}">
                {{- this_level.chart_name -}}
              </a>
            </td>
            <td style="text-align: right; padding-right: 20px;">
              {%- if this_level.rec_submission is not same as null or this_level.rec_submission2 is not same as null %}
                {{- format_submission(this_level, "rec_") -}}
              {% else %}
                {{- "-" -}}
              {% endif -%}
              {{- " / " -}}
              {%- if this_level.best_submission is not same as null or this_level.best_submission2 is not same as null %}
                {{- format_submission(this_level, "best_") -}}
              {% else %}
                {{- "-" -}}
              {% endif -%}
            </td>
            <td class="lastupdate">
              {%- if this_level.num_subs == 0 %}
                -
              {% else %}
                {{ format_date(this_level.last_sub_date) }}
              {% endif -%}
            </td>
            <td class="data">
              {%- if this_level.num_subs == 1 %}
                {{ t('general_submission_singular') }}
              {% else %}
                {{ t('general_submission_plural', {'subs': this_level.num_subs}) }}
              {% endif -%}
            </td>
            <td class="icon_right">
              {%- if this_level.chart_pos %}
                {%- if this_level.rec_status in [0,3,4] %}
                  <img src="/images/green_bullet.png" width="16" height="16" title="You submitted to this chart" />
                {% endif -%}
                {%- if this_level.rec_status in [1,5] %}
                  <img src="/images/yellow_bullet.png" width="16" height="16" title="Record pending investigation" />
                {% endif -%}
                {%- if this_level.rec_status in [2,6] %}
                  <img src="/images/red_bullet.png" width="16" height="16" title="Record under investigation" />
                {% endif -%}
              {% endif -%}

              {%- if this_level.rec_status in [3] %}
                <img src="/images/tick_green.png" width="16" height="16" title="Record approved" />
              {% endif -%}
              {%- if this_level.rec_status in [4,5,6] %}
                <img src="/images/tick_yellow.png" width="16" height="16" title="Record pending approval" />
              {% endif -%}
            </td>
          </tr>
        {% endfor -%}
      </tbody>
    {% endfor -%}
  </table>
</div>

<script type="text/javascript">
function rememberState(tbody) {
  let groupId = tbody.dataset.groupid;
  if (!tbody.classList.contains('collapsed')) {
    window.localStorage.setItem(`expanded-${groupId}`, true);
  } else {
    window.localStorage.removeItem(`expanded-${groupId}`);
  }
}

function loadState(tbody) {
  if (window.localStorage.getItem(`expanded-${tbody.dataset.groupid}`) == 'true') {
    tbody.classList.remove('collapsed');
  }
}

function toggleGroup(element) {
  var tbody = element.closest('tbody');

  tbody.classList.toggle('collapsed');
  rememberState(tbody);
  return false;
}

function expand(group) {
  document.querySelectorAll(`tbody.${group}`).forEach((e) => {
    e.classList.remove('collapsed');
    rememberState(e);
  });
}

function collapse(group) {
  document.querySelectorAll(`tbody.${group}`).forEach((e) => {
    e.classList.add('collapsed');
    rememberState(e);
  });
}

document.querySelectorAll('[data-action=expand]').forEach((e) => {
  e.addEventListener('click', () => expand(e.dataset.rank));
});

document.querySelectorAll('[data-action=collapse]').forEach((e) => {
  e.addEventListener('click', () => collapse(e.dataset.rank));
});

document.querySelectorAll('tbody').forEach((e) => loadState(e));
</script>

<script type="text/javascript">
function rememberDetailsState(details) {
  if (details.open != true) {
    window.localStorage.setItem(`open-${details.dataset.id}`, false);
  } else {
    window.localStorage.removeItem(`open-${details.dataset.id}`);
  }
}

function loadDetailsState(details) {
  if (window.localStorage.getItem(`open-${details.dataset.id}`) == 'false') {
    details.open = false;
  }
}

//Load and emulate the remembered state of each HTML details element upon pageload.
document.querySelectorAll('details').forEach((e) => loadDetailsState(e));
</script>
