<style>
#view_records .position img {
  width: 16px;
  height: 16px;
  position: relative;
  top: 3px;
}
</style>
<div class="layout--content-primary">
  <div id="breadcrumb">
    <a href="/">{{ t('general_home') }}</a> &rarr;
    <a href="/records/new?id={{ user.user_id }}">{{ t('viewrecords_select_title') }}</a> &rarr;
    {{ t('loginbox_viewrecords') }}
  </div>

  <h1>{{ title }}</h1>

  {% if records %}

    <table class="zebra" id="view_records">
      <thead>
        <tr>
          <th class="game">
            {{ t('general_game_group_and_chart') }}
          </th>
          <th class="position" style="text-align: right; padding-right: 50px;">
            {{ t('general_position') }}
          </th>
          <th class="score" colspan="2">
            {{ t('general_record') }}
          </th>
          <th class="topscore">
            {{ t('general_top_record') }}
          </th>
          <th class="points">
            {{ t('general_csp') }}
          </th>
          <th class="date" style="text-align: right; padding-right: 40px;">
            {{ t('general_date') }}
          </th>
        </tr>
      </thead>
      {% for record in records %}
        <tr>
          <td>
            <!-- row number -->
            {% set row_number = ( row_number | default(0) ) + 1 %}
            {{ row_number }}. 

            {{ link_to_game(record) }} &ndash;
            {{ link_to_game_group(record) }} &ndash;
            <span class="chartname_{{ record.rank }}">
              {{ link_to_chart(record) }}
            </span>
          </td>
          <td class="position" style="text-align: right; padding-right: 50px;">
            {% if record.awards.medals %}
              {% if record.chart_pos == 1 and record.platinum == 1 %}
                <img src="/images/icon-platinumstar.png"  title="Platinum" />
              {% elseif record.chart_pos == 1 %}
                <img src="/images/icon-goldstar-v2.png"   title="Gold" />
              {% elseif record.chart_pos == 2 %}
                <img src="/images/icon-silverstar-v2.png" title="Silver" />
              {% elseif record.chart_pos == 3 %}
                <img src="/images/icon-bronzestar-v2.png" title="Bronze" />
              {% endif %}
            {% endif %}
            {{ record.chart_pos }}/{{ record.chart_subs }}
          </td>

          <td class="score">
            <span class="chartname_{{ record.rank }}">
              {{ link_to_record(record) }}
            </span>
          </td>

          <td style="max-width: 40px;">
            {% if record.rec_status == 1 %}
              <img src="{{ skin_image_url("error.png") }}" width="16" height="16" alt="Pending investigation" title="Pending investigation" />
            {% elseif record.rec_status == 2 %}
              <img src="{{ skin_image_url("exclamation.png") }}" width="16" height="16" alt="Under investigation" title="Under investigation" />
            {% elseif record.rec_status == 3 %}
              <img src="{{ skin_image_url("tick.png") }}" width="16" height="16" alt="Record approved" title="{{ record.proof_type }}" />
            {% endif %}

            {% if record.proof_details %}
              <a href="{{ record.proof_details.url }}" target="_blank">
                <img src="{{ record.proof_details.icon }}" width="16" height="16" />
              </a>
            {% endif %}

            {% if record.comment %}
              <img src="/images/comment.png" width="16" height="16" alt="Comment" title="{{ record.comment }}" />
            {% endif %}
          </td>

          <td class="topscore">
            {{ format_submission(record, 'top_') }}
          </td>
          <td class="points">
            <span title="{{ record.ucsp }} {{ t('general_ucsp') }}">{{ record.csp }}</span>
          </td>
          <td class="date" style="text-align: right; padding-right: 20px;">
            {{ format_date(record.last_update) }}
          </td>
        </tr>
      {% endfor %}
    </table>
  {% endif %}
</div>
