<!DOCTYPE html>
<html>
  <head>
    <!-- Metadata -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{{ page_title }}{{ t('general_pagetitle_end') }}</title>
    <!-- OpenGraph protocol metadata -->
    <meta property="og:site_name" content="Cyberscore – Video game high scores and fast times" />
    <meta property="og:title"     content="{{ page_title }}" />
    <meta property="og:type"      content="website"/>
    <meta property="og:image"     content="{{ image }}" />
    <meta property="og:url"       content="https://cyberscore.me.uk" />
    <meta property="og:description" content="{{ description }}" />


    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{ skin_stylesheet("fontawesome.min.css?3c91fe080121300b539af6c6c67cf6ae6a6ace05") }}
    {{ skin_stylesheet("colors.css?f9c685fb651680ec68a5ee777a13c03c90749b85") }}
    {{ skin_stylesheet("cyberscore.css?7fc4c738a550036def80428f84f33a62d9549236") }}
    {{ skin_stylesheet("main.css?ba655c62720172d139dc2da03b6b7398eebb3dca") }}
    {{ skin_stylesheet("pain.css?f6da23b0647bbb91c93a8412cd0cba3c2d2985fc") }}
    {{ skin_stylesheet("lain.css?bbd61878dd1be6dd872d130130005f15f16f94db") }}
    {{ skin_stylesheet("ui.css?449c056578271941b22bbd88662ab8914c1693a6") }}
    {{ skin_stylesheet("dd.css?9b5219926270174dc4bf69d024067d83355ec95c") }}
    {{ skin_stylesheet("ui-2.css?7b6147a32b789a89ff5dab5c0972b0bac84460e4") }}
    {{ skin_stylesheet("jquery-ui.min.css?2a9fbc1007b412791fe97bae59848416bd8899e7") }}

    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Ubuntu" />
    <link rel="stylesheet" type="text/css" href="/fa/fontawesome-free-6.4.0-web/css/all.min.css" />


    <!-- third party -->
    {{ javascript_tag("jquery-3.3.1.min.js?0dc32db4aa9c5f03f3b38c47d883dbd4fed13aae") }}
    {{ javascript_tag("jquery.dd.min.js?5ffa3817b619400bdf211ee1331ba69b02429e24") }}
    {{ javascript_tag("ui/ui.core.packed.js?65aa873638089f2db1da9f1ff00da5b08a0c1d37") }}
    {{ javascript_tag("ui/ui.dialog.packed.js?c9b6c9db84b36a0c8260796c374cb59905b9b30b") }}
    {{ javascript_tag("Chart.bundle.min.js?81639a5f38c61eda919d85f55cddc5befec6946b") }}
    {{ javascript_tag("vendor/htmx.min.js?06135d29dd843c0bb045e90b57a6b8c4aff4f4fc") }}
    {{ javascript_tag("vendor/Sortable.min.js?e074fbba9d9cb25c30c5ea2a27e604f28440145b") }}

    <!-- first party -->
    {{ javascript_tag("common.js?59312d3e6c8784cde0e7dd61dd501fb4205fa04b") }}
    {{ javascript_tag("two-panel-multiselect.js?f455236df6eb267b39386d5afcb0fdea7a9cb0ae") }}
  </head>
  <body class="page-{{ page_class ?: "unknown" }}">
    <header>
      <a href='#contentcontainer' class='skiplink'>Skip to main content</a>
      <div class='header'>
        <button aria-controls='topnav' class='hamburger' aria-expanded='false' onclick='toggleMobileMenu(event)'>
          <span class='sr-only'>Primary Navigation Menu</span>
        </button>

        <a href="/" class='logo' aria-label="Homepage">
          Cyberscore
        </a>

        {{ render_component_with("loginbox", []) }}
      </div>

      {{ render_component_with("site-wide-notice", []) }}
      {{ render_component_with("topnav", []) }}
    </header>
      {{ render_component_with('notifications', []) }}

    <main id='contentcontainer'>
      {{ include(template ~ '.html.twig') }}
    </main>

    {{ render_component_with("footer", []) }}
  </body>
  <script>
    function toggleMobileMenu(evt) {
      const visibility = evt.target.ariaExpanded !== "true";

      evt.target.ariaExpanded = visibility;
    }
  </script>
</html>
