<div id="pageleft">
  <div id="breadcrumb" class="clearfix">
    <a href="/">Home</a> &rarr; <a href="/leagues/select.php">Leagues</a>
  </div>

  <h1>Select which games you are interested in a league for</h1>

  <h2>Leagues</h2>

  <?php if (count($get_leagues_in) > 0) { ?>
  <table id="allgames" class="zebra">
    <tr>
      <th>Game</th>
      <th>Manager</th>
      <th>Status</th>
      <th>Users</th>
      <th> </th>
    </tr>

    <?php foreach ($get_leagues_in as $game) { ?>
    <tr>
      <td>
        <a href="/leagues/view.php?league=<?php echo $game['league_id']; ?>"><?php echo $game['game_name']; ?></a>
      </td>

      <td><?php echo $game['username']?></td>

      <td>
      <?php
      if ($game['finished'] == 0) { ?>
        Waiting for players
      <?php } else if ($game['finished'] == 1) { ?>
        Running
      <?php } else { ?>
        Unknown status
      <?php } ?>
      </td>

      <td>
      <?php $interested = database_single_value("SELECT COUNT(*) FROM league_maybe WHERE league_id = ?", 's', [$game['league_id']]); ?>
      <?php if ($interested == 1) { ?>
        <?php echo $interested ?> user
      <?php } else { ?>
        <?php echo $interested ?> users
      <?php } ?>
      </td>

      <td>
      <?php if($user_id == $game['manager_id']){ ?>
        Manager
      <?php } else if (database_single_value("SELECT COUNT(1) FROM league_maybe WHERE user_id = ? AND league_id = ?", 'ss', [$user_id, $game['league_id']]) == 1) { ?>
        <a href="/leagues/join.php?league=<?php echo $league?>">Leave</a>
      <?php } else { ?>
        <a href="/leagues/join.php?league=<?php echo $league?>">Join</a>
      <?php } ?>
      </td>
    </tr>
    <?php } ?>
  </table>
  <br>
  <br>
  <?php } ?>

  <h2>Game List</h2>
  <table id="allgames" class="zebra">
  <?php foreach ($get_games_played as $game) { ?>
    <tr>
      <td><?php echo $game['game_name']; ?></td>
      <td>
      <?php if (database_single_value("SELECT COUNT(*) FROM league_manager WHERE manager_id = ? AND game_id = ? AND finished < 2", 'ss', [$user_id, $game['game_id']]) == 0) { ?>
        <a href="/leagues/create.php?game=<?php echo $game['game_id']; ?>">CREATE</a>
      <?php } else { ?>
        -
      <?php } ?>
      </td>
    </tr>
  <?php } ?>

  <?php foreach ($all_games as $game) { ?>
    <tr>
      <td><?php echo $game['game_name']; ?></td>
      <td>
      <?php if (database_single_value("SELECT * FROM league_manager WHERE manager_id = ? AND game_id = ? AND finished < 2", 'ss', [$user_id, $game['game_id']]) == 0) { ?>
        <a href="/leagues/create.php?game=<?php echo $game['game_id']; ?>">CREATE</a>
      <?php } else { ?>
        -
      <?php } ?>
      </td>
    </tr>
  <?php } ?>
  </table>
</div>
