<script src='https://www.google.com/recaptcha/api.js'></script>

<div class="register">
  <h1>{{ t('register_title') }}</h1>

  {% if current_user %}
    <p>
      {{ t('register_logged_in', {'link_profile': "<a href='/profile.php'>", '/link': '</a>'})|raw }}
    </p>
  {% else %}
    {{ t('register_intro', {'link_forum':'<a href="/forum/index.php">','/link':'</a>'})|raw }}

    <h2>{{ t('register_form_title') }}</h2>

    <form class='register-form' action="/register.php" method="post">
      <label for="username">{{ t('general_username') }}{{ t('general_colon') }}</label>
      <input autofocus required type="text" name="username" id="username" size="30" maxlength="20" value="{{ params['username'] }}" />
      <small class='urules'>{{ t('register_username_rules') }}</small>

      <label for="email">{{ t('general_email') }}{{ t('general_colon') }}</label>
      <input required type="email" name="email" id="email" size="30" maxlength="50" value="{{ params['email'] }}" />

      <label for="password">{{ t('general_password') }}{{ t('general_colon') }}</label>
      <input required type="password" name="password" id="password" size="10" maxlength="16" />

      <label for="password_confirmation">{{ t('register_retype_password') }}{{ t('general_colon') }}</label>
      <input required type="password" name="password_confirmation" id="password_confirmation" size="10" maxlength="16" />

      <label for="referrer">{{ t('register_referrer') }}{{ t('general_colon') }}</label>
      <input type="number" name="referrer" id="referrer" size="10" maxlength="16" />

      <label class='terms'><input type='checkbox' required /> I have read and accept the <a href="/terms.php">terms and conditions</a></label>

      <div class="g-recaptcha" data-sitekey="{{ config['recaptcha']['sitekey'] }}"></div>

      <input type="submit" id="submit" value="Register now" />
    </form>
  {% endif %}
</div>
