<div class="layout--content-primary">
  <div id="breadcrumb" class="clearfix">
    <a href="/">Home</a>
    &rarr;
    <a href="/translations">Translation Home</a>
    &rarr;
    Pending rule suggestions
  </div>

  <h1>Translation - Pending rule suggestions</h1>

  <p>
    Make your changes below then click 'Save Changes' to store them in the
    database.
  </p>

  <form action="/translations/rule-suggestion-actions" method="POST" accept-charset="utf8">
    <table class='zebra'>
      <tr>
        <th>Language</th>
        <th>English country name</th>
        <th>Translated country name</th>
        <th>Review</th>
      </tr>
      {% for suggestion in suggestions %}
        <tr>
          <td>{{ suggestion['language_name'] }}</td>
          <td>{{ prettify(suggestion['rule_text']) }}</td>
          <td>{{ prettify(suggestion['translation']) }}</td>
          <td>
            <select name="action[{{ suggestion['id'] }}]">
              <option value="">Nothing yet</option>
              <option value="activate">Activate</option>
              <option value="delete">Delete</option>
            </select>
          </td>
        </tr>
      {% endfor %}
    </table>
    <br />
    <input type="submit" value="Save Changes" name="submit" />
  </form>
</div>

<div class="layout--sidebar-primary">
  {{ render_component_with("translations/menu", []) }}
</div>
