<div class='charts-show48-scoreboard-container'>
<div class="charts-show48-scoreboard charts-show48-scoreboard--{% if chart.chart.chart_type2 != 0 %}dual{% else %}single{% endif %}">
  <div class='charts-show-header'>
    <div class='charts-show-header-submission-1'>{{ chart.chart.name_pri }}</div>
    {% if chart.chart.chart_type2 != 0 %}
      <div class='charts-show-header-submission-2'>{{ chart.chart.name_sec }}</div>
    {% endif %}
    <div class='charts-show-header-awards'>Awards</div>
  </div>

  {% for entry in chart.entries %}
    <div class='charts-show-entry {{ classnames({
        'proven': entry.rec_status == 3,
        'unproven': entry.rec_status != 3,
        'is-me': entry.user_id == current_user.user_id,
        'is-friend': entry.user_id in user_friends,
        'not-friend': entry.user_id != current_user.user_id and entry.user_id not in user_friends,
        'top10': entry.chart_pos <= 10,
        'has-award': entry.award != null,
        }) }} chart-{{ chart.rank }} medal-{{ entry.award.value ?? 'none' }}' id='record_{{ entry.record_id }}'>

      <div class='charts-show-position'>
        <div class="charts-show-position-award">
          {{ award_image_tag(entry.award) }}
        </div>
        <div class="charts-show-position-number">
          {{ nth(entry.chart_pos) }}
        </div>
      </div>

      {{ user_avatar_image_tag(entry, {'class': 'charts-show-user-avatar'}) }}

      <div class='charts-show-user-preferred-icon'>
        {{ chart_icon_image_tag(entry) }}
      </div>

      <div class='charts-show-user-identification'>
        <a href="/scoreboards/medal?country={{ entry.country_id }}" class="charts-show-user-country-flag">
          {{ country_flag_image_tag(entry) }}
        </a>

        <!-- TODO: extract to helper -->
        <a href='/users/{{ entry.user_id }}' class='charts-show-user-display-name user-display-name {% if current_user.show_full_names != 'yes' %}user-display-name--full{% else %}user-display-name--short{% endif %}'>
          <span class='user-display-name--forename'>{{ entry.forename }}</span>
          <span class='user-display-name--username'>{{ entry.username }}</span>
          <span class='user-display-name--surname'>{{ entry.surname }}</span>
        </a>

        {{ user_star_image_tags(entry) }}
      </div>

      <div class="charts-show-details">
        <div class='charts-show-details-date'>
          {% if awards.cxp %}
            <b>[L{{ entry.base_level }}]</b>
          {% endif %}
          {{ format_date(entry.last_update) }}
        </div>

        {% if entry.rec_status == 1 %}
          <img src="{{ skin_image_url("error.png") }}" width="16" height="16" alt="Pending investigation" title="Pending investigation" />
        {% elseif entry.rec_status == 2 %}
          <img src="{{ skin_image_url("exclamation.png") }}" width="16" height="16" alt="Under investigation" title="Under investigation" />
        {% elseif entry.rec_status == 3 %}
          <img src="{{ skin_image_url("tick.png") }}" width="16" height="16" alt="Record approved" title="{{ t('general_rec_status_' ~ entry.proof_type) }}" />
        {% endif %}

        {% if entry.comment %}
          <img
            onclick="toggleComment(this)"
            data-row="record_{{ entry.record_id }}"
            src="/images/comment.png"
            alt="{{ entry.comment }}"
            title="{{ entry.comment }}"
          />
        {% endif %}

        {% if entry.proof_details %}
          <a href="{{ entry.proof_details.url }}" target="_blank"><img src="{{ entry.proof_details.icon }}" width="16" height="16" alt="Proof" title="View proof" /></a>
        {% endif %}
      </div>

      {% if entry.comment %}
        <div class="charts-show-comment-text">User says: <span class='charts-show-comment-actual-text'>"{{ prettify(entry.comment) }}"</span></div>
      {% endif %}

      <!-- always make room for the primary submission -->
      <div class="charts-show-submission charts-show-submission-1">
        <a class='charts-show-submission-value' href="/record/{{ entry.record_id }}" style='font-weight: bold; {% if entry.submission is same as NULL %} font-style: italic;{% endif %}'>
          <span class="bigger" {% if entry.submission is same as NULL %}title="{{ entry.submission2 }} / {{ chart.chart.conversion_factor }} = {{ entry.submission2 / chart.chart.conversion_factor }}"{% endif %}>
            {{ format_submission_part(entry.ugh_submission, 'primary') }}
          </span>
        </a>

        {% if entry.chart_pos != 1 %}
          <div class='charts-show-submission-distance'>({{ entry.ugh_submission.distance1 }})</div>
        {% endif %}
      </div>

      {% if chart.chart.chart_type2 != 0 %}
        <div class='charts-show-submission charts-show-submission-2'>
          {% if entry.ugh_submission.submission2 is not same as NULL %}
            <a class='charts-show-submission-value' href="/record/{{ entry.record_id }}" style='font-weight: bold; {% if entry.submission2 is same as NULL %} font-style: italic;{% endif %}'>
              <span class="bigger" {% if entry.submission2 is same as NULL %}title="{{ entry.submission }} * {{ chart_info.conversion_factor }} = {{ entry.submission * chart_info.conversion_factor }}"{% endif %}>
                {{ format_submission_part(entry.ugh_submission, 'secondary') }}
              </span>
            </a>

            {% if entry.chart_pos != 1 %}
              <div class='charts-show-submission-distance'>({{ entry.ugh_submission.distance2 }})</div>
            {% endif %}
          {% endif %}
        </div>
      {% endif %}

      <!-- awards -->
      <div class='charts-show-awards'>
        {% if chart.awards.csp %}
          <div class="charts-show-awards--csp-csr">
            <span title="{{ entry.ucsp|round(2) }} UCSP">{{ entry.csp|round(2) }} {{ t('general_csp') }}
              <br />
              [<b>{{ entry.csr|round(2) }} {{ t('general_csr') }}</b>]</span>
          </div>
        {% endif %}

        {% if chart.awards.arcade_points %}
          <div class="charts-show-awards--arcade">
            {{ entry.arcade_points|number_format(0) }} {{ t('general_ap_acronym') }}
          </div>
        {% endif %}

        {% if chart.awards.brain_power %}
          <div class="charts-show-awards--solution">
            {{ entry.brain_power|number_format(0) }}
            BP
          </div>
        {% endif %}

        {% if chart.awards.style_points %}
          <div class="charts-show-awards--userchallenge">
            {{ entry.style_points|number_format(1) }}
            {% if entry.style_points == 1 %}{{ t('general_challenge_points_singular') }}{% else %}{{ t('general_challenge_points_plural') }}{% endif %}
          </div>
        {% endif %}

        {% if chart.awards.cyberstars %}
          <div class="charts-show-awards--collectible">
            {% if entry.proof_type == 'v' or entry.proof_type == 's' or entry.proof_type == 'r' %}
            {{ (entry.cyberstars + 2)|number_format(0)}}
            {% elseif entry.rec_status == 3 or entry.rec_status == 4 %}
            {{ (entry.cyberstars + 1)|number_format(0)}}
            {% else %}
            {{ entry.cyberstars|number_format(0)}}
            {% endif %}
            Cyberstars
            {% if entry.rec_status == 3 or entry.rec_status == 4 -%}
              [
              {%- if entry.rec_status == 3 or entry.rec_status == 4 -%}
                <img src="{{ skin_image_url('scoreboards/proof.png') }}" height="12" width="12" alt="{{ t('viewrecords_records_approved') }}" title="{{ t('viewrecords_records_approved') }}">
              {%- endif -%}
              {%- if entry.proof_type == 'v' or entry.proof_type == 's' or entry.proof_type == 'r' -%}
                <img src="{{ skin_image_url('scoreboards/vproof.png') }}" height="12" width="12" alt="{{ t('scoreboards_total_subs_video_approved') }}" title="{{ t('scoreboards_total_subs_video_approved') }}">
              {%- endif -%}
              ]
            {%- endif -%}
          </div>
        {% endif %}

        {% if chart.awards.speedrun_points %}
          <div class="charts-show-awards--speedrun">
            {{ entry.medal_points|number_format(0) }}
            {{ t('general_speedrun_points') }}
          </div>
        {% endif %}

        {% if chart.awards.cxp %}
          <div class="charts-show-awards--incremental">
            {{ entry.cxp|number_format(1) }} {{ t('general_cxp') }} [<b>{{ entry.vs_cxp|number_format(0) }} {{ t('general_vxp') }}</b>]
          </div>
        {% endif %}
      </div>
    </div>
  {% endfor %}
</div>
</div>
