<style>
.blogHead {
  background: repeating-linear-gradient(-45deg, #e6e6ff, #e6e6ff 5px, white 8px, white 15px);
  border-width: 2px;
  border-style: solid;
  border-color: #b5d8ff;
  height: 47px;
  text-align: center;
  border-radius: 7px;
}

.blogPostTitle {
  background: repeating-linear-gradient(-45deg, #e6e6ff, #e6e6ff 5px, white 8px, white 15px);
  border-width: 2px;
  border-style: solid;
  border-color: #b5d8ff;
  height: 70px;
  text-align: center;
  border-radius: 7px;
}
</style>
<div class="blogPostTitle">
  <h1>
    {{ post.headline }}
    {% if has_access('GlobalMod') or post.user_id == current_user.user_id %}
      <a href="/articles/{{ post.news_id }}/edit">
        <img src="/images/Edit_new.png" title="Edit article" alt="Edit article" height="16px" width="16px" />
      </a>
      <form
          style="display: inline-block"
          action="/articles/{{ post.news_id }}/delete"
          method="post">
        <input
            type="image"
            title="Delete article"
            name="delete_article"
            src="/images/delete_new.png"
            width="16px"
            height="16px"
            alt="delete"
            onclick="return confirm('Are you sure you want to delete this user article?')" />
      </form>
    {% endif %}
  </h1>
  <p>
    <b>
      {{ t('news_article_info', {'date': format_datetime(post.news_date), 'username': post.username}) }}.
      {% if post.edit_user_id %}
        {{ t('news_article_info_edit', {'date': format_datetime(post.edit_date), 'username': post.editor_username }) }}
      {% endif %}
    </b>
  </p>
</div>

<div class="article">
  <p>{{ prettify(post.text) }}</p>
</div>

<hr />

{% if post.comments %}
  <h3>{{ post.comments|length }} {{ t('news_article_comments') }}</h3>

  <div id="comments" class="comments">
    {% for comment in post.comments %}
      {{ render_component_with('articles/comment', {'comment': comment}) }}
    {% endfor %}
  </div>
{% endif %}

{% if has_access('User') %}
  <h3>{{ t('news_article_leave_comment') }}</h3>

  <form action="/comments/create" method="post" onsubmit="this.elements['submit'].disabled=true;">
    {{ hidden_field('commentable_type', {'commentable_type': 'news'}) }}
    {{ hidden_field('commentable_id', {'commentable_id': post.news_id}) }}

    <textarea name="comment" rows="10" cols="75"></textarea>
    <br />
    <input type="submit" name="submit" value="{{ t('general_post_comment') }}" />
  </form>
{% endif %}
<script type="text/javascript">
function toggle_comment_mode(element, mode) {
  let comment = element.closest('.comments-comment')
  comment.classList.remove('display');
  comment.classList.remove('edit');
  comment.classList.remove('reply');
  comment.classList.add(mode);
}
</script>
