<!-- Tier 1 scoreboards -->
<style>
.user-stats-scoreboard {
  max-width: 150px;
  margin: 0 auto;
}
.user-stats-scoreboard th {
  max-width: 30px;
  max-height: 10px;
  vertical-align: top;
}
.user-stats-scoreboard th img {
  width: 12px;
  height: 12px;
}
</style>
<table class="zebraa">
  <tr>
    <!-- Starboard -->
    {% if csr.num_subs %}
      <th>
        <span class="chartname_standard">
          <a href="/scoreboards/starboard">
            <img class="stats_small" src="/images/CSStar.png" alt=''>
            <br />
            {{ t('general_mainboard') }}
            <br />
            <small>{{ nth(csr.scoreboard_pos) }}</small></a>
          <br />
          <small>{{ (csr.total_csr + csr.bonus_csr)|number_format(2) }} {{ t('general_csr') }}</small>
          <table class='user-stats-scoreboard'>
            <th>
              <img src="/skins4/default/images/record_status/submitted.png" />
              <br />
              <small>{{ csr.num_subs|number_format(0) }}</small>
            </th>
            <th>
              <img src="/skins4/default/images/record_status/approved.png" />
              <br />
              <small>{{ csr.num_approved|number_format(0) }}</small>
              <br />
              <small>{{ (csr.num_approved / csr.num_subs * 100)|number_format(2) }}%</small>
            </th>
            <th>
              <img src="/skins4/default/images/record_status/video_approval.png" />
              <br />
              <small>{{ csr.num_approved_v|number_format(0) }}</small>
              <br />
              <small>{{ (csr.num_approved_v / csr.num_subs * 100)|number_format(2) }}%</small>
            </th>
          </table>
        </span>
      </th>
    {% endif %}

    <!-- Medal Table / Standard -->
    {% if medal.num_subs %}
      <th>
        <span class="chartname_standard">
          <a href="/scoreboards/medal">
            <img class="stats_small" src="/images/icon_ranked.png">
            <br />
            {{ t('general_medal_table') }}
            <br />
            <small>{{ nth(medal.scoreboard_pos) }}</small>
          </a>
          <br />
          <table class="user-stats-scoreboard">
            <th>
              <img src="/images/icon-platinumstar.png" alt="platinum" />
              <br />
              <small>{{ medal.platinum|number_format(0) }}</small>
            </th>
            <th>
              <img src="/images/icon-goldstar-v2.png" alt="gold medal" />
              <br />
              <small>{{ medal.gold|number_format(0) }}</small>
            </th>
            <th>
              <img src="/images/icon-silverstar-v2.png" alt="gold medal" />
              <br />
              <small>{{ medal.silver|number_format(0) }}</small>
            </th>
            <th>
              <img src="/images/icon-bronzestar-v2.png" alt="gold medal" />
              <br />
              <small>{{ medal.bronze|number_format(0) }}</small>
            </th>
          </table>
          <table class='user-stats-scoreboard'>
            <th>
              <img src="/skins4/default/images/record_status/submitted.png" />
              <br />
              <small>{{ medal.num_subs|number_format(0) }}</small>
            </th>
            <th>
              <img src="/skins4/default/images/record_status/approved.png" />
              <small>{{ medal.num_approved|number_format(0) }}</small>
              <br />
              <small>{{ (medal.num_approved / medal.num_subs * 100)|number_format(2) }}%</small>
            </th>
            <th>
              <img src="/skins4/default/images/record_status/video_approval.png" />
              <br />
              <small>{{ medal.num_approved_v|number_format(0) }}</small>
              <br />
              <small>{{ (medal.num_approved_v / medal.num_subs * 100)|number_format(2) }}%</small>
            </th>
          </table>
        </span>
      </th>
    {% endif %}

    {% if trophy.trophy_points %}
      <!-- Trophy -->
      <th>
        <span class="chartname_standard">
          <a href="/scoreboards/trophy">
            <img class="stats_small" src="/images/icon_trophy.png">
            <br />
            {{ t('general_trophy_table') }}
            <br />
            <small>{{ nth(trophy.scoreboard_pos) }}</small>
          </a>
          <br />
          <table class="user-stats-scoreboard">
            <th>
              <img src="/skins4/default/images/trophy_points_trophy.png" alt="trophy points" />
              <br />
              <small>{{ trophy.trophy_points|number_format(0) }}</small>
            </th>
            <th>
              <img src="/skins4/default/images/trophy_1.png" alt="platinum" />
              <br />
              <small>{{ trophy.platinum|number_format(0) }}</small>
            </th>
            <th>
              <img src="/skins4/default/images/trophy_2.png" alt="gold" />
              <br />
              <small>{{ trophy.gold|number_format(0) }}</small>
            </th>
            <th>
              <img src="/skins4/default/images/trophy_3.png" alt="silver" />
              <br />
              <small>{{ trophy.silver|number_format(0) }}</small>
            </th>
            <th>
              <img src="/skins4/default/images/trophy_4.png" alt="bronze" />
              <br />
              <small>{{ trophy.bronze|number_format(0) }}</small>
            </th>
          </table>
        </span>
      </th>
    {% endif %}

    <!-- Rainbow -->
    {% if rainbow.rainbow_power %}
      <th>
        <span class="chartname_standard">
          <a href="/scoreboards/rainbow">
            <img class="stats_small" src="/images/rainbow_star.png">
            <br />
            {{ t('scoreboards_ultimate') }}
            <br />
            <small>{{ nth(rainbow.scoreboard_pos) }}</small>
          </a>
          <br />
          <small>{{ rainbow.rainbow_power|number_format(0) }} {{ t('scoreboards_rp') }}</small>
          {% if avg_rank %}
            <br />
            <small>Av. rank {{ nth(avg_rank) }}</small>
          {% endif %}
        </span>
      </th>
    {% endif %}
  </tr>
</table>

<br />

<!-- Tier 2 scoreboards (Chart flags) -->
<table class="zebraa">
  <tr>
    <!-- Arcade -->
    {% if arcade.num_subs %}
      <th>
        <span class="chartname_arcade">
          <a href="/scoreboards/arcade">
            <img class="stats_small" src="/images/icon_arcade.png">
            <br />
            {{ t('general_arcade_table') }}
            <br />
            <small>{{ nth(arcade.scoreboard_pos) }}</small>
          </a>
          <br />
          <small>{{ arcade.arcade_points|number_format(0) }} {{ t('general_ap') }}</small>
          <table class="user-stats-scoreboard">
            <th>
              <img src="/skins4/default/images/record_status/submitted.png" />
              <br />
              <small>{{ arcade.num_subs|number_format(0) }}</small>
            </th>
            <th>
              <img src="/skins4/default/images/record_status/approved.png" />
              <br />
              <small>{{ arcade.num_approved|number_format(0) }}</small>
              <br />
              <small>{{ (arcade.num_approved / arcade.num_subs * 100)|number_format(2) }}%</small>
            </th>
            <th>
              <img src="/skins4/default/images/record_status/video_approval.png" />
              <br />
              <small>{{ arcade.num_approved_v|number_format(0) }}</small>
              <br />
              <small>{{ (arcade.num_approved_v / arcade.num_subs * 100)|number_format(2) }}%</small>
            </th>
          </table>
        </span>
      </th>
    {% endif %}

    <!-- Speedrun -->
    {% if speedrun.num_subs %}
      <th>
        <span class="chartname_speedrun">
          <a href="/scoreboards/speedrun">
            <img class="stats_small" src="/images/icon_speedrun.png">
            <br />
            {{ t('general_speedrun_awards') }}
            <br />
            <small>{{ nth(speedrun.scoreboard_pos) }}</small>
          </a>
          <br />
          <small>{{ speedrun.speedrun_time }} [{{ speedrun.speedrun_points|number_format(0) }} {{ t('general_speedrun_points') }}]</small>
          <br />
          <table class="user-stats-scoreboard">
            <th>
              <img src="/skins4/default/images/record_status/submitted.png" />
              <br />
              <small>{{ speedrun.num_subs|number_format(0) }}</small>
            </th>
            <th>
              <img src="/skins4/default/images/record_status/approved.png" />
              <br />
              <small>{{ speedrun.num_approved|number_format(0) }}</small>
              <br />
              <small>{{ (speedrun.num_approved / speedrun.num_subs * 100)|number_format(2) }}%</small>
            </th>
            <th>
              <img src="/skins4/default/images/record_status/video_approval.png" />
              <br />
              <small>{{ speedrun.num_approved_v|number_format(0) }}</small>
              <br />
              <small>{{ (speedrun.num_approved_v / speedrun.num_subs * 100)|number_format(2) }}%</small>
            </th>
          </table>
        </span>
      </th>
    {% endif %}

    <!-- Solution -->
    {% if solution.num_subs %}
      <th>
        <span class="chartname_solution">
          <a href="/scoreboards/solution">
            <img class="stats_small" src="/images/icon_solution.png">
            <br />
            {{ t('general_solution_hub') }}
            <br />
            <small>{{ nth(solution.scoreboard_pos) }}</small>
          </a>
          <br />
          <small>{{ solution.brain_power|number_format(0) }} {{ t('general_brain_power') }}</small>
          <table class="user-stats-scoreboard">
            <th>
              <img src="/skins4/default/images/record_status/submitted.png" />
              <br />
              <small>{{ solution.num_subs|number_format(0) }}</small>
            </th>
            <th>
              <img src="/skins4/default/images/record_status/approved.png" />
              <br />
              <small>{{ solution.num_approved|number_format(0) }}</small>
              <br />
              <small>{{ (solution.num_approved / solution.num_subs * 100)|number_format(2) }}%</small>
            </th>
            <th>
              <img src="/skins4/default/images/record_status/video_approval.png" />
              <br />
              <small>{{ solution.num_approved_v|number_format(0) }}</small>
              <br />
              <small>{{ (solution.num_approved_v / solution.num_subs * 100)|number_format(2) }}%</small>
            </th>
          </table>
        </span>
      </th>
    {% endif %}

    <!-- Challenge -->
    {% if challenge.num_subs %}
      <th>
        <span class="chartname_challenge">
          <a href="/scoreboards/challenge">
            <img class="stats_small" src="/images/icon_challenge.png">
            <br />
            {{ t('general_challenge_table') }}
            <br />
            <small>{{ nth(challenge.scoreboard_pos) }}</small>
          </a>
          <br />
          <small>{{ challenge.cp|number_format(1) }} {{ t('general_challenge_points_plural') }}</small>
          <table class="user-stats-scoreboard">
            <th>
              <img src="/skins4/default/images/record_status/submitted.png" />
              <br />
              <small>{{ challenge.num_subs|number_format(0) }}</small>
            </th>
            <th>
              <img src="/skins4/default/images/record_status/approved.png" />
              <br />
              <small>{{ challenge.num_approved|number_format(0) }}</small>
              <br />
              <small>{{ (challenge.num_approved / challenge.num_subs * 100)|number_format(2) }}%</small>
            </th>
            <th>
              <img src="/skins4/default/images/record_status/video_approval.png" />
              <br />
              <small>{{ challenge.num_approved_v|number_format(0) }}</small>
              <br />
              <small>{{ (challenge.num_approved_v / challenge.num_subs * 100)|number_format(2) }}%</small>
            </th>
          </table>
        </span>
      </th>
    {% endif %}

    <!-- Collectible -->
    {% if collectible.num_subs %}
      <th>
        <span class="chartname_collectible">
          <a href="/scoreboards/collectible">
            <img class="stats_small" src="/images/icon_collectible.png">
            <br />
            {{ t('general_collectors_cache') }}
            <br />
            <small>{{ nth(collectible.scoreboard_pos) }}</small>
          </a>
          <br />
          <small>{{ collectible.cyberstars|number_format(0) }} {{ t('general_cyberstars') }}</small>
          <table class="user-stats-scoreboard">
            <th>
              <img src="/skins4/default/images/record_status/submitted.png" />
              <br />
              <small>{{ collectible.num_subs|number_format(0) }}</small>
            </th>
            <th>
              <img src="/skins4/default/images/record_status/approved.png" />
              <br />
              <small>{{ collectible.num_approved|number_format(0) }}</small>
              <br />
              <small>{{ (collectible.num_approved / collectible.num_subs * 100)|number_format(2) }}%</small>
            </th>
            <th>
              <img src="/skins4/default/images/record_status/video_approval.png" />
              <br />
              <small>{{ collectible.num_approved_v|number_format(0) }}</small>
              <br />
              <small>{{ (collectible.num_approved_v / collectible.num_subs * 100)|number_format(2) }}%</small>
            </th>
          </table>
        </span>
      </th>
    {% endif %}

    <!-- Incremental -->
    {% if incremental.num_subs %}
      <th>
        <span class="chartname_incremental">
          <a href="/scoreboards/incremental">
            <img class="stats_small" src="/images/icon_incremental.png">
            <br />
            {{ t('general_experience_table') }}
            <br />
            <small>{{ nth(incremental.scoreboard_pos) }}</small>
          </a>
          <br />
          <small>{{ incremental.vs_cxp|number_format(0) }} {{ t('general_versus_xp') }} [{{ t('general_level') }} {{ incremental.base_level }}]</small>
          <table class="user-stats-scoreboard">
            <th>
              <img src="/skins4/default/images/record_status/submitted.png" />
              <br />
              <small>{{ incremental.num_subs|number_format(0) }}</small>
            </th>
            <th>
              <img src="/skins4/default/images/record_status/approved.png" />
              <br />
              <small>{{ incremental.num_approved|number_format(0) }}</small>
              <br />
              <small>{{ (incremental.num_approved / incremental.num_subs * 100)|number_format(2) }}%</small>
            </th>
            <th>
              <img src="/skins4/default/images/record_status/video_approval.png" />
              <br />
              <small>{{ incremental.num_approved_v|number_format(0) }}</small>
              <br />
              <small>{{ (incremental.num_approved_v / incremental.num_subs * 100)|number_format(2) }}%</small>
            </th>
          </table>
        </span>
      </th>
    {% endif %}
  </tr>
</table>

<br />

<!-- Tier 3 scoreboards (submissions) -->
<table class="zebraa">
  <tr>
    <!-- Total Submissions -->
    {% if subs.total %}
      <th>
        <span class="chartname_standard">
          <a href="/scoreboards/submissions">
            <img class="stats_small" src="/images/icon_submissions.png">
            <br />
            {{ t('general_total_subs') }}
            <br />
            <small>{{ nth(subs.scoreboard_pos) }}</small>
          </a>
          <br />
          <small>{{ subs.total|number_format(0) }} {{ t('general_submissions_lowercase') }}</small>

          {% if num_pending_approval %}
            <br />
            <span class="chartname_speedrun"><small>(<a href="/records?user_id={{ user.user_id }}&amp;selectstatus=4">{{ num_pending_approval|number_format }} {{ t('profile_pending') }}</a>)</small></span>
          {% endif %}

          {% if num_ui %}
            <br />
            <span class="chartname_solution"><small>(<a href="/records?user_id={{ user.user_id }}&amp;selectstatus=2">{{ t('sitestats_subs_ui') }}{{ num_ui|number_format }}</a>)</small></span>
          {% endif %}

          {% if num_pi %}
            <br />
            <span class="chartname_solution"><small>(<a href="/records?user_id={{ user.user_id }}&amp;selectstatus=1">{{ t('sitestats_subs_pi') }}{{ num_pi|number_format }}</a>)</small></span>
          {% endif %}
        </span>
      </th>
    {% endif %}

    <!-- Proof -->
    {% if proof.total %}
      <th>
        <span class="chartname_standard">
          <a href="/scoreboards/proof">
            <img class="stats_small" src="/images/icon_proof.png">
            <br />
            {{ t('general_proof_board') }}
            <br />
            <small>{{ nth(proof.scoreboard_pos) }}</small>
          </a>
          <br />
          <small>{{ proof.total|number_format(0) }} {{ t('scoreboards_total_subs_total_approved') }}</small>
        </span>
      </th>
    {% endif %}

    <!-- Video Proof -->
    {% if video_proof.total %}
      <th>
        <span class="chartname_standard">
          <a href="/scoreboards/vproof">
            <img class="stats_small" src="/images/icon_vproof.png">
            <br />
            {{ t('general_vproof_board') }}
            <br />
            <small>{{ nth(video_proof.scoreboard_pos) }}</small>
          </a>
          <br />
          <small>{{ video_proof.total|number_format(0) }} {{ t('scoreboards_total_subs_video_approved') }}</small>
        </span>
      </th>
    {% endif %}
  </tr>
</table>
<br />

<!-- Latest submissions -->
<h2 class="caption">{{ t('general_latest_subs') }}</h2>
<table id="latest_records_table" class="zebra">
  <thead>
    <tr>
      <th style="padding-left: 10px;"></th>
      <th>{{ t('general_user') }}</th>
      <th>{{ t('general_game') }}</th>
      <th>{{ t('general_group_and_chart') }}</th>
      <th>{{ t('general_record') }}</th>
      <th colspan="3">{{ t('general_position') }}</th>
      <th>Award</th>
      <th style="text-align: right; padding-right: 15px;">{{ t('general_date') }}</th>
    </tr>
  </thead>
  {% for latest in latest_subs %}
    <tr>
      <!-- User -->
      <td class="flag" style="padding-top: 4px; padding-left: 10px;">
        {{ country_flag_image_tag(latest) }}
      </td>

      <td>
        {{ link_to_user(latest) }}
        {{ user_star_image_tags(latest) }}
      </td>

      <!-- game -->
      <td>
        <a href="/game/{{ latest.game_id }}"><strong>{{ latest.game_name }}</strong></a>
      </td>

      <!-- chart & group -->
      <td>
        {% if latest.group_id %}
          <span class="chartname_{{ latest.group_colour }}">
            <a href="/group/{{ latest.game_id }}/{{ latest.group_id }}">{{ latest.group_name }}</a>
          </span>
          &rarr;
        {% endif %}
        <span class="chartname_{{ latest.colour }}">
          <a href="/chart/{{ latest.level_id }}">{{ latest.chart_name }}</a>
        </span>
      </td>

      <!-- submission -->
      <td>
        <span class="chartname_{{ latest.colour }}">
          <a href="/record/{{ latest.record_id }}">{{ format_submission(latest) }}</a>
        </span>
        {% if latest.comment %}
          <img src="/images/comment.png" alt="{{ latest.comment }}" title="{{ latest.comment }}" />
        {% endif %}
      </td>

      <!-- medal & position -->
      <td style="padding-top: 6px;">
        {% if latest.awards.medals %}
          {% if latest.chart_pos == 1 and latest.platinum == 1 %}
            <img src="/images/icon-platinumstar.png" title="Platinum" />
          {% elseif latest.chart_pos == 1 %}
            <img src="/images/icon-goldstar-v2.png" title="Gold" />
          {% elseif latest.chart_pos == 2 %}
            <img src="/images/icon-silverstar-v2.png" title="Silver" />
          {% elseif latest.chart_pos == 3 %}
            <img src="/images/icon-bronzestar-v2.png" title="Bronze" />
          {% endif %}
        {% endif %}
      </td>
      <td>{{ latest.chart_pos }} / {{ latest.chart_subs }}</td>
      <td></td>

      <!-- Awards! -->
      <td style="font-size: 80%; width: 125px;">
        <!-- CSP & CSR -->
        {% if latest.awards.csp %}
          <span class="chartname_standard">
            <strong>{{ latest.csr|number_format(2) }} CSR</strong>
            -
            {{ latest.csp|number_format(2) }} CSP
          </span>
          <br />
        {% endif %}

        <!-- Chart-flag awards -->
        {% if latest.awards.arcade_points %}
          <span class="chartname_arcade">
            <a href="/record/{{ latest.record_id }}">{{ latest.arcade_points|number_format(0) }} Tokens</a>
          </span>
          <br />
        {% endif %}

        {% if latest.awards.brain_power %}
          <span class="chartname_solution">
            <a href="/record/{{ latest.record_id }}">{{ latest.brain_power|number_format(0) }} Brain Power</a>
          </span>
          <br />
        {% endif %}

        {% if latest.awards.speedrun_points %}
          <span class="chartname_speedrun">
            <a href="/record/{{ latest.record_id }}">{{ latest.medal_points|number_format(0) }} Speedrun Points</a>
          </span>
          <br />
        {% endif %}

        {% if latest.awards.style_points %}
          <span class="chartname_challenge">
            <a href="/record/{{ latest.record_id }}">{{ latest.style_points|number_format(1) }} Style Points</a>
          </span>
          <br />
        {% endif %}

        {% if latest.awards.cyberstars %}
          <span class="chartname_collectible">
            <a href="/record/{{ latest.record_id }}">{{ latest.cyberstars|number_format(0) }} Cyberstars</a>
          </span>
          <br />
        {% endif %}

        {% if latest.awards.cxp %}
          <span class="chartname_incremental">
            <a href="/record/{{ latest.record_id }}">{{ latest.cxp|number_format(0) }} CXP [<b>{{ latest.vs_cxp|number_format(0) }} VXP</b>]</a>
          </span>
          <br />
        {% endif %}
      </td>

      <!-- Date/time -->
      <td style="text-align: right; padding-right: 15px;">
        {{ format_datetime(latest.last_update) }}
      </td>
    </tr>
  {% endfor %}
</table>
<small><a href="/records?user_id={{ user.user_id }}&amp;selectsort=6">{{ t('profile_view_more') }}</a></small>
