<div class="layout--content-primary">
  <div id="breadcrumb" class="clearfix">
    <a href="/">Home</a> &rarr;
    <a href="/scoreboards">{{ t('general_scoreboards') }}</a> &rarr;
    Monthly Chart Challenge Scoreboard
  </div>

  <h1>Monthly Chart Challenge Scoreboard ({{ year }}-{{ month }})</h1>

  <p>Each time you submit to an empty chart you earn a point on this scoreboard. All chart types qualify for this board. Users placing in the top 3 will earn a badge on a monthly basis.</p>

  <form action="" method="GET">
    <select name="date" onchange="this.form.submit()">
      {% for e in dates %}
        <option value="{{ e.id }}" {{ option_selected(e.id, year ~ "-" ~ month) }}>{{ e.label }}</option>
      {% endfor %}
    </select>
  </form>
  <table class="scoreboard" id="scoreboard_classic">
    {% for entry in scoreboard %}
      <tr {{ entry.tr_class }}>
        <td class="pos">{{ entry.pos_content|raw }}</td>
        <td class="flag">{{ country_flag_image_tag(entry) }}</td>
        <td class="userpic">{{ user_avatar_image_tag(entry, []) }}</td>
        <td class="name">{{ link_to_user(entry) }}</td>
        <td class="data">{{ entry.points|number_format(0) }}</td>
      </tr>
    {% endfor %}
  </table>
</div>
