<div class="layout--content-primary">
  <div class='title-header'>
    <div id="breadcrumb" class="clearfix">
      <a href="/">{{ t('general_home') }}</a> &rarr;
      <a href="/games.php">{{ t('general_games') }}</a> &rarr;
      {{ link_to_game(game) }} &rarr;
      <a href="/group_stats.php?game_id={{ game.game_id }}&type={{ selected_scoreboard.scoreboard }}&group_ids={{ group_filter }}">{{ t('groupstats_title') }} - {{ t(selected_scoreboard.label) }}</a>

      {{ render_component_with("games/language-selection", {'game_id': game.game_id}) }}
    </div>
  </div>

  <h1>{{ game_name }}</h1>

  <form action="/group_stats.php" method="get">
    <input type="hidden" name="game_id" value="{{ game.game_id }}" />
    <input type="hidden" name="type" value="{{ board }}" />

    <select name="group_ids[]" size="7" multiple="multiple">
      {% for group in groups %}
        <option value="{{ group.group_id }}" {% if group.selected %}selected="selected"{% endif %}>
          {{ group.name }}
        </option>
      {% endfor %}
    </select>
    <br />
    <input type="submit" value="{{ t('groupstats_select_groups') }}" />
  </form>
  <br />
  <form action="/group_stats.php" method="get">
    <input type="hidden" name="game_id" value="{{ game.game_id }}" />
    <input type="hidden" name="group_ids" value="{{ group_filter }}" />

    <select name="type" class="btn-game btn-game--standard" onchange="this.form.action=this.form.submit();">
      {% for scoreboard in scoreboards %}
        {% if scoreboard.entries|length > 0 %}
          <option value="{{ scoreboard.scoreboard }}" {{ option_selected(board,  scoreboard.scoreboard) }}>{{ t(scoreboard.label) }}</option>
        {% endif %}
      {% endfor %}
    </select>
  </form>

  {{ t('leaderboards_unranked_group') }}

  <h3>{{ t(selected_scoreboard.label) }}</h3>

  {{ render_component_with("group-scoreboards/" ~ board, {'scoreboard': selected_scoreboard, 'game': game}) }}
</div>

<div class="layout--sidebar-primary">
  {{ render_component_with('games/rhs-game-info', {'game': game}) }}
</div>
<div class="layout--sidebar-secondary">
  {{ render_component_with('games/rhs-small-scoreboard', {'game': game}) }}
  {{ render_component_with('games/rhs-split-info', {'game': game}) }}
  {{ render_component_with('games/sidebar-related-games', {'game': game}) }}
</div>

<script type="text/javascript">

function rememberDetailsState(details) {
  if (details.open != true) {
    window.localStorage.setItem(`open-${details.dataset.id}`, false);
  } else {
    window.localStorage.removeItem(`open-${details.dataset.id}`);
  }
}

function loadDetailsState(details) {
  if (window.localStorage.getItem(`open-${details.dataset.id}`) == 'false') {
    details.open = false;
  }
}

//Load and emulate the remembered state of each HTML details element upon pageload.
document.querySelectorAll('details').forEach((e) => loadDetailsState(e));
</script>
