<div class="layout--content-primary">
  <div id="breadcrumb" class="clearfix">
    <a href="/">{{ t('general_home') }}</a> &rarr;
    {{ t('general_scoreboards') }}
  </div>

  <h1>{{ t('scoreboards_header') }}</h1>

  <p>{{ t('scoreboards_intro') }}</p>

  {% for section in scoreboards %}
    <div class="scoreboards" style="margin-top: 4em">
      {% for scoreboard in section %}
        <div>
          <div class='scoreboard-icon'><img src="{{ scoreboard[1] }}" /></div>
          <a href="{{ scoreboard[0] }}" class='{{ scoreboard[2] }}'>{{ scoreboard[3] }}</a>
        </div>
      {% endfor %}
    </div>
  {% endfor %}
</div>
