<h3 class="middle">{{ t('general_games') }}</h3>
<table class="usergames">
  <tr class="altrow">
    <td class="name">{{ t('sitestats_games_total') }}</td>
    <td class="number">{{ num_games|number_format }}</td>
  </tr>
</table>

<h3 class="middle">{{ t('sitestats_byplatform') }}</h3>
<small>{{ t('sitestats_multiformat') }}</small>

<table class="usergames zebra">
  {% for plat in game_plats %}
    <tr>
      <td class="name">{{ plat.platform_name }}</td>
      <td class="number">{{ plat.num_games }}</td>
    </tr>
  {% endfor %}
</table>
