<h3 class="middle">Remaining platinums per year</h3>
<table class="usergames zebra">
  {% for game in remainingplats %}
    <tr>
      <td class="rank">{{ game.year }}</td>
      <td class="number">{{ game.count|number_format }} platinum medals remaining</td>
    </tr>
  {% endfor %}
</table>
