<h3 class="middle">{{ t('general_charts') }}</h3>
<table class="usergames">
  <tr class="altrow">
    <td class="name">{{ t('sitestats_charts_total') }}</td>
    <td class="number">{{ total_charts|number_format }}</td>
  </tr>
  <tr>
    <td class="name">{{ t('sitestats_charts_withsubs') }}</td>
    <td class="number">{{ subbed_charts|number_format }}</td>
  </tr>
  <tr class="altrow">
    <td class="name">{{ t('sitestats_charts_time') }}</td>
    <td class="number">{{ time_charts|number_format }}</td>
  </tr>
  <tr>
    <td class="name">{{ t('sitestats_charts_score') }}</td>
    <td class="number">{{ score_charts|number_format}}</td>
  </tr>
</table>
