<h3 class="middle">Highest number of submissions in a day</h3>
<table class="usergames zebra">
  {% for user in biggestsubdays %}
    <tr>
      <td class="rank">{{ nth(loop.index) }}</td>
      <td class="name"><a href="/user/{{ user.user_id }}">{{ user.username }}</a></td>
      <td class="number">{{ user.num_subs|number_format }} Submissions</td>
      <td class="number">{{ user.date }}</td>
    </tr>
  {% endfor %}
</table>
