<h3 class="middle">Game scoreboards awarding the highest amount of bonus CSR</h3>
<table class="usergames zebra">
  {% for user in highestbonuscsr %}
    <tr>
      <td class="rank">{{ nth(loop.index) }}</td>
      <td class="name"><a href="/game/{{ user.game_id }}">{{ user.gamename }}</a></td>
      <td class="name"><a href="/user/{{ user.user_id }}">{{ user.username }}</a></td>
      <td class="number">{{ user.bonus_csr|round(3)|number_format }} bonus CSR</td>
    </tr>
  {% endfor %}
</table>
