<div class="layout--content-primary layout--content-primary-readable">
  <div id="breadcrumb" class="clearfix">
    <a href="/">{{ t('general_home') }}</a> &rarr;
    <a href="/documentation">{{ t('general_documentation') }}</a> &rarr;
    {{ t('general_dev_changelog') }}

    {% if has_access('Dev') %}
      <a title="Add Entry" href="/articles/new">
        <img src="{{ skin_image_url('plus_icon.gif') }}" width="11" height="11" alt="add" />
      </a>
    {% endif %}
  </div>

  {% for news in posts %}
    <div class="blogPostTitle" style="margin-left: 30px; margin-right: 30px;">
      <h1>
        {{ news.headline }}
        {% if has_access('GlobalMod', news.user_id) %}
          <a href="/articles/{{ news.news_id }}/edit">
            <img src="/images/Edit_new.png" title="Edit article" alt="Edit article" height="16px" width="16px" />
          </a>

          <form style="display: inline-block" action="/articles/{{ news.news_id }}/delete" method="post">
            <input
                type="image"
                title="Delete article"
                name="delete_article"
                src="/images/delete_new.png"
                width="16px"
                height="16px"
                alt="delete"
                onclick="return confirm('Are you sure you want to delete this changelog entry?')" />
          </form>
        {% endif %}
      </h1>

      <p>
        <strong>
          {{ t('news_article_info', {'date': format_datetime(news.news_date), 'username': news.username}) }}
          {% if news.editor %}
            {{ t('news_article_info_edit', {'date': format_datetime(news.edit_date), 'username': news.editor.username}) }}
          {% endif %}
        </strong>
      </p>
    </div>

    <div class="article" style="margin-left: 50px;">
      <p>{{ prettify(news.body) }}</p>
    </div>
  {% endfor %}
</div>
