<div class="tabbed-modules">
  <div class="tabbed-modules-sidebar">
    <div class="sidebar-navigation">
      {{ render_component_with('tabbed-sidebar', {'sidebar': sidebar, 'src': src, 'name': 'proof_stats'}) }}
    </div>
  </div>
  <div class="tabbed-modules-contents">
    <div>
      {{ render_component_with('proof-stats/' ~ src, []) }}
    </div>
  </div>
</div>
