<div class="layout--content-primary layout--content-primary-readable">
  <div id="breadcrumb">
    <a href="/">{{ t('general_home') }}</a> &rarr;
    <a href="/documentation">{{ t('general_documentation') }}</a> &rarr;
    {{ t('general_site_rules') }}
  </div>

  <h1>{{ t('general_site_rules') }}</h1>

  <h2 id='conduct'>{{ t('rules_10_header') }}</h2>
  {{ t('rules_10_content') }}</p>

  <h2 id='your-account'>{{ t('rules_1_header') }}</h2>
  <p>{{ t('rules_1_content') }}</p>

  <h2 id='accuracy'>{{ t('rules_2_header') }}</h2>
  <p>{{ t('rules_2_content') }}</p>

  <h2 id='browser-fan-hack-games'>{{ t('rules_13_header') }}</h2>
  {{ t('rules_13_content') }}</p>

  <h2 id='record-or-proof-theft'>{{ t('rules_11_header') }}</h2>
  {{ t('rules_11_content') }}</p>

  <h2 id='submission-removal'>{{ t('rules_3_header') }}</h2>
  {{ t('rules_3_content') }}</p>

  <h2 id='submission-deletion'>{{ t('rules_4_header') }}</h2>
  {{ t('rules_4_content') }}</p>

  <h2 id='unofficial-ware'>{{ t('rules_5_header') }}</h2>
  {{ t('rules_5_content') }}</p>

  <h2 id='modifications'>{{ t('rules_6_header') }}</h2>
  {{ t('rules_6_content') }}</p>

  <h2 id='official-save-states'>{{ t('rules_12_header') }}</h2>
  {{ t('rules_12_content') }}</p>

  <h2 id='pause-abuse'>{{ t('rules_7_header') }}</h2>
  {{ t('rules_7_content') }}</p>

  <h2 id='in-game-cheats-glitches'>{{ t('rules_8_header') }}</h2>
  {{ t('rules_8_content') }}</p>

  <h2 id='multiplayer'>{{ t('rules_9_header') }}</h2>
  {{ t('rules_9_content') }}</p>
</div>
