<div class="layout--content-primary layout--content-primary-readable">
  <div id="breadcrumb">
    <a href="/">{{ t('general_home') }}</a> &rarr;
    {{ t('terms_title') }}
  </div>

  <h1>{{ t('terms_head') }}</h1>

  <h2>1 {{ t('terms_1') }}</h2>
  <p>1.1 {{ t('terms_1_1') }}</p>
  <p>1.2 {{ t('terms_1_2') }}</p>
  <p>1.3 {{ t('terms_1_3') }}</p>

  <h2>2 {{ t('terms_2') }}</h2>
  <p>{{ t('terms_2_1') }}</p>

  <h2>3 {{ t('terms_3') }}</h2>
  <p>{{ t('terms_3_1') }}</p>

  <h2>4 {{ t('terms_4') }}</h2>
  <p>4.1 {{ t('terms_4_1') }}</p>
  <p>4.2 {{ t('terms_4_2') }}</p>

  <h2>5 {{ t('terms_5') }}</h2>
  <p>{{ t('terms_5_1') }}</p>

  <h2>6 {{ t('terms_6') }}</h2>
  <p>6.1 {{ t('terms_6_1') }}</p>

  <p>6.2 {{ t('terms_6_2') }}</p>
  <p>6.2.1 {{ t('terms_6_2_1') }}</p>
  <p>6.2.2 {{ t('terms_6_2_2') }}</p>
  <p>6.2.3 {{ t('terms_6_2_3') }}</p>
  <p>6.2.4 {{ t('terms_6_2_4') }}</p>
  <p>6.2.5 {{ t('terms_6_2_5') }}</p>
  <p>6.2.6 {{ t('terms_6_2_6') }}</p>
  <p>6.2.7 {{ t('terms_6_2_7') }}</p>
  <p>6.2.8 {{ t('terms_6_2_8') }}</p>
  <p>6.2.9 {{ t('terms_6_2_9') }}</p>
  <p>6.2.10 {{ t('terms_6_2_10') }}</p>
  <p>6.2.11 {{ t('terms_6_2_11') }}</p>
  <p>6.2.12 {{ t('terms_6_2_12') }}</p>
  <p>6.2.13 {{ t('terms_6_2_13') }}</p>

  <p>6.3 {{ t('terms_6_3') }}</p>

  <h2>7 {{ t('terms_7') }}</h2>
  <p>7.1 {{ t('terms_7_1') }}</p>

  <h2>8 {{ t('terms_8') }}</h2>
  <p>8.1 {{ t('terms_8_1') }}</p>

  <h2>9 {{ t('terms_9') }}</h2>
  <p>9.1 {{ t('terms_9_1') }}</p>

  <h2>10 {{ t('terms_10') }}</h2>
  <p>10.1 {{ t('terms_10_1') }}</p>
  <p>10.2 {{ t('terms_10_2') }}</p>

  <h2>11 {{ t('terms_11') }}</h2>
  <p>{{ t('terms_11_1') }}</p>

  <h2>12 {{ t('terms_12') }}</h2>
  <p>12.1 {{ t('terms_12_1') }}</p>
  <p>12.2 {{ t('terms_12_2') }}</p>
  <p>12.3 {{ t('terms_12_3') }}</p>
  <p>12.4 {{ t('terms_12_4') }}</p>
  <p>12.5 {{ t('terms_12_5') }}</p>

  <h2>13 {{ t('terms_13') }}</h2>
  <p>{{ t('terms_13_1') }}</p>

  <h2>14 {{ t('terms_14') }}</h2>
  <p>{{ t('terms_14_1') }}</p>

  <hr/>

  <h2>{{ t('terms_forum') }}</h2>
  <p>{{ t('terms_forum_1') }}</p>
  <p>{{ t('terms_forum_2') }}</p>
  <p>{{ t('terms_forum_3') }}</p>
  <p>{{ t('terms_forum_4') }}</p>
  <p>{{ t('terms_forum_5') }}</p>
  <p>{{ t('terms_forum_6') }}</p>
  <p>{{ t('terms_forum_7') }}</p>
</div>
