<div class="layout--content-primary">
  <div id="breadcrumb" class="clearfix">
    <a href="/">{{ t('general_home') }}</a> &rarr;
    {{ link_to_game(game) }} &rarr;
    <a href="/mod_scripts/edit_game_groups.php?game_id={{ game.game_id }}">Edit game charts and groups</a> &rarr;
    <a href="/game-entities/{{ game.game_id }}/edit?lang_id={{ language_id }}">Edit entities</a>
  </div>

  <h2>Edit for this language:</h2>

  <form method="get">
    <input type="hidden" name="game_id" value="{{ game.game_id }}" />
    <select name="lang_id" onchange="this.form.submit();">
      {% for language in languages %}
        <option {{ option_selected(language.language_id, language_id) }} value="{{ language.language_id }}">
          {{ language.language_name }}
        </option>
      {% endfor %}
    </select>
  </form>
  <br />

  <form action="/game-entities/{{ game.game_id }}" method="post">
    <input type="hidden" name="game_id" value="{{ game.game_id }}" />
    <input type="hidden" name="lang_id" value="{{ language_id }}" />
    <table class="zebra">
      <tr>
        <th>Entity Group</th>
        <th>Edit Entity Name</th>
        <th>Entity Name</th>
        <th>Entity ID</th>
        <th colspan="2">Entity Icon</th>
        <th>Delete Entity</th>
      </tr>
      {% for entity in game_entities %}
        <tr>
          {% if entity.inherited_entity %}
            <td><input type="text" name="entity_groups[{{ entity.inherited_entity_id }}]" value="{{ entity.entity_group }}" size="2"></td>
            <td><a href="/game-entities/{{ entity.inherited_entity.game_id }}/edit">(Inherited from {{ entity.inherited_entity_id }})</a></td>
            <td>{{ entity.inherited_entity.entity_name }}</td>
            <td>{{ entity.inherited_entity.game_entity_id }}</td>
            <td>{% if entity.image_path %}<img data-entity="{{ entity.inherited_entity_id }}" src="{{ entity.image_path }}" />{% endif %}</td>
            <td></td>
          {% else %}
            <td><input type="text" name="entity_groups[{{ entity.game_entity_id }}]" value="{{ entity.entity_group }}" size="2"></td>
            <td><input type="text" name="entity_names[{{ entity.game_entity_id }}]" value="{{ entity.entity_name }}" size="50" /></td>
            <td>{{ entity.entity_name }}</td>
            <td>{{ entity.game_entity_id }}</td>
            <td>{% if entity.image_path %}<img data-entity="{{ entity.game_entity_id }}" src="{{ entity.image_path }}" />{% endif %}</td>
            <td><a href="#" onclick="document.getElementById('entity-icon-upload-entity-id').value = {{ entity.game_entity_id }}; popup('entity-upload-popup');">{{ t('chart_entity_icon') }}</a></td>
          {% endif %}
          <td><img src="/images/delete.png" width="11" height="11" alt="delete" /> Delete this entity: <input type="checkbox" name="delete[{{ entity.game_entity_id }}]"></td>
        </tr>
      {% endfor %}
    </table>
    <br />
    <input type="submit" value="Save changes" />
  </form>

  <h3><a href="javascript:ToggleDivVisible('entity_names');">Entity names for copying:</a></h3>
  <div id="entity_names" style="display:none;">
    {% for entity_name in entity_names %}
      {{ entity_name }}<br />
    {% endfor %}
  </div>

  {% if language_id > 1 %}
    <h3><a href="javascript:ToggleDivVisible('adv_translation');">Advanced translation:</a></h3>
    <div id="adv_translation" style="display:none;">
      Insert an explanation here<br />

      <form action="/game-entity-translations" method="post">
        <input type="hidden" name="game_id" value="{{ game.game_id }}" />
        <input type="hidden" name="lang_id" value="{{ language_id }}" />
        <textarea name="translation_info" rows="30" cols="70"></textarea>
        <br />
        <input type="submit" value="Add translations" />
      </form>
    </div>
  {% endif %}
</div>

<div class="layout--sidebar-primary">
  <div class='sidebar-section'>
    <h3 class='sidebar-title'>Translation info:</h3>
    <div class='sidebar-section-body'>
      {% for language in translation_languages %}
        {{ language.language_name }} -
        {{ language.percentage|number_format(1) }}%
        ({{ language.num_entity_names }})
        <br />
      {% endfor %}
    </div>
  </div>

  <div class='sidebar-section'>
    <h3 class='sidebar-title'>Add entities</h3>
    <div class='sidebar-section-body'>
      <form action="/game-entities" method="post">
        <input type="hidden" name="game_id" value="{{ game.game_id }}">

        Add new entities to {{ game_name }}.<br />
        Put one per line, write the <b>Entity Name</b>
        <br />
        <b>If there is no entity, please leave the entity system blank rather than using "N/A".</b>
        <br />
        <textarea name="entity_names" rows="20" cols="30"></textarea>
        <br />
        Add pre-existing entity IDs to {{ game_name }}.
        <br />
        Put one per line. write the <b>Entity ID</b><br />
        <textarea name="entity_ids" rows="20" cols="30"></textarea>
        <br />

        Entity group: <select name="entity_group" />
        {% for i in range(1, 4) %}
          <option>{{ i }}</option>
        {% endfor %}
        </select><br />
        <br />
        <input type="submit" value="Add entities" />
      </form>
    </div>
  </div>
</div>

{{ render_component_with('entity_icon_upload_popup', {'game': game}) }}
